[2020-11-21 12:30] dennissiemensma commented on #1210
Verder is het jammer dat er geen losse permissie is om bijvoorbeeld **niet de profielinfo** te hoeven inzien, wat dus wel gevraagd wordt op het eerste screenshot hierboven. Want ik kan dat als Developer ook niet uitzetten of beperken:

_(de tweede checkbox staat geforceerd aan)_
![Selection_011](https://user-images.githubusercontent.com/16581744/99877302-666be780-2bfd-11eb-8388-5f0ed1954e1a.png)

[2020-11-21 12:39] dennissiemensma commented on #1210
Ik zie dat een redirect sowieso niet gaat werken, want daarvoor wordt (terecht) HTTPS vereist en dat is in de meeste installaties van DSMR-reader geen optie vermoed ik. Ook omdat SSL certificaten met hosts of IP's van interne netwerken geen optie is helaas.

[code]

Wellicht dat ik hier 4 a 5 jaar geleden ook tegenaan liep en dat ik daarom koos voor de huidige oplossing. Dus dan wordt het een kwes

[2020-11-22 19:43] PascalBu opened #1212 "Geen recente metingen ontvangen"
Platform: RPI3B direct install

Krijg plotseling de melding "  Geen recente metingen ontvangen " zonder dat er iets veranderd is in de setup.

Dingen proberen uit te zoeken:
- update naar laatste versie (van 4.6 > 4.8)
- reboot
- USB kabel opnieuw verbonden
- lsusb laat de USB kabel zien wel gewoon zien
- cu geeft geen output (op DSMR versie 2/3, dus weet niet goed of dat klopt), maar eerder dus w

[2020-11-22 20:08] dennissiemensma commented on #1212
Bedankt voor je melding. Het is zaak dat je het eerst werkend krijgt via cu. Daarvoor zul je wel de datalogger van dsmrreader moeten stoppen om te voorkomen dat ze elkaar in de weg zitten.
En ik neem aan dat je de juiste parameters voor je meterversie hebt geprobeerd (V2 IPV V4+)?

cu -l /dev/ttyUSB0 -s 9600 --parity=none

[2020-11-22 20:21] PascalBu commented on #1212
Datalogger had ik nog niet gestopt, maar helaas ook na 'sudo supervisorctl stop dsmr-datalogger' en daarna jouw cu command geen output verder dan 'connected'.

Ligt het dan aan de USB kabel? Het gekke is dus dat ik niks veranderd heb. Wel is er een aantal dagen geleden stroomuitval geweest, maar daarna liep alles nog gewoon...

[2020-11-22 20:39] dennissiemensma commented on #1212
Het is lastig te zeggen. Helemaal als je niets hebt veranderd. En ik heb zelf (voor zover ik kan herinneren) nooit gehad of gelezen dat een kabel de geest gaf, maar het is zeker wel een mogelijkheid. Als het in cu niet werkt, werkt het in dsmrreader sowieso ook niet, dus is het zaak om het eerst daar werkend te krijgen.
Je zou nog wat tips kunnen vragen op Tweakers in een topic zoals deze, voordat

[2020-11-22 23:05] jschilperoord commented on #1212
Ik heb hier sinds kort ook last van. @PascalBu Welk OS draai je op je PI? Ik gebruik totaal andere hardware nml een PCEngines APU2. Ik heb het idee dat ik het probleem sinds de upgrade naar ubuntu 20.04 heb. Al draai ik DSMR in een Docker container zal de driver natuurlijk voor de USB kabel misschien nieuwer zijn ivm een nieuwere kernel. Overigens help het bij mij om gewoon de kabel even te ontkop

[2020-11-23 07:23] midget1234 opened #1213 "What are the default Login credentials and how to change these ?"
Wat zijn de default Login credentials vanuit de installatie ? Hoe zijn deze te wijzigen ? Ik zie geen (duidelijke) info in de FAQ en geen uitleg in de (gesloten) topics op Github.

<img width="462" alt="Schermafbeelding 2020-11-23 om 08 22 21" src="https://user-images.githubusercontent.com/13736772/99937063-06905080-2d65-11eb-8d55-8e2b6afac24b.png">

[2020-11-23 09:41] niekniek89 commented on #1213
Goedemorgen,

De default login credentials zijn:

Gebruikersnaam: admin
Wachtwoord: admin

Zodra je bent ingelogd, kies je voor "sla over en ga direct naar het beheer".
Daarna kan je rechtsboven kiezen voor "wachtwoord wijzigen".

[2020-11-23 12:58] marco2152 opened #1214 "DSMR webinterface werkt niet"
De DSMR webinterface werkt niet. Ik heb de volgende acties uitgevoerd (zonder resultaat tot nu toe):
1. DSMR update uitgevoerd
2. Zachte DSMR reload uitgevoerd (./reload.sh)
3. Harde DSMR reload uitgevoerd (sudo supervisorctl restart all)

Foutmelding na laatste commando:
* Reloading process: dsmr_webinterface (Gunicorn)kill: (589): Operation not permitted

[2020-11-23 15:11] PascalBu commented on #1212
Ik draai gewoon Raspbian, heb geen automatische updates aanstaan. Heb inmiddels een nieuwe kabel besteld, eens kijken wat dat doet.

[2020-11-23 16:34] dennissiemensma commented on #1212
Dank voor je update. Laat maar weten of dat het uiteindelijk oplost!

[2020-11-23 16:37] dennissiemensma commented on #1213
@midget1234 bedankt voor je vraag. Er zijn **geen standaard credentials**, die moet je (bewust) instellen. In de FAQ staat beschreven wat je moet doen: https://dsmr-reader.readthedocs.io/nl/v4/faq.html#how-do-i-set-admin-credentials

Ik zal dat in een toekomstige release nog wat uitbreiden.

Als workaround kun je ook handmatig je gebruiker aanmaken:
[code]

Het emailadres wordt niet gebruikt (DSMR

[2020-11-23 16:48] midget1234 commented on #1213
Merci! Topic kan wat mij betreft geloten worden. Wellicht idd handig om in de FAQ iets duidelijker te beschrijven. Het statement "Stel DSMR_USER en DSMR_PASSWORD in via de Env-instellingen" was voor mij in ieder geval niet voldoende.  Bedankt voor de snelle reacties!

[2020-11-23 16:48] dennissiemensma commented on #1213
Bedankt voor je terugkoppeling. Ik heb het net aangepast voor de volgende release in fa66cb97006f7ead45f7fcccf92b6089c85b388e.

[2020-11-23 16:48] #1213 closed, assigned to nobody

[2020-11-23 16:50] dennissiemensma commented on #1214
Bedankt voor je melding. Wat is de output van:

[code]

[2020-11-23 16:52] dennissiemensma commented on #1214
Houd er trouwens rekening mee dat je `sudo` command **niet als `dsmr`** gebruiker kan uitvoeren. Zowel je derde commando als die van mij net.

Je zult dan even een gebruiker hoger (meestal `pi` of `root`) moeten zijn. Dat kan meestal met `logout` of CTRL+D, er vanuitgaande dat je eerst "van boven naar beneden" bent ingelogd met `sudo su - dsmr`.

[2020-11-23 16:57] dennissiemensma commented on #1208
@hjkoster400d heb je een update voor bovenstaande? Zie je inmiddels het aantal opgeslagen metingen teruglopen en blijven de grafieken nu goed?

En hoever lijkt de dataopschoning? Als die voor je gevoel helemaal bij is zou je nog een laatste `vacuumdb` kunnen doen. De grootte zou dan significant minder moeten zijn.

[2020-11-24 08:03] hjkoster400d commented on #1208
Database is zeker een stuk kleiner geworden, heb zojuist nog een vacuumdb uitgevoerd en de database is nu 6031MB.

DSMR-READER
    App / Python / Database                                                        v4.8 / v3.7.3 / postgresql
    Backend sleep / Datalogger sleep / Retention cleanup                                  1.0s / 10.0s / 168h
    Telegram latest version read / Parser settings

[2020-11-24 08:12] marco2152 commented on #1214
Hi Dennis - ja, beide commando's uitgevoerd als pi user. Hier de output:
[image: image.png]
Groeten,
Marco

[2020-11-24 21:07] dennissiemensma commented on #1214
Bedankt voor je reactie. Afbeeldingen uploaden naar Github per e-mail werkt niet altijd, dus je kunt het beste even inloggen en opnieuw proberen.

[2020-11-24 21:10] marco2152 commented on #1214
![Uploading image.png…]()

[2020-11-24 21:19] dennissiemensma commented on #1208
Bedankt voor de update. Als de metingen goed opgeschoond zijn, begrijp ik niet zo goed waar de grootte van de database nog in zit.

Probeer deze variant ook even of dat nog wat uit maakt:

[code]

----

En wat geven al deze queries voor output?
[code]

### 1
[code]

----

Even weer CTRL + D en dan:

[code]

### 2
[code]

### 3
[code]

### 4
[code]

### 5
[code]

### 6
[code]

[2020-11-24 21:21] dennissiemensma commented on #1214
Ik denk dat je iets te snel bent geweest. Er staat nu letterlijk: `Uploading image.png…`

Je kunt voordat je op 'Comment' klikt even de preview van je bericht doen hier of die goed is geupload. Soms duurt het een paar tellen en dan zie je in je bericht zoiets verschijnen:

[code]

[2020-11-24 21:23] marco2152 commented on #1214
Blijft moeilijk dit, poging 5
![image](https://user-images.githubusercontent.com/54395975/100152871-a5bb6200-2ea3-11eb-99f5-60746ca32005.png)

[2020-11-24 21:26] dennissiemensma commented on #1214
Ah helder. Ik denk dat je het beste even in de logfile kunt kijken wat de fout is. Met:
[code]

Wat is de output?

[2020-11-24 21:27] dennissiemensma commented on #1214
Het zou namelijk zomaar kunnen dat je zoiets ziet: `Error: Already running on PID 1234 (or pid file '/var/tmp/gunicorn--dsmr_webinterface.pid' is stale)`

[2020-11-24 21:34] marco2152 commented on #1214
Ja, klopt helemaal. In mijn geval is PID 589.

Groeten,
Marco

[2020-11-24 21:39] dennissiemensma commented on #1214
In dat geval zul je de pidfile moeten weggooien en dan opnieuw het webinterface proces proberen te herstarten:

[code]

[2020-11-24 21:39] dennissiemensma opened #1216 "Remote datalogger envvars hernoemen"
Ze mogen in lijn met de andere envvars, al is een prefix waarschijnlijk genoeg.  Hiermee is het duidelijk dat ze namelijk geen invloed hebben op de normale installatie, want ik zie her en der dat het toch wat verwarrend is.

- Henoemen van `DATALOGGER_*` naar `REMOTE_DATALOGGER_*`.
- Opnemen in aparte sectie in `env_settings` docs.

[2020-11-24 21:40] marco2152 commented on #1214
En opgelost! Bedankt Dennis, heel fijn dat je zo laat nog me kon helpen.

Groeten,
Marco

[2020-11-24 21:41] dennissiemensma commented on #1214
Fijn om te horen, dank voor je snelle reactie.

[2020-11-24 21:41] #1214 closed, assigned to marco2152

[2020-11-25 08:13] hjkoster400d commented on #1208
Dank weer voor je hulp, hieronder de resultaten:

**1.**
[code]

**2.**
[code]

**3.**
[code]

[2020-11-25 08:33] hjkoster400d commented on #1208
Alles lijkt weer in order na de laatste vacuumdb.

![image](https://user-images.githubusercontent.com/7768158/100202171-3f652c80-2f01-11eb-9319-3f4d1a14c757.png)

[2020-11-25 19:49] dennissiemensma commented on #1208
Fijn om te horen! 43MB klinkt stukken aannemelijker met de aantallen die je nu in je DB hebt.

[2020-11-25 19:49] #1208 closed, assigned to hjkoster400d

[2020-11-25 20:16] SaturnusDJ opened #1217 "Welke Postgres queries voor dashboard, richting Grafana"
Ik draai DSMR Reader 3.2. (Niet meer geüpgradet vanwege de dashboard verandering.)

Data --> MQTT --> Home Assistant --> InfluxDB --> Grafana.
Maar data gaat ook naar Postgres natuurlijk.
Duplicatie, dus ik probeer nu direct Grafana Postgres te laten lezen.

Wel gelukt:

1. Grafiek voor gas- en elektriciteitsverbruik laatste 24 uur: interval 1 minuut.
2. Grafiek voor gas- en elektriciteitsverbruik

[2020-11-26 16:13] dennissiemensma commented on #1217
Bedankt voor je vraag. Het is wat lastig om hier de directe queries neer te zetten, omdat ik een ORM gebruik en daardoor de queries zelf niet maak en daarom vind je die niet in de code. Ik kan je wellicht wel op weg helpen wat je waar kunt vinden en een dump maken van enkele queries.

----

Alle metingen komen initieel binnen in de `dsmr_datalogger_dsmrreading` tabel. Voor elk telegram staat er ee

[2020-11-26 16:15] dennissiemensma commented on #1217
De exacte betekenis (of een omschrijving) van de meting-velden kun je hier vinden:
- https://github.com/dsmrreader/dsmr-reader/blob/v4/dsmr_datalogger/models/reading.py#L23
- Voor meterstatistieken hier: https://github.com/dsmrreader/dsmr-reader/blob/v4/dsmr_datalogger/models/statistics.py#L13

[2020-11-27 12:37] BjornB2 opened #1218 "Geen dagstatistieken meer sinds 1 okt. Wel live metingen zichtbaar. Retentie?"
Hey!
Ik zie zojuist dat sinds 1 oktober kennelijk geen metingen/dagstatistieken meer worden opgeslagen. Al zoekende kwam ik er achter dat ik geen retentie ingesteld had en dat er dus niks verwijderd werd. Ik gebruik DSMR al een aantal jaren, dus ik gok dat de DB volgelopen is. Ik heb nu wel een retentie ingesteld. Worden de gegevens nu vanzelf opgeschoond of moet ik iets handmatig doen om dit te f

[2020-11-27 12:39] BjornB2 commented on #1218
<img width="1155" alt="Schermafbeelding 2020-11-27 om 13 38 43" src="https://user-images.githubusercontent.com/3328086/100450439-ebe80f80-30b5-11eb-9fc5-040e8c606f26.png">

[2020-11-27 21:22] Deepdelver opened #1219 "Too many outgoing MQTT"
Ik krijg de volgende melding wanneer ik in dsmr reader v4.3.3 op status klik:

Too many outgoing MQTT messages queued for transit
Since: now

Hoe los ik dit op? Want er komen nu geen mqtt berichten binnen. Ik heb al geprobeerd te zoeken of ik de backlog kan verhogen. Maar kan hier niks over vinden.

[2020-11-27 21:33] dennissiemensma commented on #1219
Bedankt voor je vraag. Dit betekent meestal dat je ergens MQTT aan hebt staan in DSMR-reader, maar dat je de broker niet goed hebt ingesteld. Of DSMR-reader kan geen berichten afleveren naar je broker, zodat het ophoopt.

Je kunt het beste je MQTT-instellingen in DSMR-reader controleren. En anders kun je het beste beginnen bij de logfile van de `dsmr_backend`: https://dsmr-reader.readthedocs.io/en

[2020-11-27 21:36] dennissiemensma commented on #1218
Bedankt voor je melding. Zijn er nog andere waarschuwingen? Je kunt denk ik het beste even in #1208 kijken voor wat queries om te kijken hoever de retentie is. En het is ook handig om een infodump toe te voegen hier: https://dsmr-reader.readthedocs.io/en/latest/faq.html#debug-info-dump-for-github-issues

[2020-11-28 06:54] BjornB2 commented on #1218
Hey Dennis,

Dank voor je bericht. Ik denk dat mijn nieuwe retentieinstelling inmiddels 'verwerkt' is. Ik zie opeens weer data, ook voor de periode tussen 1 oktober en nu. Top!
Thanks voor deze super tool 😊

Björn

[2020-11-28 07:00] BjornB2 commented on #1200
Ik wilde net hetzelfde request plaatsen, dus een +1 voor integratie gewogen graaddagen. Dat is nu de enige reden dat ik naar mindergas exporteer 😊

[2020-11-29 08:04] Deepdelver commented on #1219
Thnx, ik dacht dat de instellingen gewoon goed stonden maar dat hij nu niet verstuurd vanwege de backlog die te groot is. Ik zal even de log erbij gaan toveren en dan kom ik er op terug.

[2020-11-29 13:13] SaturnusDJ commented on #1217
Bedankt voor je uitleg!! Je alternatief om InfluxDB als hoofd aan te houden en Postgres op te schonen is interessant. Ik zal hier over nadenken en uitzoeken wat het handigste uitkomt in de toekomst. Helaas zou daarmee wel een jaar aan data niet in InfluxDB staan en daarmee niet te lezen in Grafana.

[2020-11-29 14:08] frenk64 opened #1220 "nieuwe installatie alles werkt maar geen frames in website"
Net een nieuwe installatie gedaan kan in de website komen maar zie dat alleen text zonder de frames en kleuren

[2020-11-29 17:51] dennissiemensma commented on #1218
Top, fijn om te horen!

[2020-11-29 17:51] #1218 closed, assigned to nobody

[2020-11-29 18:00] dennissiemensma commented on #1217
Sinds DSMR-reader 4 zit er ingebouwde ondersteuning in voor export naar InfluxDB. Ook (eenmalig) met terugwerkend kracht: #1055.

Als je desondanks niet wil upgraden, kun je overwegen om de dsmrreader-database te exporteren en importeren als tijdelijke tweede dsmrreader-database. Die koppel je dan aan een tijdelijke nieuwe DSMR-reader 4 installatie, met puur als doel om die oude metingen te export

[2020-11-29 18:00] dennissiemensma commented on #1220
Bedankt voor je melding. Het handigste is om even een screenshot te maken en te kijken of je foutmeldingen ziet in je browser console (F12).

[2020-11-30 08:30] frenk64 commented on #1220
Bij deze dan ik zie fouten voor het laden van de scripts met F12
![DSMR condole](https://user-images.githubusercontent.com/75210444/100585891-95194a80-32ee-11eb-9b6c-2b1305a92a8b.jpg)

[2020-11-30 12:01] frenk64 commented on #1220
Op basis van de f12 info even verder gezocht

Wat ik nu zie dat de benodigde script en images in /home/dsmr......... staan
de NGINX error.log error is not found : /var/www/dsrmr.... en die directory bestaat niet

Denk dat er ergens een link moet zijn klopt dat?

[2020-11-30 15:02] frenk64 commented on #1220
Ik heb option 2 gebruikt voor de installatie, omdat ik nu via de f12 melding erachter kwam dat NGINX dus de "templates"" niet kon vinden verder gezocht en zag in optie 1 dat de directory /var/www/dsmrreader gemaakt wordt die dus bij optie 2 kennelijk niet gemaakt wordt. Verder staat erbij dat dan de bestanden later daar geplaatst worden.

Dus het is opgelost de directory gemaakt en de bestanden da

[2020-11-30 15:02] #1220 closed, assigned to nobody

[2020-11-30 17:33] dennissiemensma commented on #1220
Bedankt voor je update. Ik weet niet hoe je de bestanden hebt gekopieerd, maar je hoeft dat niet handmatig te doen. Ook omdat je wellicht dan met toekomstige updates in de war komt.

Als het goed is heb je deze stappen uitgevoerd: https://dsmr-reader.readthedocs.io/en/latest/installation.html#webserver-nginx-part-1
[code]

Daarna: https://dsmr-reader.readthedocs.io/en/latest/installation.html#boot

[2020-12-01 09:37] frenk64 commented on #1220
Dag Dennis bedankt voor de melding, ik miste inderdaad nog de frames als ik naar het configuratie sub scherm ging.

Maar inderdaad dit is de volledige oplossing,
Na het uitvoeren ./manage.. werken de andere schermen nu ook.

de eerste drie sudo opdrachten had ik gisteren al gedaan voor het handmatig  kopiëren, maar dat is duidelijk niet voldoende.

btw ook CU geïnstalleerd om straks de poort even

[2020-12-01 12:23] Paul-dH opened #1221 "Kan geen verbinding maken met de database (Docker)"
Hoi!

Ik probeer DSMR (docker container) te gebruiken met een losse Postgress server, maar hij wil maar geen verbinding maken met de database host.

De melding uit docker logs -f DSMRReader
[code]

De output van pg_isready:
[code]

Het docker commando om de container op te brengen is:
[code]

Iemand een idee hoe ik dit kan fixen, bedankt alvast!!

[2020-12-01 12:48] braham2019 opened #1222 "Melding van grootte database -- wat is normale grootte ?"
Ik heb al geruime tijd de database retentie cleanup opstaan. Nu rest de vraag of het normaal is dat de database dan meer dan 5 GB groot is ?

[code]

[2020-12-01 18:54] dennissiemensma commented on #1221
Bedankt voor je melding. Ik denk dat je je issue het beste opnieuw kunt aanmaken in het Docker-project: https://github.com/xirixiz/dsmr-reader-docker/issues

[2020-12-01 18:59] dennissiemensma commented on #1222
Bedankt voor je melding.

- Ik denk dat je het beste even #1208 kunt doorlezen om wat checks te doen en te kijken hoever de opschoning loopt. Na verloop van tijd zul je eenmalig een `vacuumdb` kunnen uitvoeren.
- Verder kan ik je aanraden om direct al de datalogger sleep te verhogen van `0.5` naar `5` seconden of hoger (bijvoorbeeld `10`). Dat zorgt ervoor dat er minder snel data binnenkomt, wat d

[2020-12-01 19:02] dennissiemensma commented on #1222
Het kan trouwens zijn dat de opschoning al aardig eind is, gezien je tellers niet bijzonder hoog zijn (1 miljoen metingen, laatst was iemand met 20+ miljoen).

Naast het verhogen van de sleep, kun je direct daarna dit al proberen:

[code]

Mogelijk krimpt je database dan al. Postgresql houd namelijk ruimte vast bij grote opschoningen en dat wordt hergebruikt bij nieuwe metingen. Echter, bij een gr

[2020-12-02 08:28] Paul-dH commented on #1221
Hoi Dennis, thanks en zal ik doen.

[2020-12-02 08:28] #1221 closed, assigned to nobody

[2020-12-02 18:09] GerbenKwakkel opened #1223 "Database start niet meer"
Zojuist probeerde ik DSMR te updaten, echter lijkt de boel nu niet meer in lucht te krijgen. De webinterface geeft onderstaande melding:

OperationalError: could not connect to server: Connection refused
	Is the server running on host "localhost" (::1) and accepting
	TCP/IP connections on port 5432?
could not connect to server: Connection refused
	Is the server running on host "localhost" (127.0.0

[2020-12-02 18:22] dennissiemensma commented on #1223
Bedankt voor je melding. Draai je dit op een Pi? Je zou nog een herstart kunnen proberen van de hele Pi.

Het is wat lastig te zeggen wat er precies aan de hand is. Draaide het tot aan de update wel goed? Gezien de fout:
[code]

Dit geeft ook aan dat er iets mis is, al zegt het mij helaas niet direct wat:
[code]

Heb je nog een recente backup?

[2020-12-02 18:28] GerbenKwakkel commented on #1223
Ik heb geen recente backup, stom.

Tot aan de update draaide het goed, de Pi heb ik ook al eens volledig een herstart gegeven.

De rest van de foutmelding op de webinterface:

[code]

[2020-12-02 18:53] dennissiemensma commented on #1223
Bedankt voor je aanvulling. Het zit hoe dan ook in de database. Je kunt nog dit proberen, maar ik vermoed dat de uitkomst niet anders wordt:
[code]

Ik kan niet helemaal zeker zeggen of dat komt door bijvoorbeeld een corrupt SD-kaartje, maar dit zijn wel vaak de tekenen. Ook dat het wegschrijven goed lijkt te gaan voor het OS, totdat er iets herstart wordt en het naar voren komt. SD-kaartjes zijn

[2020-12-02 19:58] GerbenKwakkel commented on #1223
Het vreemde is, dat wanneer ik mijn Pi herstart de webinterface en mijn data daarin beschikbaar is voor +/- 1-2 minuten. Daarna krijg ik weer de error te zien zoals hierboven.

Als ik de status opvraag van postgresql krijg ik dit:

[code]

[2020-12-02 20:25] MRL-33 opened #1224 "ERR_CONNECTION_REFUSED (achter een reverse proxy)"
Ik heb mijn systeem (Raspberry Pi 3B+) ingericht volgens de nieuwe situatie (zie hieronder) en nu kan ik niet meer op de DSMR-Reader website terecht.

Oude situatie
Ik heb in Docker een container DSMR-Reader lopen. Deze is geconfigureerd met docker-compose.
De webpagina was altijd bereikbaar met: 192.168.x.y:7777

Nieuwe situatie
Nu heb ik ook een extra container ([Nginx Proxy Manager](https://ngi

[2020-12-02 20:54] dennissiemensma commented on #1223
Afhankelijk van hoe groot je data is, kun je dit proberen in dat kleine window:
[code]

Als alternatief kun je een export van je dagtotalen maken via de webinterface op:
[code]

Lukt dat?

[2020-12-02 21:02] dennissiemensma commented on #1224
Bedankt voor je vraag. Ik ben niet helemaal thuis in die mapping via Docker.

Hoe de normale installatie van DSMR-reader werkt is dat Nginx [al het verkeer dat **niet** op `/static/` komt](https://github.com/dsmrreader/dsmr-reader/blob/v4/dsmrreader/provisioning/nginx/dsmr-webinterface#L2), doorstuurt naar de socket op `/var/tmp/gunicorn--dsmr_webinterface.socket`. Die socket komt uit het `dsmr_we

[2020-12-02 21:32] GerbenKwakkel commented on #1223
Bedankt voor je reactie.

Een compact backup heb ik nu te pakken, kan ik daar een nieuwe setup bouwen op basis van die backup?
Bij het make van de een full backup krijg ik de volgende melding:

[code]

[2020-12-02 21:42] GerbenKwakkel commented on #1223
Bij het checken van de backup, zie ik dat ik wel backups maakte lokaal in DSMR.

Even uitzoeken hoe ik dit ga herstellen. Bedankt voor het meedenken tot zover.

[2020-12-02 21:57] dennissiemensma commented on #1223
Top! Stel die backups dan vooral zsm veilig buiten je SD kaart en check het filesystem van de sd kaart, voordat je die verder gebruikt. Databases raken niet zomaar corrupt.

Voor de restore: Je hoeft in principe alleen dsmrreader uit te zetten, de database te verwijderen, opnieuw aanmaken en terugzetten. Daarna kun je het weer starten en zou die verder moeten gaan op punt van restore. Zie de FAQ v

[2020-12-03 16:25] MRL-33 commented on #1224
Bedankt voor je antwoord.
Oef.  Je antwoord snap ik nog niet helemaal omdat ik nog niet erg bedreven ben in het configureren in Nginx.
Ik zal Xirixiz eens benaderen voor hulp.

[2020-12-03 19:15] snoekieboe opened #1225 "Verkeerde datum in DSMR Reader (5 maanden in het verleden)"
Beste,

Ik heb op basis van Xiriz's images middels docker compose DSMR reader in Docker geinstalleerd. Daarnaast maak ik gebruik van een remote data logger draaiende op een raspberry pi.

Alles werkt naar behoren maar de datum die in het dashboard wordt getoond is die van 5 maanden geleden. Vandaag toont hier 02-07-2020 ipv 03-12-2020.

Ik heb in de docker containers.. op de docker host... en op d

[2020-12-03 19:37] dennissiemensma commented on #1225
Bedankt voor je melding. De datumtijd wordt bepaald op basis van wat je slimme meter teruggeeft. Soms staat die klok niet goed, dus daar zou je als eerste moeten kijken of die afwijkt. Zie issue #686 voor meer informatie als startpunt.

[2020-12-04 08:06] spiralshapeturtle opened #1226 "Ondersteuning voor Ubuntu 20.04"
Ha Dennis

ik had mijn Ubuntu VM geüpgraded van 18.04 naar 20.04, en daarna werkt DSMR reader niet meer. Met een snapshot was het zo weer hersteld, is 20.04 supported? Zo ja welke commandos kan ik draaien om te bij te dragen aan het onderzoeken van het probleem?

[code]

[2020-12-04 11:09] bottle12 opened #1227 "Importeren oude csv dagtotalen naar andere DSMR reader"
Heb issues gehad met m'n sd kaartje. Heb daarom op dat moment besloten om nieuwe installatie te maken van DSMR-reader op een nieuwe pi.  De oude sd aan de kant gelegd om later nog eens te bekijken. Is uiteindelijk gelukt om data veilig te stellen en deze van versie 2 naar versie 4 te migreren. Heb nu dus 2x versie 4.x op twee rpi's. Export kunnen. maken van de oude dagtotalen  en die zou ik graag

[2020-12-04 18:50] dennissiemensma commented on #1226
Bedankt voor je melding. Ik heb `20.04` tot nu toe niet geprobeerd en ontwikkel zelf nog in `18.04`.

Ik denk dat je het beste kunt beginnen bij de logfiles om te te zien wat de inhoudelijke foutmelding is: https://dsmr-reader.readthedocs.io/en/latest/faq.html#log-files

Mijn eerste vermoeden is dat de (standaard) Python-versie geupgrade is na zo'n grote upgrade en dat de vorige versie niet meer o

[2020-12-04 19:38] Deepdelver commented on #1219
ik kom dit tegen in de logs, kun je daar wat mee?

[code]

[2020-12-04 19:38] dennissiemensma commented on #1227
Bedankt voor je vraag. Erg fijn dat je nog je oude data hebt kunnen redden. In dat geval is het vermoedelijk 10 minuutjes werk om het goed te krijgen. Je kunt in #1145 een soortgelijke flow vinden, al zul je daar zelf wat moeten knutselen met het ID-veld dat uit de dump moet.

Echter, als je in jouw geval ook nog bij de oude uurtotalen kan, kan ik je aanraden om die ook nog over te zetten. En als

[2020-12-04 19:43] dennissiemensma commented on #1219
Bedankt voor je update. Ik denk dat je het beste ook nog even kunt kijken bij de instellingen van de MQTT broker in DSMR-reader, of dat uberhaupt (goed) ingesteld staat.

![Selection_016](https://user-images.githubusercontent.com/16581744/101207776-6940f080-3671-11eb-9748-686206354e89.png)

[2020-12-04 19:47] Deepdelver commented on #1219
Inmiddels werkt het :D. nogmaals dank voor de hulp.

De firewall rule naar de mqtt server stond verkeerd. Dus dit was helemaal mijn eigen schuld.

p.s. Ligt het aan mij of was deze melding wel wat cryptisch? ( kan geen verbinding maken met de mqtt server, controleer de instellingen. Had duidelijker geweest voor mij.

[2020-12-04 19:51] dennissiemensma commented on #1219
Fijn om te horen!

Ik ben het eens dat de melding wat beter kan. In de meeste gevallen werkt het vaak in 1x, dus ik twijfel doorgaans hoeveel tijd ik in de foutafhandeling moet steken, vandaar deze manier.

[2020-12-04 19:51] dennissiemensma commented on #1219
Vergeet trouwens niet om debuglogging weer uit te schakelen, helemaal als je op een Pi/SD-kaart draait.

[2020-12-04 19:51] #1219 closed, assigned to Deepdelver

[2020-12-05 10:41] TheCrow-zz opened #1228 "DSMR-Reader werkt niet meer 502 Bad Gateway"
Sinds een paar dagen draai ik DSMR-Reader op mijn Raspberry pi 4.
Vanmorgen draaide alles nog prima, een paar uur later zag ik dat bij de dashboard de 'Consumed WATT' op 0 stond en de 'Returned WATT' rond de 400 WATT schommelde, ik weet vrijwel zeker dat hij deze waardes door elkaar haalt.
Ik heb Gegoogled en de volgende tips al geprobeerd:

Na een 'sudo reboot' command in de shell krijg ik een '5

[2020-12-05 13:47] SaturnusDJ commented on #1217
Dat is heel mooi, echt goede ideeën, bedankt voor de input.

Naar aanleiding van zoeken naar 'Postgres vs. InfluxDB' lijkt het (https://portavita.github.io/2018-07-31-blog_influxdb_vs_postgresql) erop dat Postgres betere prestaties heeft, tenkoste van benodigde opslag. Kijk ik naar de huidige Postgres database, dan is dat ongeveer 3GB voor 2 jaar, zonder opschonen, dat valt mee. Ik ben benieuwd ho

[2020-12-05 14:18] Deepdelver commented on #1219
Zover ik weet had ik niks veranderd aan de debug ligging, maar zal het nog even controleren.

Wat betreft de foutafhandeling, snap ook dat dit veel tijd kost. Je/jullie hebben een mooi stukje software geschreven. Geen idee hoe ingewikkeld het is, maar anders wil ik best kijken of ik de tijd kan vinden om de error meldingen wat kan verduidelijken.

[2020-12-05 15:55] dennissiemensma commented on #1228
Bedankt voor je melding. Ik denk dat je twee issues hebt. Voor de verkeerde waardes kun je het beste een telegram delen zodat we kunnen kijken wat er in staat. Deze kun je vinden onderaan de pagina van deze URL:
[code]

Voor het andere issue, vermoed ik dat het PID-bestand nog in de weg zit. Je kunt eerst dit proberen: https://github.com/dsmrreader/dsmr-reader/issues/1214#issuecomment-733248513. A

[2020-12-05 16:07] dennissiemensma commented on #1219
Ik vermoed dat je in je .env `DSMRREADER_LOGLEVEL=DEBUG` hebt staan. Die mag dan weg.

Bedankt voor je aanbod. Ik zou er niet te veel tijd in stoppen, want als er veel meldingen zijn dan wordt de foutafhandeling vanzelf wel weer uitgebreid.
De complexiteit zit in dat het asynchroon draait op de achtergrond, dus dan moeten fouten ergens tussentijds opgeslagen worden, maar ook weer niet in alle geva

[2020-12-05 16:26] dennissiemensma commented on #1217
Bedankt voor je update. Qua datagrootte heb je het sowieso erg zelf in de hand, namelijk door de datalogger sleep. Als die bijvoorbeeld al van 1 seconde naar 10 seconden gaat, scheelt dat grofweg 9x het aantal opgeslagen metingen. Helemaal op de lange termijn is dat aantrekkelijk, afhankelijk van je hardware natuurlijk.

----

Qua opschoning [doet DSMR-reader (ongeveer) dit](https://github.com/dsm

[2020-12-05 19:34] spiralshapeturtle commented on #1226
Ja klopt het is mijn 'echte' DSMR-reader, liever hou ik die intact. Stel dat ik nog een poging zou ondernemen, welke logfiles/commandos zijn relevant voor het onderzoek?

[2020-12-05 20:17] TheCrow-zz commented on #1228
Na de succesvolle installatie van dsmr-reader, had ik een backup/image gemaakt van de microSD kaart, deze heb ik inmiddels teruggezet en nu werkt hij weer. Het zou dus zomaar kunnen dat ik dit probleem weer over een paar dagen krijg, ik ga dan je bovenstaand advies proberen.
Bedankt.

[2020-12-06 10:39] bottle12 commented on #1227
het is allemaal gelukt super bedankt voor je uitleg.
Is het een idee om deze uitleg in de documentatie op te nemen. Als zijnde
importeer  oude statistieken naar nieuwe omgeving oid.
heb het commando wel iets aangepast btw "sudo -u postgres  psql ..." . ik
kreeg anders foutmelding dat dsmr geen role had.
Ik ben echt super happy met je applicatie :) en waardeer je skill/effort
enorm.

mvg
martijn

[2020-12-06 18:58] dennissiemensma commented on #1226
Ik verwacht dat je de meeste informatie kunt vinden in de logfiles in `/var/log/supervisor/`.

[2020-12-06 19:10] dennissiemensma commented on #1227
Bedankt voor je terugkoppeling. Ik zal het toevoegen aan de documentatie voor de volgende release.

[2020-12-06 19:10] #1227 closed, assigned to bottle12

[2020-12-06 19:15] dennissiemensma commented on #1222
@braham2019 heb je dit inmiddels kunnen oplossen n.a.v. bovenstaande informatie?

[2020-12-06 19:16] dennissiemensma commented on #1223
@GerbenKwakkel ben je hier nog verder mee gekomen of heb je geen data kunnen herstellen?

[2020-12-06 19:16] dennissiemensma commented on #1212
@PascalBu heeft een andere kabel het probleem voor je opgelost?

[2020-12-06 19:17] dennissiemensma commented on #1224
@MRL-33 heb je inmiddels de oplossing hiervoor gevonden?

[2020-12-06 19:17] dennissiemensma commented on #1225
@snoekieboe ben je inmiddels in de gelegenheid geweest om te kijken of het aan de klok in de slimme meter zelf lag?

[2020-12-06 19:19] dennissiemensma opened #1229 "Plugin: Add basic netatmo outside temperature support"
Uit: #1186 door @RichieB2B

[2020-12-06 19:20] PascalBu commented on #1212
@dennissiemensma Het blijkt dat netbeheerder Enexis een storing heeft, waarbij de standen niet uitgelezen kunnen worden. Kwam erachter omdat de energieleverancier ook geen standen meer kon aanleveren. Dus verwacht niet veel van nieuw kabeltje, eerder van actie die Enexis moet gaan ondernemen.

Wat mij betreft kan hier een slotje op. Als het toch niet werkt nadat de storing is opgelost, meld ik me

[2020-12-06 19:20] #1212 closed, assigned to PascalBu

[2020-12-06 19:20] dennissiemensma commented on #1229
In #1186 aangegeven dat hier het beste een plugin of iets voor kan komen.

Daarvoor moet er een wijziging komen in DSMR-reader die bijvoorbeeld reageert op een 'signal' die vraagt om een temperatuurmeting. Als dat werkt is het waarschijnlijk niet veel werk om het ophalen en teruggeven van de temperatuur in een plugin te zetten.

[2020-12-06 19:22] dennissiemensma commented on #1212
Prima, dank voor je snelle update!

[2020-12-07 10:17] braham2019 commented on #1222
Ja, ik heb sleep verhoogd naar 5 seconden en gestofzuigd.  Net effect is dat de DB nu nog maar 35 MB groot is, dus dat stofzuigen was dringend nodig ;-)

[2020-12-07 10:17] #1222 closed, assigned to braham2019

[2020-12-08 19:46] snoekieboe commented on #1225
Zeker... ik heb inmiddels contact met netbeheerder Enexis maar daar eerlijk gezegd niets wijzer geworden.
Zij geven aan dat als de Meter netjes de meterstanden registreert de datum en tijd ook correct zijn en ik de problemen moet zoeken in de apparatuur waarmee ik de P1 poort uitlees (RPI met remote datalogger).

Kortom, nog steeds een verkeerde datum.

Hieronder een dump van mijn meest recente te

[2020-12-08 20:10] dennissiemensma commented on #1225
Bedankt voor je update. Vreemd dat ze dat aangeven, want in je telegram staat wel degelijk dat de huidige date op "7 juli 2020" staat.

Deze regel zoek je:
[code]

Dit betekent:
`.    200707200748S`
`.    20 07 07 20 07 48 S`
20`20`-`07`-`07` @ `20`:`07`:`48` `Summertime`

Klopt het trouwens dat je geen (slimme) gasmeter erbij hebt gekregen? Die heeft namelijk ook nog een interne klok (dacht ik) e

[2020-12-08 20:12] snoekieboe commented on #1225
Ja klopt... nieuwbouw dus gasloos :-)

Ik ga gewoon nog eens met enexis bellen.. thnx!

[2020-12-08 20:15] snoekieboe commented on #1225
Zou eigenlijk wel tof zijn als de remote datalogger de mogelijkheid zou hebben deze timestamp te overschrijven met zijn eigen lokale tijd. Zou niet nodig moeten zijn maar wel een mooie oplossing als je dit soort uitdagingen hebt en een weerbarstige netbeheerder :-)

[2020-12-08 20:28] dennissiemensma commented on #1225
Uiteindelijk is daar wel iets voor te maken hoor, maar ik probeer eerst de oorzaak te vinden. Workaround kan altijd nog.

Heb je nog een ander telegram voor me? Ik probeerde bovenstaande te parsen en dat lukte niet. Er zit een CRC-handtekening in de telegrammen, op de laatste regel (hier `!71E6`). DSMR-reader controleert die om te checken dat er geen bits zijn weggevallen in het telegram (gebeurt

[2020-12-08 20:31] snoekieboe commented on #1225
Meest recente telegram hieronder ( en de timestamp loopt gewoon op )
Overigens heb ik deze hardware (dus ook de kabel) in mijn vorige woning een aantal jaar succesvol gebruikt in combinatie met DSMR reader. zou dus gewoon ok moeten zijn
[code]

[2020-12-08 21:12] GerbenKwakkel commented on #1223
@dennissiemensma vanavond, zojuist, ben ik er eindelijk weer aan toegekomen. Echter kom ik niet echt verder:

[code]

[2020-12-08 21:25] dennissiemensma commented on #1225
Je tweede telegram lijkt inderdaad gewoon goed qua CRC, dus je meter stuurt daadwerkelijk deze gegevens over je kabel. En omdat je ook nog aangeeft dat het bij je vorige woning goed ging, zou ik zelf ook geen andere oorzaak meer weten.

Wellicht leest de netbeheerder het anders uit, ik weet niet helemaal hoe dat aan hun zijde werkt, maar als het gewoon via hetzelfde telegram-mechanisme gaat zou ik

[2020-12-08 21:30] dennissiemensma commented on #1223
Je zult wel eerst je database weer moeten starten. Heb je nog je SD-kaartje kunnen controleren met bijvoorbeeld `fsck` of soortgelijke tool?

Anders zou je kunnen overwegen om zowel de database als progres te verwijderen en opnieuw te installeren. Volgens mij zou dit moeten werken:
[code]

**Let op, dit verwijdert dus definitief je gegevens en zijn niet meer te herstellen!** Je kunt sowieso nog ki

[2020-12-10 10:56] erikkral opened #1230 "Melding "Dagstatistieken lopen achter" gaat niet weg"
Al een tijdje draai ik DSMR reader in een Docker op Ubuntu. Vanochtend zag ik dat er al twee dagen geen nieuwe gegevens meer binnenkwamen in DSMR reader. Dit probleem heb ik wel vaker en lijkt meer te liggen aan dat de connectie tussen de slimme meter en Ubuntu wegvalt. Ik heb vanochtend Ubuntu herstart en toe kwamen de nieuwe telegrammen weer binnen.
Helaas blijf ik tegen deze foutmelding aanlope

[2020-12-10 16:37] dennissiemensma commented on #1230
Bedankt voor je melding. Je kunt het beste DEBUG logging inschakelen en kijken naar de log van `dsmr_backend`. Om te zoeken naar de exacte oorzaak.

In #1197 staat meer informatie over hoe en wat en in dit comment staat welke melding je zoekt in de logs: https://github.com/dsmrreader/dsmr-reader/issues/1197#issuecomment-724968648. De oorzaak is vermoedelijk anders dan in dat issue, maar het geeft

[2020-12-10 20:13] Diondk opened #1231 "Dashboard laatste update altijd 46 seconden geleden"
Hoi,

Draai DSMR via docker, met een datalogger op een raspberry pi in de meterkast.
Werkt allemaal perfect.

Maar ik heb gisteren geupdate en het viel me op dat dashboard de laatste update altijd op 46 seconds ago blijft staan. Terwijl ik het gebruik wel constant zie verspringen.

Het is mij niet eerder opgevallen, dus weet ook niet 100% zeker of dit met de laatste update is mee gekomen.

![image

[2020-12-11 08:34] erikkral commented on #1230
Ik had wat moeite om de debug logging aan te zetten, ben nog lerende met docker.
Toen ik vanochtend naar de DSMR reader keek was de melding verdwenen:

![image](https://user-images.githubusercontent.com/64804809/101880928-fa452980-3b93-11eb-9fe1-471187fb19f8.png)

Per saldo heb ik er niets aan gedaan.
Loopt er een nachtverwerking o.i.d. wat dit probleem automatisch oplost?

[2020-12-11 15:58] Wouter1702 commented on #1189
Beste Dennis,

Ik vond het wel handig dat het DSMR versienummer linksboven werd weergegeven. Ik maak gebruik van de docker versie van DSMR icm watchtowen. Door het verplaatsen van het versie nummer naar de about pagina kan ik nu helaas niet meer in 1 oogopslag zien welke versie ik gebruikt.
Wellicht is het mogelijk om het configureerbaar te maken de versie op 2 plaatsen weer te geven ;) (in de abo

[2020-12-11 20:22] dennissiemensma commented on #1189
Hallo Wouter bedankt voor je verzoek. Ik begrijp goed dat het handig was dat je meteen de versie kon zien. Het is echter verplaatst omdat het uiteindelijk niet zoveel uitmaakt welke versie je draait. De updates die er zijn, zijn doorgaans kleine fixes of toevoegingen en veranderen de basis van DSMR-reader niet heel veel. Daarnaast is de interface er wat eenvoudiger door geworden.

Omdat iedereen z

[2020-12-11 20:25] dennissiemensma commented on #1230
Bedankt voor je update. De dagstatistieken worden inderdaad een paar uur na middernacht gemaakt. Omdat dit doorgaans elke nacht gebeurt, zouden die maximaal iets meer dan een dag achter moeten lopen, maar niet meerdere dagen.

Wellicht hing het backend-proces en heeft een herstart dat opgelost. Zolang metingen binnenkomen en opgeslagen worden, kan DSMR-reader altijd met terugwerkend kracht alles a

[2020-12-11 20:37] dennissiemensma commented on #1231
Bedankt voor je melding. Ik begrijp dat het wat verwarrend overkomt. Als je op die plek op het `(?)` klikt staat er een beknopte uitleg, maar wellicht is die nog niet duidelijk genoeg.

DSMR-reader gebruikt hier het tijdstip van de slimme meter, wat in elk telegram staat. Ter vergelijking, bij mijn eigen slimme meter krijg ik ook tekens te zien dat die op z'n minst "25 seconden geleden" ontvangen

[2020-12-11 20:38] dennissiemensma commented on #1231
Simultaan kun je trouwens zoiets doen op de Pi of waar je DSMR-reader hebt geinstalleerd, ter vergelijking:
[code]

[2020-12-12 05:56] snoekieboe commented on #1225
Tijd voor een (laatste) update. Enexis heeft begin november problemen gehad met de onboarding van nieuwe meters. Mijn meter, opgeleverd op 03-11-2020, hoorde helaas ook bij deze batch. Als gevolg van deze problemen kon de meter niet de juiste tijd uit het netwerk ophalen met de door mij beschreven problemen als gevolg.

Enexis heeft een nieuwe synchronisatie van de meter uitgevoerd en sinds gister

[2020-12-12 10:27] dennissiemensma commented on #1225
Bedankt voor je update en fijn om te horen dat het nu eindelijk goed werkt!

[2020-12-12 10:28] #1225 closed, assigned to snoekieboe

[2020-12-14 15:48] dgreebe opened #1232 "Enkel tarief problemen"
De data van de remote datalogger lijkt wel te kloppen als het gaat om de GAS stand. Electra klopt ook, maar bij enkel tarrief klopt te prijs niet. De prijs blijft hangen als HOOG tarief start.
Verbruik word wel goed gemeten maar de prijs klopt niet.

[2020-12-14 17:19] dennissiemensma commented on #1232
Bedankt voor je bericht. Ik denk dat je het beste een screenshot en een telegram kan delen om te verduidelijken wat je exact bedoelt.

[2020-12-17 09:25] maartenla commented on #1225
In november gaf Enexis aan dat mijn slimme meter werd vervangen/repareerd omdat hij niet uit te lezen was. (Is ie volgens mij al een jaar niet maar ja).
De monteur heeft een nieuwe opgehangen, die wel bereik had. In de instructies staat dat ze de eerste week veel test uitlezen en in die week ook alleen laag tarief rekenen 👍 . We zijn nu 3 weken verder en ik heb nog steeds alleen laag tarief.

En m

[2020-12-17 16:36] dennissiemensma commented on #1225
@mlakerveld deze moet je hebben:

[code]

Deze is volgens mij iets met storingen ofzo, maar daar doet DSMR-reader niets mee:
[code]

Je kunt zelf de vertaling doen met dit document: https://github.com/dsmrreader/dsmr-reader/blob/v4/docs/_static/downloads/netbeheer-nederland-dsmr-specs-v5.0.2.pdf
Vanaf pagina 20 daar staat een tabel met alle codes en wat het grofweg is.

[2020-12-17 16:37] dennissiemensma commented on #1225
Wat betreft jullie issue met verkeerde tijd. Ik denk dat ik dan wel iets kan maken wat jullie in staat stelt om DSMR-reader "nu" als inkomende datumtijd te gebruiken. Die zal dan het telegram inhoudelijk negeren qua datumtijd.

[2020-12-17 16:39] dennissiemensma opened #1233 "Optie om datumtijd uit telegram te negeren"
Dit voor de situaties waarbij de slimme meter niet helemaal (of absurd ver) uit sync loopt met de klok. Gebruik op eigen risico uiteraard.

[2020-12-17 16:42] dennissiemensma commented on #1223
@GerbenKwakkel heeft bovenstaande je verder op weg geholpen?

[2020-12-17 16:43] #1224 closed, assigned to MRL-33

[2020-12-17 16:43] #1228 closed, assigned to TheCrow-zz

[2020-12-17 16:43] #1230 closed, assigned to erikkral

[2020-12-17 16:44] dennissiemensma commented on #1231
@Diondk heeft bovenstaande je geholpen?

Er komt sowieso op termijn een feature waarmee je DSMR-reader de tijd van "binnenkomen" kan laten gebruiken ipv wat in het telegram staat. Mogelijk is dat ook op termijn een workaround.

[2020-12-17 16:45] dennissiemensma commented on #1232
@dgreebe heb je aanvullende informatie, zodat ik je beter kan helpen?

[2020-12-17 16:46] dennissiemensma commented on #1217
Mocht je nog meer info of iets nodig hebben, laat hier gerust weten en/of mention me als ik er overheen lees. Ik ga er vanuit dat je met bovenstaande een heel eind op weg kan.

[2020-12-17 16:46] #1217 closed, assigned to nobody

[2020-12-17 16:47] #1053 closed, assigned to nobody

[2020-12-17 16:47] #1054 closed, assigned to nobody

[2020-12-17 23:06] maartenla commented on #1233
Bedankt dat je dit wil toevoegen!

Ter info:
Vanaf eind oktober heeft Enexis een storing waarbij slimme meters niet uitgelezen kunnen worden op afstand. Geen ramp voor DSMR Reader gebruikers uiteraard tot hier aan toe.
Behalve dan dat ze ook nieuwe slimme meters niet kunnen instellen.
Mensen die dus vanaf oktober een nieuwe slimme meter hebben gekregen bij Enexis hebben pech, want de datumtijd zal

[2020-12-18 09:59] Diondk commented on #1231
Ja zeker, dit was voldoende uitleg, zolang het maar klopt dan is het prima. Was mij niet eerder opgevallen dus vandaar ook de vraag.

Ik zal het issue sluiten! Bedankt!

[2020-12-18 09:59] #1231 closed, assigned to Diondk

[2020-12-18 13:17] dgreebe commented on #1232
mijn energie leverancier biedt enkel tarief aan, maar mijn meter is voor dubbel.
In de DSMR heb ik nu bij beide tarieven hetzelfde bedrag staat en dat is nu opgelost.
Tevens heb ik ook de datalogger die remote draait geupdate. (nu krijg ik alleen geen gas metingen meer binnen)....

[2020-12-18 15:49] SaturnusDJ commented on #1217
Prima, dankjewel. Op dit moment bezig met het kijken naar hoe een paar andere projecten voor data ingericht gaan worden, dat heeft invloed op de keuze voor InfluxDB of Postgres, of beide.

[2020-12-19 06:37] dgreebe commented on #1232
issue kan dicht. probleem met enkel tarief is niet meer van toepassing.

[2020-12-19 06:37] #1232 closed, assigned to cometsfernbroccoli

[2020-12-19 07:14] dgreebe opened #1234 "Geen gasmetingen in frontend"
[code]

Eerder had ik eennprobleem met enkel tarief, dat is opgelost dmv een setting. Gelijk de datalogger geupdate voor de zekerheid echter sinds dien krijg ik geen gas stats in de frontend te zien. Ik zie dat deze wel worden gemeten want de data komt wel in influxdb en kan ik uitlezen met grafana.

De grafieken zijn compleet weg. Er lijkt geen referentie meer te zijn met gas oid.

[2020-12-19 09:01] dennissiemensma commented on #1234
Bedankt voor je melding. Wat is hier de output van:

[code]
----

Bedoel je trouwens dat de gasmetingen **via DSMR-reader** goed bij Influx komen? Of gaat dat via een andere weg?

Je zou ook nog kunnen kijken of gasgrafieken handmatig uit staat bij de checkbox onderaan deze pagina:
[code]

----

De remote datalogger hoef je overigens niet te updaten als die eerder goed werkte. Houd er rekening mee

[2020-12-21 11:39] bennybubble opened #1235 "port issue bij installatie"
Ls,

Vanwege installatie slimme meter wil ik deze gaan uitlezen met een RPI3 en dsmrreader leek mij een uitermaat geschikte applicatie hiervoor.
Tijdens installatie van part 1 loop ik tegen een probleem aan: port 80 in use (klopt want er draait nog wat anders en dat is niet te veranderen), hoe kom ik hier ***tijdens*** installatie omheen?

Foutmelding:

_Setting up nginx-full (1.10.3-1+deb9u5) ...

[2020-12-21 12:21] jeroenpeters1986 commented on #1235
hey @bennybubble ,

weet je ook wat er nog draait? Ik heb een vermoeden van Apache2. Als dat inderdaad het geval is kun je vóór de installatie even dit intikken:
`sudo service apache2 stop` en dan stopt apache even.

Na de installatie kun je inderdaad de poort voor nginx aanpassen. Daarna zul je nginx wel even moeten herstarten. Ik hoop dat dat lukt, anders is daar wel veel over te vinden op inter

[2020-12-21 13:57] bennybubble commented on #1235
Bedankt, was niet apache2 maar heb de betreffende service uit kunnen zetten en toen ging dat stuk van de installatie door.
-ben

[2020-12-21 13:57] #1235 closed, assigned to nobody

[2020-12-21 14:05] jeroenpeters1986 commented on #1235
Ah oke, fijn dat het toch gelukt is :+1:

[2020-12-21 19:29] GerbenKwakkel commented on #1223
@dennissiemensma tot op heden ben ik er nog niet aan toegekomen. Voor nu mag je het issue wel sluiten, ik denk dat de SD-kaart corrupt is.

[2020-12-21 20:13] dennis071nl opened #1236 "3.11 upgrade"
Hoi mannen,

Ik probeer mn 3.11 installatie te upgraden maar bij stap 1 loop ik al vast. Ik werk op basis van docker, dsmr en dsmrdb draaien in principe an sich wel.

de guide (https://dsmr-reader.readthedocs.io/nl/v4/faq.html#how-to-upgrade) loop ik al vast bij stap 1...:-(

De foutmelding die ik krijg is:

 --- You are currently running version:
3.11

 --- Checking Python version.
Running Python

[2020-12-21 20:47] dennissiemensma commented on #1236
Bedankt voor je vraag. Vermoedelijk hoef je bij docker alleen de dsmreader app container te updaten naar de laatste versie. Alle technische wijzigingen zouden al in de nieuwe container zelf gedaan moeten zijn. Bij de deploy wordt dan je bestaande database container bijgewerkt zodat die compatibel is met de nieuwere versie. @xirixiz nog aanvullingen?

[2020-12-21 21:04] dennis071nl commented on #1236
Dennis, ik heb nu als image in mn docker-compose " xirixiz/dsmr-reader-docker:latest ", zou dit niet afdoende moeten zijn dan?

[2020-12-21 21:14] dennissiemensma commented on #1236
Ik ben zelf helaas niet zo bedreven met docker. Ik ken het oppervlakkig, helemaal voor dsmr reader. Wellicht wordt je image nog gecached of iets?

[2020-12-21 21:53] xirixiz commented on #1236
Heren, wellicht kan je deze stappen volgen 😉

https://github.com/xirixiz/dsmr-reader-docker#upgrade-the-postgres-container-to-a-newer-release

Het upgrade meganisme kan je niet "standaard" uitvoeren.

[2020-12-21 21:56] xirixiz commented on #1236
Ach, ik lees het nog verkeerd ook. Je kan inderdaad gewoon naar de laatste versie van de Docker image en dan gaat het upgraden vanzelf. Voor de zekerheid zou ik wel eerst een database dump maken zodat je iig een backup hebt voordat je upgrade.

https://github.com/xirixiz/dsmr-reader-docker#backup-and-restore-mechanism-1
https://github.com/xirixiz/dsmr-reader-docker#backup-and-restore-mechanism-2

[2020-12-22 18:04] Raarrrinator opened #1237 "FATAL: password authentication failed for user "dsmrreader""
Goedenavond!

Ik probeer eindeloos DSMR geïnstalleerd te krijgen in een Raspbian VM op mijn NUC en wat ik probeer; stap 8 faalt steeds.

![image](https://user-images.githubusercontent.com/69963716/102918982-45124b80-4488-11eb-9f06-8d1589706dda.png)

Ik heb de explained handleiding stap voor stap gevolgd en strand met de melding: FATAL: password authentication failed for user "dsmrreader"

Mijn lin

[2020-12-22 19:12] #1223 closed, assigned to nobody

[2020-12-22 19:12] dennissiemensma commented on #1236
@dennis071nl zie bovenstaande tips, is het inmiddels gelukt?

[2020-12-22 19:15] dennissiemensma commented on #1237
Je kunt als `pi` user nog deze proberen. Ik neem aan dat je die wel in hoofdstuk 1 hebt uitgevoerd?

[code]

Verder is het belangrijk dat je bij hoofdstuk 8 (nog) de `dsmr` user bent uit hoofdstuk 7.

[code]

[2020-12-22 20:03] dennis071nl commented on #1236
Dennis,

Ik heb alle data weggegooid en helemaal fris opnieuw begonnen... inmiddels
draai ik met 4.9!

Dank voor jullie hulp!

Op di 22 dec. 2020 om 20:13 schreef Dennis Siemensma <
notifications@github.com>:

[2020-12-22 20:22] dennissiemensma commented on #1236
Oke, mocht je nog je oude data ergens hebben, je kunt de dag- en uurstatistieken vrij makkelijk overzetten hoor!

[2020-12-22 21:28] Raarrrinator commented on #1237
Dankjewel voor je feedback! De migratie in stap 8 is nu gelukt. Ik vermoed dat ik bij stap 4 niet uitgelogd ben als DSMR user.

Het laatste commando van stap 8 (./manage.py dsmr_superuser) gaf wel een foutmelding:

CommandError: Either DSMRREADER_ADMIN_USER or DSMRREADER_ADMIN_PASSWORD (or both) are missing/empty in (.)env

Ik ben maar doorgegaan met 9, maar is dit achteraf nog op te lossen?

[2020-12-22 21:41] Raarrrinator commented on #1237
DSMR Reader draait, maar om in te loggen heb ik het supervisor wachtwoord nodig. Omdat de laatste fase van stap 8 aangaf dat DSMRREADER_ADMIN_USER or DSMRREADER_ADMIN_PASSWORD niet in .env te vinden zijn, kan ik niet inloggen.

Hoe kan ik DSMRREADER_ADMIN_USER or DSMRREADER_ADMIN_PASSWORD aan .env toevoegen? Ik heb het bestand gezocht, maar vind het nergens.

[2020-12-22 21:54] dennissiemensma commented on #1237
In hoofdstuk 7 heb je dit gedaan:
[code]

Als het goed is is de inhoud van `.env` (`/home/dsmr/dsmrreader/.env`) zoiets:
[code]

Dat bestand kun je aanpassen en uitbreiden met je eigen opties. Onderaan staan al de opties die je zoekt (leeg).

----

En als je niet weet hoe je tekstbestanden kan bewerken, is `nano` het makkelijkste:
[code]

Als je je bewerkingen gedaan hebt kun je daar in met `CTRL+

[2020-12-22 21:57] Raarrrinator commented on #1237
Dankjewel, dat was me eerlijk gezegd op basis van de toegelichte handleiding niet duidelijk.

Op basis van trail & error was ik er inmiddels achter dat de laatste stap van de snelle handleiding uitvoeren ook werkt:

[code]

Toen heb ik een password kunnen invoeren dat werkt in combinatie met user: admin

Bedankt voor de support!

[2020-12-22 22:00] dennissiemensma commented on #1237
Fijn om te horen!

[2020-12-22 22:00] #1237 closed, assigned to nobody

[2020-12-24 06:48] snoekieboe opened #1238 "PVoutput: Generated = 0"
Ik gebruik DSMR reader in combinatie met PVoutput om mijn teruglevering en verbruik van energie inzichtelijk te maken.
Conform de handleiding heb ik PVoutput ingericht en mijn verbruik wordt netjes via de API tussen DSRM en PVoutput uitgewisseld.  Er is echter 1 klein probleem en dat is dat mijn "generation/generated" waarde op 0 blijft staan.

Ik zie wel teruglevering/generatie in DSMR zelf maar

[2020-12-25 11:19] dennissiemensma commented on #1238
Bedankt voor je vraag. Je kunt het beste even #959 doorlezen.

De link naar de docs daar is een oude, deze moet je nu hebben: https://dsmr-reader.readthedocs.io/nl/v4/faq.html#log-files
Lees dat hoofdstukje (en de twee eronder) door voor hoe je debug logging aan en uit kan zetten en waar de logfiles staan.

Je bent daarna (kan even duren tot de volgende upload) dus op zoek naar deze info, die aang

[2020-12-25 11:28] dennissiemensma commented on #1238
Voordat je inhoudelijk aan de slag gaat, zie trouwens het laatste comment in die thread: https://github.com/dsmrreader/dsmr-reader/issues/959#issuecomment-610507305 (#9) Wellicht loop je tegen hetzelfde aan.

DSMR-reader stuurt maar een deel van de data omdat de 'teruglevering' in je meter netto is. Als daar toch behoefte aan is dan kan ik dat in een toekomstige versie alsnog wel opnemen.
Het is v

[2020-12-26 05:54] dataegg commented on #989
Ik zou deze toevoeging ook op prijs stellen. Op die manier kan ik ook het energie verbruik voor de huidige maand in home assistant weergeven en ik hoop daarmee te bereiken dat gezinsleden meer bewust met energie omgaan.

[2020-12-27 08:37] sjaakveenendaal opened #1239 "FAILED to call Django (did you activate the 'dsmrreader' VirtualEnv before running?)"
Ik krijg deze melding wat gaat er fout?

[code]

[2020-12-27 10:39] #1236 closed, assigned to nobody

[2020-12-27 10:41] dennissiemensma commented on #1239
Bedankt voor je melding.

Heb je wel eerst dit gedaan?
[code]

[2020-12-27 10:45] sjaakveenendaal commented on #1239
Ja dat heb ik gedaan

[2020-12-27 10:49] dennissiemensma commented on #1239
Heb je dit (onderaan) in je `/home/dsmr/.bashrc` staan?

[code]

En zo ja, wat is de output van:
[code]

[2020-12-27 10:53] sjaakveenendaal commented on #1239
vraagt om een wachtwoord en die heb ik niet aangemaakt

[2020-12-27 10:58] dennissiemensma commented on #1239
Je zult altijd van de `root` user of een sudo-user naar `dsmr` moeten. Je hebt het immers ook ooit geinstalleerd met die rechten.

Als je een Pi gebruikt dan heet de sudo user vaak `pi`. Daar kun je als het goed is gewoon `sudo su - dsmr` uitvoeren. Als je niet zeker weet wie je bent, kun je altijd op elk moment `whoami` uitvoeren.

[2020-12-27 11:16] sjaakveenendaal commented on #1239
/.home/dsmr/.virtualenvs/dsmrreader/bin/python3

[2020-12-27 11:50] dennissiemensma commented on #1239
Is het een bestaande installatie? Werkte het eerder wel?

Het is trouwens wel raar dat het pad begint met `/.home` ipv `/home`, of is dat wellicht een typo?

Je kunt dit nog proberen:
[code]

Geeft dat nog output met dat die (missende) dingen geinstalleerd heeft?

[2020-12-27 12:12] sjaakveenendaal commented on #1239
inderdaad nu zonder .

Als ik pip3 install -r /home/dsmr/dsmr-reader/dsmrreader/provisioning/requirements/base.txt invoer

krijg ik een hele rij met tekst te zien beginnen allemaal met Requirment already satisfied

[2020-12-27 12:32] HFeenstra commented on #1237
https://github.com/dsmrreader/dsmr-reader/issues/1237#issuecomment-749795601

@Raarrrinator dank voor deze stap. Zo kreeg ik het ook aan de praat. Kan het zijn dat dit toegevoegd kan worden aan de installatie? Ik kreeg de user namelijk ook niet toegevoegd, idem melding.

Nogmaals dank!

[2020-12-27 13:21] dennissiemensma commented on #1239
En werkt dit wel?
[code]

Zo ja, dan dit?
[code]

[2020-12-27 13:59] sjaakveenendaal commented on #1239
ModuleNotFoundError: No module named 'dsmrreader.settings

[2020-12-27 19:52] dennissiemensma commented on #1239
Je zult echt met uitgebreidere informatie moeten komen om je beter te helpen.

- Bij welk van de twee commands krijg je die output?
- En is het een bestaande installatie?
- Werkte het eerder wel?
- Is er wel een `/home/dsmr/dsmr-reader/dsmrreader/settings.py` bestand?
- Kun je ook de input kopieren van het command zelf? Dan kan ik zien of je wel in de juiste map zit, bijvoorbeeld `(dsmrreader) dsm

[2020-12-28 06:40] sjaakveenendaal commented on #1239
Nieuwe installatie

/home/dsmr/dsmr-reader/dsmrreader/settings.py
settings.py is er niet

[2020-12-28 10:17] dennissiemensma commented on #1239
Dat verklaart een hoop. Het is altijd goed om wat context te geven, want dan had ik je direct kunnen helpen.

Je hebt dan waarschijnlijk een stap overgeslagen bij de installatie. Je kunt het nogmaals proberen vanaf hoofdstuk 7: https://dsmr-reader.readthedocs.io/en/latest/installation.html#application-configuration-setup

[2020-12-28 10:17] dennissiemensma commented on #1234
@dgreebe ben je hier nog verder mee gekomen?

[2020-12-28 11:26] sjaakveenendaal commented on #1239
installatie opnieuw uitgevoerd nu de volledige en niet de snelle installatie gedaan werkt nu wel alleen kan ik niet inloggen.. admin en ww admin geprobeerd maar kan niet inloggen is er een mogelijkheid om wachtwoord te veranderen?

Voer de correcte gebruikersnaam en wachtwoord voor een stafaccount in. Let op dat beide velden hoofdlettergevoelig zijn.

[2020-12-28 12:31] sjaakveenendaal commented on #1239
gevonden hoe te wijzigen nu werkt alles weer bedankt voor je hulp Dennis

[2020-12-28 23:05] #1239 closed, assigned to sjaakveenendaal

[2020-12-29 18:12] mthmulders opened #1240 "Melding over ontbreken recente "readings" lijkt niet juist"
Ik draai DSMR Reader met een aparte datalogger. Als de datalogger onderbroken wordt krijg ik - vaak al na enkele minuten - een melding via Telegram:

Op zich heel behulpzaam, maar het is dan zeker niet 12 uur geleden dat de laatste "reading" binnenkwam. Als ik de code in **dsmr_notification/services.py** goed lees wordt die melding gestuurd wanneer de laatste "reading" langer geleden is dan **DSMR

[2020-12-29 22:26] dennissiemensma commented on #1240
Bedankt voor je melding en de aanvullende informatie! Ik zie dat er een verkeerde variabele gebruikt werd. De cooldown is meer bedoeld tegen te veel herhaling in korte tijd, de andere is inderdaad de 'offset' wanneer die melding naar voren komt.

Bij de volgende release is de tekst aangepast en pakt die de juiste variabele. Verder wordt de default verhoogd naar een uur, al zou die bij 30 minuten o

[2020-12-30 11:30] eterpstra opened #1241 "Ubuntu 20.x: virtualenv: error: unrecognized arguments: --no-site-packages"
Hi Dennis,

Ik probeer DSMR te installeren in een LXC in Proxmox. Alles gaat goed tot de volgende stap:

`virtualenv ~/.virtualenvs/dsmrreader --no-site-packages --python python3`

Ik krijg dan gelijk de foutmelding:

[code]

Wat doe ik precies fout? Het gaat om Ubuntu 20.x.x versie.

[2020-12-30 11:55] dennissiemensma commented on #1241
Bedankt voor je vraag. Heb je het ook al geprobeerd zonder --site-packages?

[2020-12-30 12:16] dennissiemensma commented on #1240
Mocht je trouwens voor die tijd de offset wat hoger willen voor je eigen installatie, dan kun je onderaan `dsmrreader/settings.py` een regel toevoegen met je eigen waarde voor `DSMRREADER_STATUS_READING_OFFSET_MINUTES`:

[code]

Daarna doorvoeren met:
[code]

[2020-12-30 12:16] #1240 closed, assigned to nobody

[2020-12-30 12:21] dennissiemensma commented on #1238
@snoekieboe ben je hier inmiddels wat wijzer door geworden? Qua PVOuput zullen jullie als gebruikers mij wat extra aanwijzingen moeten geven welke informatie waar nodig is, als de huidige opzet niet afdoende is.

[2020-12-30 12:21] dennissiemensma commented on #1226
@rodeho kan het zijn dat je tegen dezelfde foutmelding aanliep als iemand anders in #1241? Kun je je dat nog herinneren?

[2020-12-30 12:22] eterpstra commented on #1241
Nee nog niet, want ging er vanuit dat het nodig was.  Dit als resultaat..

[code]

[2020-12-30 12:31] dennissiemensma commented on #1241
Top! Ik zou zeggen probeer het eerst op deze manier. Als DSMR-reader uiteindelijk goed draait, verwacht ik er geen issues mee. Laat het ook vooral weten als het niet werkt.

----

Het argument geeft aan of (de virtualenv van) DSMR-reader wel of niet reeds geinstalleerd packages van het OS moet gebruiken. In principe is dat niet nodig, want DSMR-reader specificeert zelf al de eigen packages die nod

[2020-12-30 12:36] eterpstra commented on #1241
Top! Het is gelukt. Heb je trouwens ook nog de path waar de database wordt opgelsagen? Deze moet ik namelijk terugzetten van een andere machine.

Beiden draaien nu de nieuwste versie.

[2020-12-30 12:44] dennissiemensma commented on #1241
In de meeste gevallen wordt de datamap van postgresql in `/var/lib/postgresql/<version>/` opgeslagen. En de config (als je die al aangepast hebt) in het soortgelijke pad in `/etc/`.

Exporteren via een dump is het meest makkelijke en veiligste:

[code]

Importeren als je de dump op dezelfde locatie zet op de andere machine:
[code]

[2020-12-30 12:56] #1241 closed, assigned to eterpstra

[2020-12-31 07:44] eterpstra opened #1242 "cannot stat '/home/dsmr/dsmr-reader/dsmrreader/provisioning/django/postgresql.py': No such file or directory"
Hi Dennis,

Helaas heb ik toch problemen bij een andere. Ik heb een Ubuntu Desktop server gemaakt bij een vriend.

Alles is geupdate maar hij stopt bij het volgende stukje:

Server@DSMR-Unbuntu-Server:~$ `sudo sudo -u dsmr cp /home/dsmr/dsmr-reader/dsmrreader/provisioning/django/postgresql.py /home/dsmr/dsmr-reader/dsmrreader/settings.py`

En gaat stuk met:

`cp: cannot stat '/home/dsmr/dsmr-reade

[2020-12-31 09:49] dennissiemensma commented on #1242
Bedankt voor je melding. Kan het zijn dat je een oude versie (v3) van de documentatie gebruikt? Je kunt het zien aan de URL, daar staat `v3`, `v4` of `latest` (= v4) in.

In v3 was het:
[code]

In v4:
[code]

https://dsmr-reader.readthedocs.io/en/latest/installation.html

[2020-12-31 13:03] eterpstra commented on #1242
Dat was het inderdaad.. Ik heb uit het menu gewoon de snelle installatie gekozen. Wist niet dat er een andere versie was.

Thanks!

[2020-12-31 16:38] dennissiemensma commented on #1242
Oke top!

[2020-12-31 16:38] #1242 closed, assigned to eterpstra

[2021-01-01 19:10] eterpstra commented on #1241
Nog even een vraag.. Ik wil de backup terugzetten via een ssh verbinding, is het dan ook gewoon mogelijk met mv command?

[2021-01-01 19:31] dennissiemensma commented on #1241
Je kunt het proberen, wie weet werkt dat ook. Als het niet lukt kun je het altijd nogmaals doen via export/import op de command line.

[2021-01-01 22:12] eterpstra commented on #1241
Oke. ik zit nu met het probleem dat van beide servers al een DSMR installatie is aangemaakt en dus ook een database. In de howto lees ik dat je dit alleen kan doen als er nog geen database is.

Hoe kan ik dit nu het beste aanpakken?

[2021-01-01 22:29] arjenfvellinga opened #1243 "Server Error / LookupError: No electricity readings found for: <date>"
Ik heb sinds vandaag DSMR Reader via docker draaien. De telegram berichten komen binnen, live grafiek en dashboard toonden data. Daarna heb ik de tarieven van mijn energieleverancier toegevoegd:

![image](https://user-images.githubusercontent.com/16539832/103447206-5299b380-4c88-11eb-84f3-af0866c0f69a.png)

Initieel had ik tariff 1 en 2 omgedraaid, dus die heb ik omgewisseld. Daarom heb ik `./mana

[2021-01-01 23:33] arjenfvellinga commented on #1243
Closing this now, the script took longer than I was expecting. Front end works again.

[2021-01-01 23:33] #1243 closed, assigned to nobody

[2021-01-02 08:13] spiralshapeturtle commented on #1226
@dennissiemensma sorry nee dat staat mij niet meer bij. Ik moet nog een keer de uitgebreide test doen, maar homeassistant is eating all the hobby time ;-) werkt overigens goed met MQTT vanuit DSMR.

[2021-01-02 10:09] dennissiemensma commented on #1241
Zie https://github.com/dsmrreader/dsmr-reader/issues/1241#issuecomment-752541289. Je kunt de initiele database gewoon verwijderen en een nieuwe, lege aanmaken en dan de import doen.

[2021-01-02 10:12] dennissiemensma commented on #1243
Bedankt voor je melding en mooi dat het al opgelost is. Gaf `dsmr_stats_recalculate_prices` trouwens geen output met hoever die was (welke dagen die mee bezig was)?

[2021-01-02 12:40] arjenfvellinga commented on #1243
ik had het via de command line uitgevoerd, en die returned direct zonder output. En omdat ik nog niet 1 dag aan data had ging ik er vanuit dat het ook best snel kon zijn.

[2021-01-03 21:34] GieltjE opened #1245 "Python upgrade documentatie"
Het upgraden van b.v. pyton3.7 naar python3.8 is nog niet omschreven in de documentatie, ik vermoed dat dit met python 3.x vaker voor gaat komen (mijn systeem dropte zonder veel vragen 3.7 vorige week).

Voor zover ik gezien/gemerkt heb is het niet meer dan:
rm  /home/dsmr/.virtualenvs/dsmrreader/bin/python
sudo -u dsmr virtualenv /home/dsmr/.virtualenvs/dsmrreader --system-site-packages --python

[2021-01-03 22:05] dennissiemensma commented on #1245
Bedankt voor je vraag. Je kunt het beste de *hele* virtualenv helemaal weggooien en opnieuw aanmaken met de nieuwe python versie. Zie de oude dsmrreader 3.x upgrade hoofdstuk 5 voor een voorbeeld. https://dsmr-reader.readthedocs.io/en/v4/faq/v3_upgrade.html#python-version-upgrade-part-2-2

[2021-01-03 22:10] GieltjE commented on #1245
Super, komt deze docu er ook nog voor v4 bij te staan?

[2021-01-04 13:58] casrenooij opened #1246 "Uploaden naar mindergas.nl wordt niet geaccepteerd"
Beste wensen allemaal !

Ik draai DSMR op een Debian 10 virtuele server op ESX.
Alles lijkt te werken, behalve de upload naar mindergas.nl. Het lijkt erop dat het een decimaal/duizendtallen notatie probleem is

op de statistics pagina van DSMR zie ik 1,738.058 staan.

Test ik het opsturen zoals op mindergas.nl is aangegeven :
[code]

Test ik met :
[code]
dan komt de meterstand keurig in de lijst o

[2021-01-04 16:14] dennissiemensma commented on #1245
Ik voeg het meestal toe bij een major upgrade van dsmr-reader, wanneer Python zelf ook EOL gaat, omdat bij een major update ook handwerk nodig is. Of als er heel veel vragen over komen. Het lijkt erop dat zelfs Python 3.6 nog tot eind dit jaar ondersteund wordt: https://devguide.python.org/#status-of-python-branches

Ik wil verder ook zoveel mogelijk vasthouden aan de Python-versies van elke distr

[2021-01-04 16:15] #1245 closed, assigned to nobody

[2021-01-04 16:18] dennissiemensma commented on #1238
Laat maar weten als ik alsnog wat kan betekenen voor jullie.

[2021-01-04 16:18] #1238 closed, assigned to snoekieboe

[2021-01-04 16:26] dennissiemensma commented on #1246
Bedankt voor je melding. Ik mis even de inhoudelijke foutmelding. Zou je de exacte foutmelding **uit de DSMR-reader (backend) log** willen delen?

De foutmelding die je met `curl` krijgt komt omdat je daar inderdaad een verkeerde notatie gebruikt. Het is goed om te weten dat de getallen in de webinterface van DSMR-reader **gelokaliseerd** zijn en daarmee afhankelijk zijn van de locale van je brows

[2021-01-04 22:02] dennissiemensma commented on #1234
Reageer gerust op een later moment alsnog.

[2021-01-04 22:02] #1234 closed, assigned to cometsfernbroccoli

[2021-01-05 08:09] casrenooij commented on #1246
Hi Dennis,

uit : /var/log/supervisor/dsmr_backend.log :
[code]

Ik zie nu overigens dat de notatie nu correct is op de statistieken pagina.   1.745,995   ipv  1,745.995

[code]

Cas.

[2021-01-05 15:02] barrymossel commented on #268
Shouldn't that be:

`/dev/sda1 /data /vfat defaults 0 0`

**(/data instead of /mnt)**

[2021-01-05 16:29] dennissiemensma commented on #1246
Klopt. Je kunt het beste je handmatige invoer van gisteren uit mindergas weghalen. Of wachten tot morgenochtend.

[2021-01-05 16:30] #1246 closed, assigned to casrenooij

[2021-01-05 16:30] dennissiemensma commented on #1246
Sidenote: Je hebt MQTT aangezet, maar je broker lijkt niet bereikbaar. Zie de foutmeldingen in dezelfde log.

[2021-01-06 17:07] quadrophenianl opened #1247 "Configuratie menu blijft terug verwijzen naar dezelfde pagina."
Goede avond Dennis,

Hier ben ik weer eens na enige tijd. De afgelopen maanden heb ik een keer of 10 geprobeerd om versie 3 te updaten naar versie 4, maar dit wilde niet lukken en bracht veel fouten met zich mee. Gelukkig iedere keer een complete backup achter de hand gehad. Aangezien versie 3 gewoon deed wat hij moest doen, heb ik die gewoon laten draaien.

Maar goed, nieuw jaar - nieuwe uitdagin

[2021-01-06 20:28] dennissiemensma commented on #1247
Bedankt voor je melding. Je kunt dit nog even proberen:

[code]

Dit kopieert alle statische files voor de webinterface (opnieuw). Probeer vooral daarna even een [geforceerde refresh in je browser te doen](https://www.getfilecloud.com/blog/2015/03/tech-tip-how-to-do-hard-refresh-in-browsers/) of je cache daarin weg te gooien.

Los dat iets op?

[2021-01-06 20:29] dennissiemensma commented on #1247
En daarna nog een deploy voor de zekerheid dat alles bijgewerkt is:

[code]

[2021-01-07 06:58] quadrophenianl commented on #1247
Top, Dennis! Het werkt volgens mij weer vlekkeloos, waarvoor dank!

Een kleine donatie lijkt me na een jaar of 2 gebruik wel op zijn plek, maar ik kan in de nieuwe versie deze knop niet meer vinden. Kun je me deze even doorsturen?

Nogmaals dank en een fijne dag!

[2021-01-07 16:42] rubenverhoef opened #1248 "Phase voltage/current are set to 0 when data is not send through API"
I'm using the API to send my meter data to the backend using an [ESP](https://github.com/rubenverhoef/ESP-DSMR-Reader).
I've just implemented the `phase_voltage_lx` and `phase_power_current_lx`.
This works, but has the following "problem":
I'm only sending data when it is required by the API, the value is available and the value is changed. Right now when the voltage or current is not changed the

[2021-01-07 17:15] dennissiemensma commented on #1247
Fijn om te horen!

Ik ben gestopt met persoonlijke donaties. Voel je vrij om iets te doneren aan een van de andere mensen of software waardoor DSMR-reader mogelijk is gemaakt: https://dsmr-reader.readthedocs.io/en/latest/credits.html

[2021-01-07 17:15] #1247 closed, assigned to quadrophenianl

[2021-01-07 17:35] dennissiemensma commented on #1248
Bedankt voor je melding.

Het kan zijn dat ik je verkeerd begrijp, echter als je `phase_voltage_lx` en /of `phase_power_current_lx` meegeeft, **zul je die elke keer moeten meegeven met de huidige waarde**.
Dit API endpoint is echt een alias voor een al geparst telegram, waar dus elke keer alle (voorgaande) velden in aanwezig zijn. Het is gebouwd op hoe de slimme meters zelf ook hun data teruggeven

[2021-01-08 07:56] rubenverhoef commented on #1248
Om de verstuurde data te reduceren verzend ik dus niet dezelfde waarde als de vorige keer. Dit werkt (naar mijn weten) met de rest van de waardes wel, maar niet met de `phase_voltage_lx` / `phase_power_current_lx`.

Ik kan gewoon alle aanwezige data altijd sturen, ongeacht dat deze niet veranderd is, maar ik vond het juist mooi om geen data te versturen als deze niet noodzakelijk is.

De V1 API ge

[2021-01-08 14:07] rogierlommers opened #1249 "Electricity grouping type"
Misschien stomme vraag, maar wat moet ik nu precies invullen bij `Electricity grouping type`? Een clean install geeft me dit:

![Screenshot 2021-01-08 at 15 06 00](https://user-images.githubusercontent.com/3907131/104024208-0e943a80-51c3-11eb-955b-60b94f869f95.png)

Ofwel, per minuut. Echter achter value `By reader` staat default. Dit is nu dus niet het geval? Hoe bepaal ik nu waarop ik deze value

[2021-01-08 19:33] dennissiemensma commented on #1248
Bedankt voor je toelichting! Ik begrijp je gedachte en manier van denken. Het zou zeker wat toevoegen in een andere situatie zoals MQTT, waarbij een datazender een of meerdere/vele ontvangers kan hebben. In dat protocol zit dan ook een feature om bijvoorbeeld de broker telkens de laatste waarde te laten cachen, zodat nieuwe ontvangers niet hoeven te wachten op nieuwe/gewijzigde data. En ook opties

[2021-01-08 19:36] dennissiemensma commented on #1249
Bedankt voor je vraag. Het kan zijn dat die logica niet helemaal lekker is of afhankelijk van je meterversie.

De keuze hangt er vanaf hoeveel meetpunten in je de live grafieken wil. Voor het meten van het gebruik maakt het verder niet uit omdat daarvoor altijd het begin en einde van een uur of dag genomen wordt. Groeperen zorgt dus voor wat minder data.

Voor DSMR v4 meters zijn er 6 metingen per

[2021-01-09 10:25] poudenes commented on #1055
EDIT: ben er al uit. Geeft ie netjes aan dat er niks meer is.
_Wanneer weet je dat alle data in InfluxDB is overgezet?_

[2021-01-09 10:29] poudenes opened #1250 "InfluxDB en later field toevoegen"
Hoi Allen,

Ik heb influxDB draaiende op DSMR. Alles gaat goed.. Alle data gaat netjes naar de db toe.
Ik heb later volgende toegevoegd in het scherm "InfluxDB-integratie wijzigen"

[electricity_cost]
electricity1_cost = electricity1_cost
electricity2_cost = electricity2_cost
electricity_cost_merged = electricity_cost_merged

[gas_cost]
gas_cost = gas_cost
total_cost = total_cost

Echter deze data

[2021-01-09 12:22] rubenverhoef commented on #1248
Oke bedankt voor de uitleg, en misschien ben ik een beetje teveel op de bespaar tour.

Ik zal zorgen dat me data gewoon elke keer verstuurd wordt 👍

[2021-01-09 12:22] #1248 closed, assigned to nobody

[2021-01-09 13:15] dennissiemensma commented on #1250
Bedankt voor je vraag. Je kunt alleen de velden gebruiken die als voorbeeld in de configuratie staan. Dat zijn velden van de metingen zonder aggregatie.

De achterliggende gedachte van de InfluxDB-integratie is namelijk dat je de brondata (metingen) daar inzet zodat je daar je eigen aggregaties over kan doen. Kosten zijn geen onderdeel van de metingen (maar een laagje in DSMR-reader zelf) en zijn

[2021-01-09 22:26] rogierlommers commented on #1249
Thanks.

[2021-01-09 22:26] #1249 closed, assigned to nobody

[2021-01-10 13:32] dennissiemensma commented on #1233
Gaat mee met volgende release.

[2021-01-10 13:32] #1233 closed, assigned to nobody

[2021-01-10 13:51] dennissiemensma commented on #1249
In de volgende release zal ik het verduidelijken in de admin.

[2021-01-10 14:47] dennissiemensma commented on #1250
Ik zal de beschrijving in de configuratie bij de volgende release wat verduidelijken.

[2021-01-10 14:47] #1250 closed, assigned to nobody

[2021-01-12 12:02] iepmaatje opened #1251 "Dagstatistieken lopen achter."
Hallo Allemaal, Ik draai DSMR met een aparte datalogger. Tot gisteren liep alles gesmeerd, maar vanochtend zag ik ineens de melding "   Dagstatistieken lopen achter   (1 dag, 12 uur geleden)"  Er is niets verandert door mij. Waar komt deze melding vandaag ? Ik heb nog steeds ' Live' data, alleen geen dagstatistiek van gisteren...

[2021-01-12 18:09] dennissiemensma commented on #1251
Bedankt voor je vraag. Je kunt het beste eerst #1230 lezen en https://github.com/dsmrreader/dsmr-reader/issues/1197#issuecomment-724968648 proberen. Ik hoor graag of je daar iets kan vinden.

[2021-01-12 19:11] iepmaatje commented on #1251
Hallo Dennis, ik lees de volgende Error in de backend log file:
" ERROR    HTTPSConnectionPool(host='data.buienradar.nl', port=443): Max retries exceeded with url: /2.0/feed/json (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f70d630b250>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution'))
Traceback (most recent call last):"

I

[2021-01-12 20:01] dennissiemensma commented on #1251
Bedankt voor de update. Je zult denk ik debug logging moeten aanzetten en zoeken naar de meldingen in de gelinkte comment in #1197 om de oorzaak te achterhalen. De buienradar error is ongerelateerd. En ik neem aan dat je geen andere meldingen hebt in de About pagina?

[2021-01-13 09:41] iepmaatje commented on #1251
Hallo Dennis, Ik zie in de DEBUG dat de gas gegevens niet meer doorkomen.. dit zal de oorzaak zijn.

2021-01-13 10:33:10,460] DEBUG    SP: Running "Generate day and hour statistics" (dsmr_stats.services.run)
[2021-01-13 10:33:10,486] DEBUG    Stats: Waiting for first gas reading on the next day...
[2021-01-13 10:33:10,488] DEBUG    SP: Rescheduled "Generate day and hour statistics" to 2021-01-13 1

[2021-01-13 10:07] iepmaatje commented on #1251
Hallo Dennis, Na wat meer speurwerk zie ik dat mijn slimme meter geen gasgegevens ontvangt.. Ligt dus niet aan DSMR.
Tijdelijk uitzetten van de gasgegevens in de backend heeft vootlopig de oplossing gebracht. Thanks voor je support !

[2021-01-13 14:40] dennissiemensma commented on #1251
Fijn dat je het gevonden hebt. Mocht je later nog andere issues hebben, koppel het gerust weer terug!

[2021-01-13 14:40] #1251 closed, assigned to iepmaatje

[2021-01-13 20:41] Raarrrinator opened #1252 "dsmr_webinterface FATAL & OSError: [Errno 28] No space left on device"
Goedenavond,

Zojuist viel het me op dat de DSMR webinterface niet meer draait met als opmerking 'dsmr_webinterface FATAL'.

Mijn DSMR draait op een NUC in Virtualbox.

Een error die ik ook krijg is: OSError: [Errno 28] No space left on device

Eerst had de VDI 8gb ruimte, deze heb ik daarom vergroot naar 16gb.

![image](https://user-images.githubusercontent.com/69963716/104507577-477b4780-55e7-11

[2021-01-13 21:16] dennissiemensma commented on #1252
Bedankt voor je vraag. Ik weet het niet helemaal zeker, maar het kan zijn dat het OS niet doorheeft dat er meer ruimte beschikbaar is. Je zou `sudo raspi-config` kunnen proberen en dan `6 Advanced options` > `Expend filesystem`. Al weet ik niet of dat ook direct de root-partitie vergroot, die nu vol zit.

Ik neem verder aan dat je geen retentie hebt ingesteld in DSMR-reader. Als alles straks weer

[2021-01-13 21:23] Raarrrinator commented on #1252
De optie was niet aanwezig in advanced options, daarom heb ik het zo geprobeerd: raspi-config --expand-rootfs

Met dit resultaat:

![image](https://user-images.githubusercontent.com/69963716/104512004-d8edb800-55ed-11eb-8e19-0ea1ea6c73a8.png)

[2021-01-13 22:53] dennissiemensma commented on #1252
Probeer vooral mijn laatste suggestie. Daarmee krijg je sowieso tijdelijk ruimte om retentie aan te zetten en de database te laten opschonen.

[2021-01-14 09:47] Raarrrinator commented on #1252
Dankjewel; ik heb de backups en tmp files verwijderd. Daarna geprobeerd de vacuumdb te doen, maar ik vermoed dat er elders iets niet klopt. Ik denk dat ik DSMR opnieuw ga installeren op een nieuwe VM.

`
pi@raspberry:~ $ sudo su - postgres
postgres@raspberry:~$ vacuumdb -f -v -z -d dsmrreader
vacuumdb: could not connect to database dsmrreader: could not connect to server:

[2021-01-14 11:13] dennissiemensma commented on #1252
- Je zult eerst ruimte moeten maken. Die heb je nu tijdelijk.
- Dan kun je proberen om je hele systeem te rebooten. Daarmee zou dsmrreader en de DB weer moeten draaien.
- Vervolgens is de we interface weer beschikbaar en kun je retentie aanzetten.
- Als dat een paar uur of dagen draait, pas dan kun je een vacuumdb doen.

Nu krijg je een foutmelding omdat de DB niet draait.

[2021-01-14 13:18] Erik050572 opened #1253 "Nieuw URL voor de mindergas API"
Goedemiddag Dennis,

Ik zag op [Mindergas](https://mindergas.nl/member/api) dat ze een nieuwe URL hebben voor het uploaden van meterstanden.

Heb je hier al rekening meegehouden?  :)

Mvg,
Erik

[2021-01-14 13:19] Erik050572 opened #1254 "Nieuwe URL voor de Mindergas API"
Goedemiddag Dennis,

Ik zag op [Mindergas](https://mindergas.nl/member/api) dat ze een nieuwe URL hebben voor het uploaden van meterstanden.

Heb je hier al rekening meegehouden?  :)

Mvg,
Erik

[2021-01-14 13:20] #1254 closed, assigned to nobody

[2021-01-14 16:22] dennissiemensma commented on #1253
Bedankt voor je melding. Ik had dat niet meegekregen (of ik heb er een mailtje over gemist). Ik zal het wijzigen in de volgende release.

[2021-01-14 16:30] dennissiemensma commented on #1253
Doorgevoerd voor volgende release.

[2021-01-14 16:30] #1253 closed, assigned to nobody

[2021-01-15 11:24] iepmaatje commented on #1168
@svenjambor Hallo Sven, heb jij een blogpost geschreven die ik zou kunnen lezen over wat je hebt gedaan ?

[2021-01-15 12:54] poudenes opened #1255 "MQTT: Nieuwe DSMR-reader releases"
Hoi Allen,

Ik open regelmatig de DSMR pagina om te kijken of er een update is.
Het zou mooi zijn als er een MQTT meegezonden wordt wanneer er een nieuwe versie beschikbaar is.

Systeem checkt oude versie gelijk aan nieuwe versie dan is MQTT Update "false"
oude versie anders dan nieuwe  versie dan is MQTT Update "true"

Zo kan ik in HA bijvoorbeeld een automation maken. Een notificatie sturen als

[2021-01-15 18:29] dennissiemensma commented on #1255
Bedankt voor je verzoek. Wellicht dat ik het meeneem zodra er nieuwe MQTT-features komen, maar voorlopig laat ik het even voor wat het is.

[2021-01-15 19:20] svenjambor commented on #1168
Ja, maar vergeten online te zetten. Doe ik morgen voor je.

Het komt er op neer dat ik 1) een postgresdb in Azure heb opgesponnen (ik heb het geluk dat dat gratis kan) , 2) daar een backup van de bestaande db heb teruggezet, en 3) de variabelen die Jeroen aan heeft gegeven in het .env bestand heb aangepast. Daarna werkte het prima.

[2021-01-16 12:13] PhyxionNL opened #1257 "Samenvatting energiecontracten verbeteren"
Een aantal vragen/opmerkingen over energiecontracten.

1. **Totaal** staat onder het gas, dit is niet heel logisch omdat gas en stroom verschillende eenheden zijn. Eigenlijk zou je het zo willen:
![image](https://user-images.githubusercontent.com/7643972/104811371-3efb5a80-57fb-11eb-870d-348ecc0d78e6.png)
Eventueel aangevuld met **Totaal** kWh net als de tarieven erboven.

2. Ik heb mijn retentiec

[2021-01-16 12:42] Jasper-GIT opened #1258 "Error after upgrading to V4"
Sinds vanmorgen na updaten van V3 naar V4 kreeg ik de onderstaande error pagina:
Ik heb de installatie van DSMR ook al verwijderd en opnieuw geinstalleerd waarbij ik mijn database gehouden heb. Maar nog steeds hetzelfde resultaat. Wat kan ik doen?

admin pagina werkt wel gewoon.

Hij blijft ook hangen op "Running migrations: "

output op SSH console
[code]

Error pagina:

[code]

[2021-01-16 13:12] dennissiemensma commented on #1258
Bedankt voor je melding. De foutmelding krijg je omdat de migraties nog niet voltooid zijn. Als ze blijven hangen dan zullen we moeten kijken waar het aan ligt:

- Hoelang heb je ongeveer gewacht totdat je de migraties hebt afgebroken?
- Wat voor hardware gebruik je? (bijv: Pi 2, Pi 3, Pi 4)
- Wat is de output van dit command:
[code]

[2021-01-16 13:25] dennissiemensma commented on #1257
Bedankt voor je vragen. Hierbij per stuk een toelichting:

1. De huidige opzet is inderdaad niet ideaal, maar was meer om het compact te houden (vooral op kleinere schermen). Ik wil best wel een keer voor je kijken of ik er nog een regel tussen kan drukken, als dat het duidelijker maakt.

2. De [totalen van de energiecontracten](https://github.com/dsmrreader/dsmr-reader/blob/2c1ce8550b1ea9fd6e5ff7

[2021-01-16 13:29] Jasper-GIT commented on #1258
Bedankt voor je snelle reactie.

De migratie loopt al 90 min.
Ik gebruik een Pi3 (volgens mij de +)

output van je commando is:
`-su: ./manage.py: Bestand of map bestaat niet`

Wat heel gek is, want ik heb eerder het manage.py gebruikt en toen deed hij wel wat.

[2021-01-16 13:35] dennissiemensma commented on #1258
Kan het zijn dat je er 1 regel van hebt gemaakt? Je kunt ze even apart proberen:

[code]

[2021-01-16 13:44] Jasper-GIT commented on #1258
Ik heb ze afzonderlijk uitgevoerd.
Zie net nadat ik voor de zoveelste keer de migrate heb gestart dat hij nu klaar is en succesvol, maar ik heb geen grafische weergave van de webserver. Enkel een pagina met platte tekst op t moment. Hij begint nu wel iets meer te doen maar nog niet het gewenste

[2021-01-16 13:45] dennissiemensma commented on #1258
Wat is de output van het commando? Het voert namelijk geen migraties uit, maar toont de status. Mogelijk is daarmee te zien waar die op wacht.

[2021-01-16 13:48] Jasper-GIT commented on #1258
dit is de output van mijn migrate:

[code]

[2021-01-16 13:49] dennissiemensma commented on #1258
Oke dat is mooi. Wat komt hier nu uit: https://github.com/dsmrreader/dsmr-reader/issues/1258#issuecomment-761564293?

[2021-01-16 13:55] Jasper-GIT commented on #1258
Nog steeds niets.
Hier mn console:

[code]

[2021-01-16 13:58] dennissiemensma commented on #1258
Zit je wel in de goede map? Wat krijg je als je `pwd` typt daar?

Ergens tijdens de installatie is er een stukje script wat je aan de bashrc kan toevoegen, waardoor elke keer dat je `sudo su - dsmr` doet, deze automatisch dit doet:
[code]

Anders zul je dat elke keer handmatig moeten doen.

https://dsmr-reader.readthedocs.io/nl/v4/installation.html#virtualenv

[2021-01-16 15:27] Jasper-GIT commented on #1258
Verkeerde folder dus:
[code]

dit is nu mijn output:
[code]

[2021-01-16 15:33] dennissiemensma commented on #1258
Mooi, dat klopt dan. Er staan nu geen migraties meer open. Dan kun je verder met waar je was gebleven met de upgrade of herinstallatie!

[2021-01-16 15:36] PhyxionNL commented on #1257
Zie onderstaand 😊
1. Op zich hoeft dat niet eens, alleen het totaal één regel omhoog (evt. met kWh erachter) zoals op mijn screenshot is genoeg. Nu staat die onderaan en is het net alsof het gas er ook bij hoort.
2. Prima, dan pas ik dat aan.
3. In de omschrijving staat die tekst:
![image](https://user-images.githubusercontent.com/7643972/104815944-23eb1380-5818-11eb-9eb8-d7f00a0cd3f2.png)
DSMR re

[2021-01-16 15:37] Jasper-GIT commented on #1258
Nou, die is afgerond en ik krijg nu als ik naar de webserver ga de DSMR pagina in platte tekst zonder grafische weergave. Wat gaat daar dan nog mis?
Het Dashboard bedoel ik dan

[2021-01-16 15:40] dennissiemensma commented on #1258
Als je dit uitvoert:
[code]

Krijg je dan ergens foutmelding?

En anders kun je dit proberen:
[code]

[2021-01-16 15:43] Jasper-GIT commented on #1258
Die eerste deed het. Nu werkt het, bedankt voor je hulp!

[2021-01-16 15:44] dennissiemensma commented on #1258
Top, fijn om te horen!

[2021-01-16 15:44] #1258 closed, assigned to Jasper-GIT

[2021-01-16 15:52] dennissiemensma commented on #1257
Aah helder, dank voor de toelichting. Ik zal de tekst voor teruglevering wat aanpassen. Het ging mij er destijds vooral om dat DSMR-reader geen rekening houdt qua kosten met salderen (vooral bij afwijkende saldering).

Wat betreft de totalen, ik weet dan niet of dat dan helemaal lekker gaat. Het was de bedoeling dat die totaalregel qua prijs het totaal van alles is en niet alleen van elektra. Vand

[2021-01-16 19:19] mthmulders opened #1259 "Bij update controleren op lokale openstaande wijzigingen"
In de webinterface zie ik dat er een update beschikbaar is:

![image](https://user-images.githubusercontent.com/430114/104820815-bc44c080-5837-11eb-9d69-eb20b3340b91.png)

Dan log ik met SSH in en volg de gebruikelijke stappen voor het uitvoeren van een upgrade:

[code]

De uitvoer eindigt dan met:

     --- Clearing cache...

     --- Deployed version:
    4.9

Ik heb dit een paar keer geprobeerd

[2021-01-17 00:21] dennissiemensma commented on #1259
Kan het zijn dat er een foutmelding in de output staat? En anders kun je de complete output delen.

[2021-01-17 09:48] PhyxionNL commented on #1257
Dat lijkt mij ook handig inderdaad, maar een totaal van verschillende eenheden (zoals dat nu het geval is) is in ieder geval niet erg nuttig.

[2021-01-17 10:59] mthmulders commented on #1259
Hmmm, deze komt voorbij:

    --- Merging/updating checkout.
    Updating 044c8127..2c1ce855
    error: Your local changes to the following files would be overwritten by merge:
            dsmrreader/config/defaults.py
    Please commit your changes or stash them before you merge.
    Aborting

Ik heb de wijzigingen in *dsmrreader/config/defaults.py* ongedaan gemaakt en nu slaagt de deployment wel

[2021-01-17 11:25] dennissiemensma commented on #1259
Bedankt voor je terugkoppeling. Zo'n check lijkt me een goede toevoeging. Ik zal kijken of ik iets kan toevoegen.

[2021-01-17 11:50] dennissiemensma commented on #1253
Uitgebracht in [v4.11](https://github.com/dsmrreader/dsmr-reader/releases/tag/v4.11.0)

[2021-01-17 11:51] dennissiemensma commented on #1259
Aangezien je bezig was met updaten, er is nu ook [v4.11](https://github.com/dsmrreader/dsmr-reader/releases/tag/v4.11.0)

[2021-01-17 12:17] dennissiemensma commented on #1259
Vanaf de v4.12 release zit er straks een extra check in:

[code]

[2021-01-17 12:17] #1259 closed, assigned to nobody

[2021-01-17 13:52] SanderGit opened #1261 "InfluxDB: Field type conflict: input field “returned_2” is type float, already exists as integer"
DSMR-reader: 4.10 in Docker

Ik heb deze aan InfluxDB gekoppeld. Er komt wel data in terecht maar het gaat niet goed. Als ik de data handmatig wil synchroniseren komt er een foutmelding.

Debug info:
[code]
Foutmelding:

[code]
Het weggooien en opnieuw aanmaken van de InfluxDB database helpt niet.

[2021-01-17 14:11] dennissiemensma commented on #1257
Ik heb losgetrokken voor de volgende release:

![Selection_001](https://user-images.githubusercontent.com/16581744/104845462-efd62800-58d5-11eb-9ad5-a74345db8d4b.png)

![Selection_002](https://user-images.githubusercontent.com/16581744/104845463-f06ebe80-58d5-11eb-931c-0bf0ae14ec24.png)

[2021-01-17 14:15] dennissiemensma commented on #1257
De tekst bovenin is straks ook aangepast en wat generieker gemaakt.

[2021-01-17 14:16] #1257 closed, assigned to nobody

[2021-01-17 14:29] dennissiemensma commented on #1261
Bedankt voor je melding. Voor de duidelijkheid: Krijg je ook een fout in de automatische synchronisatie?
Of alleen bij het uitvoeren van `./manage.py dsmr_influxdb_export_all_readings`?

[2021-01-17 14:53] SanderGit commented on #1261
Bij het configureren van de automatische sync krijg ik geen melding. Als er een issue met de verbinding is gaat het vinkje ‘enabled’ uit. Een foutmelding heb ik niet gezien. De pagina ‘Influxdb measurements’ is leeg sinds de koppeling er in principe wel is.

Er wordt volgens mij wel data in geschreven, alleen krijg ik het er in Grafana nog niet uit met dit dashboard:
https://github.com/iotassistan

[2021-01-17 15:30] dennissiemensma commented on #1261
De pagina `Influxdb measurements` in DSMR-reader weergeeft alleen gegevens die wachten op verzending. Als er geen achterstand is, zul je daar inderdaad niet vaak gegevens zien.

Krijg je dezelfde fout als je dit probeert?
[code]

[2021-01-17 15:53] SanderGit commented on #1261
Dan doet ie het zonder foutmelding.
Edit: als ik delivered_2 uitcommentarieer valt hij vervolgens over current_l1
Als ik die ook uitcommentarieer, idem voor current_l2 en current_l3, kan ik wel importeren.
Daarna heb ik ze weer aangezet.

[2021-01-17 18:24] dennissiemensma commented on #1261
Je kunt nog proberen om het eerst te exporteren naar een aparte InfluxDB-database, met bovenstaand commando (totdat alles over is). En daarna ook de automatische export te wisselen naar die database.

[2021-01-17 18:34] SanderGit commented on #1261
Het is nog weinig data dus ik vind het wel goed zo. Ik zal dit issue sluiten. Bedankt voor het meedenken!

Wel ben ik benieuwd of er ergens een lijst met variabelen/velden is die ik naar InfluxDB kan sturen, ik vind in de MQTT-documentatie wel wat dingen maar heb nog geen compleet overzicht gezien.
Power failures, sags e.d. zie ik er in de standaardconfiguratie niet standaard bij staan bijvoorbeel

[2021-01-17 18:34] #1261 closed, assigned to nobody

[2021-01-17 18:59] dennissiemensma commented on #1261
Top! Wat betreft gegegevens, zie issue #1250. De InfluxDB-export is alleen bedoeld voor metingen. Daarmee kan iemand zelf aggregraties doen (dat doet DSMR-reader immers ook, op een eigen manier).

Het kan nog wel zijn dat ik de integratie ooit nog wat dichter bij de metingen maak, voor de meterstatistieken. Want om te voorkomen dat er tig reccords zijn met dezelfde meterstatistieken, scheidt  DSMR

[2021-01-17 19:01] dennissiemensma opened #1263 "InfluxDB: Ondersteuning voor meterstatistieken"
De integratie is beperkt tot gegevens uit metingen. Dat zeggende hebben worden meterstatistieken momenteel niet meegenomen omdat er een scheiding is in DSMR-reader. Uitzoeken of de export naar InfluxDB nog een stapje eerder kan, voordat die scheiding gemaakt wordt.

[2021-01-18 06:37] Jasper-GIT opened #1264 "dsmr_webinterface draait niet meer"
Hoi Dennis,

Afgelopen zaterdag had ik problemen met de upgrade naar 4.10 op mijn Rapsberry Pi3 B+, dit ging moeizaam maar uiteindelijk met je hulp werkend gekregen. Nu loop ik tegen een nieuw probleem aan:

[code]

In de Log van de webinterface staat het volgende:

[code]

Ook is mijn Pi sinds zaterdag zo traag geworden, dat de webinterface toen hij nog werkte ongeveer 30 seconden tot 1 minuut du

[2021-01-18 16:59] dennissiemensma commented on #1264
Je kunt de `Error: Already running on PID 695 (or pid file '/var/tmp/gunicorn--dsmr_webinterface.pid' is stale)` melding oplossen met:
https://dsmr-reader.readthedocs.io/en/latest/faq.html#how-do-i-fix-error-already-running-on-pid-1234

----

Wat betreft dubbele postgres processen, wellicht kun je wat meer details zien met: `ps faux | grep postgres`. PostgreSQL geeft namelijk dan aardig wat extra

[2021-01-18 17:51] dennissiemensma commented on #1252
@Raarrrinator ben je hier nog verder mee gekomen?

[2021-01-18 19:46] Jasper-GIT commented on #1264
Dit geeft `ps faux | grep postgres` terug, de laatste is niet idle, maar staat op SELECT.
[code]

Het uitvoeren van de queries gaat niet helemaal top: De eerste van de 3 krijg ik na 30 min nog geen output, de andere wel:
[code]

[2021-01-18 20:09] dennissiemensma commented on #1264
Helder. Ik neem aan dat retentie wel ingeschakeld? Krijg je verder wel nieuwe data op je dashboard, ondanks dat die dan wellicht wat traag is?

Het opschonen zal steeds sneller gaan. Het belangrijkste is dat je gegevens blijven door lopen.

[2021-01-18 20:12] Jasper-GIT commented on #1264
sind net werkt mijn dashboard, retentie staat op een maand nu.
Het lijkt er op dat de gegevens wel doorlopen.. Grafieken lopen 25 minuten achter ongeveer.

wel zij dit de meldingen:
`Ongeveer 39621400 metingen opgeslagen, overweeg dataopschoning (indien nog niet ingeschakeld)   (nu)`
`Database groeit gestaag: 8384 MB, overweeg dataopschoning (indien nog niet ingeschakeld)   (nu)`
`Proces loopt ach

[2021-01-18 20:28] dennissiemensma commented on #1264
Dat verklaart een hoop! Je hebt bijna 40 miljoen metingen en vandaar dat de opschoning ook zo traag is.

Je kunt kijken of je de datalogger sleep in de configuratie wat hoger kan zetten, als die nu nog op 0,5 seconden staat. Anders blijft er veel data binnenkomen en dat helpt ook niet mee.

Zolang het aantal onverwerkte telegrammen blijft oplopen is het goed. Dat betekent dat ze wel opgeslagen zij

[2021-01-18 20:48] Jasper-GIT commented on #1264
Dit is allemaal voor mij pas zichtbaar sinds V4.10. Daarvoor zag ik dit dus niet (of is me niet opgevallen),  maar liep alles wel als een zonnetje.
Sinds deze update heeft hij het er moeilijk mee, ik schrok ook van zoveel data.
De sleep config had ik al op 10 gezet.

Opschoning gaat ook met terugwerkende kracht? Aangezien dit metingen zijn sinds eind 2018 en ik de retentie pas zaterdag aangezet he

[2021-01-18 21:03] dennissiemensma commented on #1264
Klopt, het is inderdaad met terugwerkende kracht, daarom is het zo traag en intensief. Afhankelijk van de hardware kan het meerdere dagen duren. Zie bijvoorbeeld #1149.

Je kunt overigens zelf ervoor kiezen om retentie uit te zetten en alle gegevens te bewaren. Dit schaalt waarschijnlijk voor lange tijd prima, totdat je issues krijgt met schijfruimte of andere bijwerkingen.

[2021-01-19 09:56] Raarrrinator commented on #1252
Ik heb ruimte gemaakt en alles opnieuw opgestart. De DB en DSMR reader werkten, maar de interface bleef 'Fatal'. Het gekke is, is dat wanneer ik het VM venster open deze ook geheel zwart is; er draait wel iets, maar ook het Raspbian desktop is niet zichtbaar. Dus ik stel hem binnenkort opnieuw in in een nieuwe VM met snapshots de installs door.

To be continued!

[2021-01-19 13:38] Simanias commented on #395
Ik probeer ook mijn postgreSQL database te migreren naar een andere remote VM.
Ik heb de settings.py aangepast als volgt:

[code]

Maar nadat ik het ./manage.py migrate commando uitvoer, krijg ik de volgende melding:

[code]

Ergens doe ik iets niet, goed maar waar?

[2021-01-19 16:52] Simanias opened #1265 "database op andere postgreSQL server"
Ik wil dmsr-reader via een Proxmox LXC Ubuntu 18.04 container installeren. Ook heb ik een RancherOS VM in Proxmox draaien waarop postgreSQL middels docker draait, als database server voor home assistant. Dit werkt super, de latency is echt top.

De installatie van dsmr-reader gaat goed maar ik zou graag deze postgreSQL server die ik ook voor home assistant gebruik, ook gebruiken voor dmsr-reader (

[2021-01-19 17:15] dennissiemensma commented on #395
Dit is een heel oud issue en daarmee outdated. Tegenwoordig staan de instellingen in `.env` (of envvars bij Docker), overzicht staat hier: https://dsmr-reader.readthedocs.io/en/latest/env_settings.html#django-settings-overrides

[2021-01-19 17:16] dennissiemensma commented on #1265
Je kunt het beste de bovenstaande config weer terugzetten naar [wat het was](https://github.com/dsmrreader/dsmr-reader/blob/v4/dsmrreader/provisioning/django/settings.py.template). Het issue dat je linkt is zwaar outdated. Tegenwoordig kun je je instellingen doen via `.env` in de root van het project of via env vars (Docker).

Alle mogelijke opties staan hier: https://dsmr-reader.readthedocs.io/en

[2021-01-19 20:25] xirixiz commented on #395
En het hangt er uiteraard vanaf of je ook in Docker draait of niet.

[2021-01-20 18:48] dennissiemensma commented on #1226
Ik heb net in virtualbox een installatie gedaan in Ubuntu 20.04 en dat lijkt goed. Vermoedelijk is de fix voor #1241 afdoende geweest.

[2021-01-20 18:48] #1226 closed, assigned to nobody

[2021-01-20 19:21] dennissiemensma opened #1266 "Eenduidige installatiehandleiding"
Momenteel zijn er twee versies: snel & uitgebreid. Ze worden ook wel eens door elkaar heen gebruikt en soms niet goed bijgewerkt. Daarom mag de snelle variant de voorkeur krijgen, eventueel wat uitgebreider dan nu.

[2021-01-23 17:02] MRL-33 opened #1267 "Is de FAQ ook afgestemd voor Docker?"
Momenteel heb ik DSMR Reader lopen in een container.
Ik heb zitten te zoeken in de FAQ, maar ik denk dat er geen uitleg is hoe je DSMR of database kunt upgraden wanneer je DSMR Reader als container hebt werken.
Momenteel werk ik met versie 4.9 met een database met postgres:10-alpine (zie docker-compose.yaml)

![2021-01-23 17_44_00-FAQ (veelgestelde vragen) — DSMR-reader v4 documentatie](https://us

[2021-01-23 17:38] dennissiemensma commented on #1267
Bedankt voor je vragen. Ik kan me voorstellen dat het wat verwarrend is. Het is goed om te weten dat ik zelf beperkt kennis van Docker heb en ook de opzet voor Docker niet beheer. Deze worden beheerd in een apart project.
Alle credits voor het uitwerken (en vooral onderhouden) van de Docker-versie van DSMR-reader gaat uit naar @xirixiz (en voorheen @ualex73).

Aan je config te zien gebruik je de s

[2021-01-23 17:45] ualex73 commented on #1267
De container upgraden is eigenlijk zoals alle andere containers, image tag aanpassen en docker run of docker-compose up gebruiken. Eigenlijk wordt er niets in de DSMR container bewaard.

De PostgreSQL upgraden is eigenlijk zoals de export/import is, maar daar tussenin doe je dan een docker run/docker-compose up zoals je bij de DSMR container deed :-) Dus tussen stap 2 en 3 in mijn lijstje:
https:/

[2021-01-24 07:52] xirixiz commented on #1267
Het is zoals @ualex73 al aangeeft. Je kan de tag aanpassen van de container voor DSMR naar de laatste versie en daarmee draait DSMR op de laatste release. Maar aangezien je de latest tag gebruikt kan je ```docker-compose pul dsmrl``` of  ```docker pull xirixiz/dsmr-reader-docker:latest``` voor de zekerheid uitvoeren. Eigenlijk, zoals je het beschrijft zou Docker inderdaad de laatste images op moet

[2021-01-24 11:50] dennissiemensma commented on #1267
Dank voor jullie bijdrages! @MRL-33 heb je hiermee genoeg informatie?

[2021-01-24 18:07] MRL-33 commented on #1267
@dennissiemensma , @xirixiz , @ualex73
Dank voor de snelle hulp.
Met de link [https://hub.docker.com/r/ualex73/dsmr-reader-docker](https://hub.docker.com/r/ualex73/dsmr-reader-docker) lees ik hoe ik de PostgreSQL-database kan upgraden naar laatste PostgreSQL-versie
E.e.a. wordt me nu duidelijker:

A) Export database:
export data (PostgreSQL versie 10) naar SQL,
B) Restore Datebase:
stap 2: Wis oud

[2021-01-25 08:18] gigatexel opened #1268 "Onduidelijkheid over berekening kosten"
Het wordt in de documentatie niet duidelijk vermeld hoe de energiekosten precies berekend worden.

In de Belgische energiemarkt is het zo dat alles gebaseerd is op kwartieren, zowel verbruik als tarief op basis van kwartierpiek (zie ook https://github.com/dsmrreader/dsmr-reader/issues/1084).

Dit heeft ook impact op de berekening van de kosten voor afname en injectie.

Voorbeeld:
Van 12u00 tot 12u

[2021-01-25 11:32] bennybubble opened #1269 "Mogelijkheid om multi-fase (grafiek) te verbergen"
Hallo Dennis,

Sinds kort maak ik gebruik van je software, installatie op een RPI3 ging bijna moeiteloos en alles draait naar behoren.

Bij het weergeven van de 'live graphs' staat bovenaan de 'recent electricity consumption' en daaronder de distributie per fase.
In mijn geval heb ik wel 3 fases aan de ingang (zoals zo velen) maar slechts één fase in gebruik, de tweede grafiek is dus een kopie van

[2021-01-25 11:51] #1268 closed, assigned to nobody

[2021-01-25 20:44] dennissiemensma commented on #1269
Bedankt voor je melding! DSMR-reader toont (als het goed is) alleen de fasen-grafiek wanneer er daadwerkelijk meerdere fasen gedetecteerd zijn.

Kan het zijn dat je toevallig een 3-fasen meter hebt met slechts 1 fase aangesloten? Die situatie heb ik namelijk nog niet eerder gezien. Bij mij werd pas een 3-fasen meter geplaatst toen ik daadwerkelijk er om vroeg (nodig had), los van of de leidingen e

[2021-01-25 20:56] dennissiemensma commented on #1268
Bedankt voor je vraag. Het 'klopt' dat DSMR-reader hier geen rekening mee houdt. #1084 staat pas op de planning zodra dat gaat spelen. Ik begreep dat dat niet eerder is dan 2022.

Wat betreft kosten, ik denk niet dat daar tzt ondersteuning voor komt mits het niet direct mapt op een kale kWh prijs. Dat zeggende hebben moet ik later dit jaar eerst maar eens een werkend opzet van #1084 hebben draaien

[2021-01-25 20:56] dennissiemensma commented on #1268
Had je het issue trouwens bewust weer gesloten? Ik kan er eind dit jaar best een blik op werpen na #1084, maar dus onder voorbehoud.

[2021-01-25 21:02] dennissiemensma commented on #1267
Je kunt wellicht het beste je vraag bij Xirixiz zelf leggen, gezien je zijn image gebruikt. Ook zodat anderen de vragen en antwoorden later kunnen teruglezen: https://github.com/xirixiz/dsmr-reader-docker/issues

Als je de stappen van Ualex wilt gebruiken, kun je het beste wisselen naar zijn image. Ik weet namelijk niet of je de stappen en images door elkaar heen kan gebruiken.

[2021-01-25 21:23] bennybubble commented on #1269
Hallo Dennis,

Ik denk het, heb niet naar het type van de meter gekeken maar weet wel dat er maar 1 fase in gebruik is (zoals ik reeds beschreef), spanningsmetingen geven waarden voor 3 fasen maar de energie is ( in mijn geval) alleen op fase 3 af te lezen.
-ben

[2021-01-25 22:00] xirixiz commented on #1267
Ik ben het eens met @dennissiemensma.

Stap 0: stop en verwijder de dsmr docker container
Stap 1: export de db data van pg10
Stap 2: stop en verwijder de pg10 docker container
Stap 3: verwijder de data van de db (locatie volume mount)
Stap 4: pas docker-compose aan met pg12
Stap 5: start pg12 via docker-compose
Stap 6: importeer de export van stap 1
Stap 7: start dsmr via docker-compose

Werkt dit

[2021-01-26 07:58] gigatexel commented on #1268
Dag Dennis,

Ik had het bij het verkeerde eind. Ik werk zelf bij de netbeheerder en blijkbaar is er geen compensatie op kwartierbasis. De kosten worden dus "ogenblikkelijk" verrekend. Als de meter 1kWh afname registreert, is dat 1kWh in kosten. Idem voor opbrengst bij injectie.
Is dit ook zo geïmplementeerd in DSMR-Reader? Het kwartier-verhaal voor facturatie is dus een fout van mezelf.

Ivm het p

[2021-01-26 07:59] gigatexel commented on #1084
Op basis van de Vlaamse digitale meter, uitlezing via DSMR in Home Assistant, is dit de query die je de piek van de afgelopen maand geeft.
Bij nieuwe maand dient de oude steeds opgeslagen te worden omdat deze impact heeft op de verrekening van die specifieke maand.
Opgelet! De kwartierpiek geldt niet voor injectie!

[code]

[2021-01-26 08:25] MathiasVDA commented on #1268
@gigatexel : bedoel je dat de kwh prijs verschillend zal zijn doorheen de dag?

Hoe ik het heb begrepen is dat je kwh prijs over heel het jaar vast ligt ifv je energiecontract. Vanaf 2022 is er het capaciteitstarief dat een deel van de distributie, wat nu in de kwh prijs wordt verekend, op een kW basis zal verrekenen (volgens de details in #1084).

Daarnaast heb je nog een aparte kWh prijs voor in

[2021-01-26 08:51] gigatexel commented on #1268
De prijs per kWh hangt af van je contract en het type contract. Al decennia bestaan "vaste" contracten met vaste prijs voor zowel elektriciteit als gas gedurende 1 of meerdere jaren.
Al even lang bestaan ook contracten met een variabele prijs, waarbij de prijs elke maand wordt aangepast aan de markt. In de tijd van de analoge draaischijfmeter, werd je jaarverbruik via statistieken (SLP, synthetic

[2021-01-26 09:13] MathiasVDA commented on #1268
Je kan nu al de geldigheid van een contract met zijn prijs beperken tot 1 maand dus de variabele contracten zou je op die manier kunnen ingeven. Scrapen lijkt mij onbegonnen werkt gezien het nu al bijna onbegonnen werk is om van een leverancier zijn prijzen op zijn website te vinden en daarna die tool te gaan onderhouden. Misschien dat de api van dsmr-reader toelaat om contracten aan te maken. Dan

[2021-01-26 18:48] dennissiemensma commented on #1269
Bedankt voor je aanvulling. Ik denk dat je dan 'pech' hebt gehad dat die niet op fase 1 is aangesloten. Daar gaat DSMR-reader namelijk momenteel van uit. Ik kan er op termijn wel een instelling voor maken, maar dat zal wel even duren.

----

Ik denk dat je voor nu het meeste geholpen bent door zelf bij je eigen installatie de grafiek weg te halen. Je hoeft dan alleen dit blok weg te halen volgens

[2021-01-26 18:51] #1267 closed, assigned to MRL-33

[2021-01-26 19:12] dennissiemensma commented on #1268
Bedankt voor alle extra informatie. De huidige prijsberekening in DSMR-reader is vrij recht-toe-recht-aan: https://github.com/dsmrreader/dsmr-reader/blob/v4/dsmr_consumption/services.py#L252-L284

Het Nederlandse gebruikers hebben meerdere malen gevraagd om extra prijsvelden of calculaties daarvoor toe te voegen, zodat het met hun energienota overeenkomt. Dat is geen doen, daar begin ik niet aan e

[2021-01-26 19:58] bennybubble commented on #1269
Hallo Dennis,

Bedankt,  ik ga er even naar kijken.
Het is niet ongebruikelijk dat ik een andere fase heb dan mijn buren, dit werd (en wordt) gedaan om alle fasen gelijk te belasten.

-ben

[2021-01-26 21:10] Simanias commented on #1265
@dennissiemensma dankjewel voor de referentie.
Op dit moment heb ik er voor gekozen om dsmr-reader middels docker te laten draaien. Dit omdat ik het niet voor elkaar kreeg om de serial2usb interface, middels een pass-through te laten herkennen in de LXC container.
Middels de env variabelen heb ik het geheel aan de praat gekregen. Er draait nu een dsmr-reader database op de postgreSQL server, waaro

[2021-01-26 21:37] dennissiemensma commented on #1269
Ik laat deze even open staan. Anders verdwijnt die later uit zicht.

[2021-01-26 21:49] dennissiemensma commented on #1265
Bedankt voor je update.

Je zou ook nog de andere kant op kunnen proberen, door de remote datalogger te gebruiken. Dan hoef je alleen een HTTP-poort naar die container te hebben. De remote datalogger stuurt het dan via de API van DSMR-reader.

Of het proberen via `ser2net`, wat je seriele poort over netwerk beschikbaar maakt. Al zul je daarvoor wel `ser2net` ergens moeten draaien waar die toegang

[2021-01-27 08:13] gigatexel opened #1270 "Schaal X-as bij live grafieken"
De live grafieken zijn geweldig, maar de schaal op de X-as is een beetje vervelend.
Het zou goed zijn om steeds een vaste cadans (bvb afgerond op 5min) en met vaste tussenafstand (opnieuwe bvb 5min)
Nu ziet het er wat vervelend en onnatuurlijk uit.
![image](https://user-images.githubusercontent.com/65073191/105962369-03c11d00-6080-11eb-9b3f-e9624b9b853c.png)

[2021-01-27 09:12] gigatexel commented on #1268
Dag Dennis,

Voor een goed begrip, ik denk dat niemand hier verwacht dat DSMR Reader automatisch tarieven zal gaan scrapen, inlezen en verrekenen. Dat is ver buiten de scope van dit project denk ik :-)

[2021-01-27 10:06] Simanias commented on #1265
Ja op dit moment draai ik dsmr-reader binnen VMWare esxi en heb ik aparte raspberry als remote datalogger, dit werkt prima. Echter ik vind het 'mooier' om alles op één server(proxmox) proberen te laten draaien (gekke tik).

[2021-01-27 11:19] dennissiemensma commented on #1265
Helder. Mocht je nog meer informatie nodig hebben, laat het gerust weten.

[2021-01-27 11:19] #1265 closed, assigned to Simanias

[2021-01-27 11:36] dennissiemensma commented on #1270
Bedankt voor je suggestie. Ik begrijp je voorkeur helemaal, echter wordt het voor mij erg lastig om iedereen's eigen voorkeur te ondersteunen.

Het is goed om te weten dat er verschillende schermbreedtes zijn en daarnaast ook mobiele gebruikers. Verder zijn er gebruikers die elke seconde een datapunt hebben en anderen (zoals ik) elke minuut. Anderen hebben een dusdanig hoge datalogger sleep dat de

[2021-01-27 11:36] dennissiemensma commented on #1270
Dat zeggende hebben kun je natuurlijk ook zelf wat spelen met de grafieken-library. Alle huidige scripts daarvoor vind je in je lokale DSMR-reader installatie: https://github.com/dsmrreader/dsmr-reader/tree/v4/dsmr_frontend/static/dsmr_frontend/js/dsmr-reader/live

De library is eCharts en die heeft vele opties: https://echarts.apache.org/en/index.html

Als je om wat voor reden je lokale wijziging

[2021-01-27 11:37] dennissiemensma commented on #1270
Verder heb je nog de mogelijkheid (als alternatief of extra verrijking) om de aggregaties zelf te doen, buiten DSMR-reader, in bijvoorbeeld een InfluxDB/Grafana, zodat je helemaal de controle hebt over hoe data gegroepeerd en weergegeven wordt. DSMR-reader kan de bronmetingen exporteren naar InfluxDB (of iets anders via MQTT).

Strikt gezien is DSMR-reader simpelweg een van de vele manierer om DSM

[2021-01-27 11:38] #1270 closed, assigned to nobody

[2021-01-27 11:57] gigatexel commented on #1270
Dag dennis, misschien heb je me verkeerd begrepen of misschien ook niet.

Het is duidelijk dat je niet voor iedereen goed kan doen en dat niet alles zomaar configureerbaar kan/moet zijn via de interface.
Ik had het louter over de "ticks". Waar je ticks zet heeft eigenlijk geen impact op welke data je laat zien, of hoeveel of het zoomlevel.

[2021-01-27 12:09] dennissiemensma commented on #1270
Bedankt voor je aanvulling. Het hangt uiteindelijk allemaal met elkaar samen. Want iemand die geen metingen groepeert, wil ze bijvoorbeeld niet per 5 minuten zien maar per seconde. Ik kan daar helaas geen onderscheid in maken. Daar doel ik met het hele verhaal op. 😁

[2021-01-27 15:51] Simanias commented on #1265
@dennissiemensma toch nog een update, ik weet dat het buiten de scope van dsmr-reader valt, maar het is uiteindelijk met veel werk toch gelukt om het in een LXC container te laten draaien en de serial2usb middels een pass-through te laten herkennen in de container. Dsmr-reader is middels .env variabelen ingesteld op een database die draait op postgreSQL op een VM in RancherOS.
Mocht iemand meer de

[2021-01-27 20:46] Thuurke commented on #1255
Ik los dit nu op door de notifications pagina van de installatie uit te lezen. Als hier There is a newer version of..dan wordt de counter meer dan 1. Opslaan in een json en die laten uitlezen. werkt naar behoren.

[code]

[2021-01-27 20:49] dennissiemensma commented on #1255
@Thuurke je kunt nog overwegen om simpelweg de XHR-request te doen die de About-pagina ook doet:

[code]

[code]

Wellicht versimpelt dat je check.

[2021-01-27 21:01] Thuurke commented on #1255
@dennissiemensma  Oke dat zou inderdaad wat code regels schelen :)

[2021-01-29 08:24] MathiasVDA opened #1271 "Evaluatie thuisbatterij"
Dit project vormt een prachtige databron om te evalueren of een thuisbatterij een goede investering is. Je weet wat er binnenkomt en wat buitengaat. Je kan gebruik maken van de samengevoegde minuutwaarden om te berekenen of een batterij wordt opgeladen of kan worden ontladen.

Gezien de Belgische situatie waarbij de terugdraaiende teller is afgeschaft, is het belangrijk om zoveel mogelijk van het

[2021-01-29 08:24] #1271 closed, assigned to nobody

[2021-01-29 18:28] dennissiemensma commented on #1271
Bedankt voor het delen en erg leuk om te horen dat dit project je heeft geholpen bij de berekening!

Mocht je hier nog anderen mee willen helpen, dan kun je overwegen je project eventueel actief delen op diverse fora. Ik ben namelijk bang dat dit issue hier op Github vrij snel verdwijnt in de backlog van de honderden oude issues van dit project. En er lezen ook maar een handvol mensen mee hier hel

[2021-01-29 20:00] MathiasVDA commented on #1271
Ja dat klopt, ik ben inderdaad nog van plan om het actief te promoten op andere fora. Heb vandaag nog wat tips gekregen om de berekeningen efficienter te maken.

[2021-01-30 12:44] VincentA-github opened #1272 "Importeren partial backup"
Ik heb onlangs DSMR opnieuw moeten installeren.
Ik heb nog een backup van de dag en uur statistieken in mijn mail in dit bestandstype “ dsmrreader-postgresql-partial-backup-2020-09-17.sql”
Hoe kan ik die na een herinstallatie importeren?
Ik kon er op de site en via Google niet echt iets over terugvinden

[code]

[2021-01-30 16:54] dennissiemensma commented on #1272
Bedankt voor je vraag. Ik heb even door de oude issues gezocht, maar kan het niet zo snel vinden.

Omdat je al een nieuwe installatie hebt draaien, is de oude backup in de huidige vorm niet te importeren. Dit komt omdat er gebruik gemaakt wordt van oplopende ID's en er dan botsing ontstaat.

Dit betekent echter niet dat je niets met de back-up kan. De oplossing is namelijk om de ID-kolom + ID-waar

[2021-01-30 16:57] dennissiemensma commented on #1272
Toch nog het oude issue kunnen vinden. Dit is een alternatief om met de hand te doen: https://github.com/dsmrreader/dsmr-reader/issues/1145#issuecomment-703837670

Maar als je dat niet aandurft dan zou ik wachten op de automatisering hiervan.

[2021-01-30 17:05] VincentA-github commented on #1272
Bedankt! Ik ga kijken of het me lukt en anders wacht ik op de automatisering ervan.

[2021-02-02 09:26] spiralshapeturtle commented on #1226
Heb een upgrade gedaan, helaas nog steeds gefaald. Kan ik nog wat logs aanleveren? Heb een snapshot van de foute situatie, kan makkelijk terug.

[code]

[code]

[code]

[2021-02-02 12:36] spiralshapeturtle commented on #1226
@dennissiemensma heb de VM nu gecloned en kan hem nu gebruiken zonder dat het de productie beïnvloed. Laat maar weten wat je nog meer aan logs wilt zien?

[code]

[code]

Als ik dan wat virtenv zaken tracht te re-deployen

[code]

[2021-02-02 12:41] spiralshapeturtle commented on #1226
[code]

Lijkt toch een PIP issue, heb jij tips & commandos welke ik kan draaien? Wil de virtualenv niet vernielen.

[2021-02-02 12:53] spiralshapeturtle commented on #1226
nog even in #1241 gekeken maar dat helpt niet

[code]

[2021-02-02 19:19] dennissiemensma commented on #1226
Bedankt voor je update! Ik denk dat je laatst comment aardig in de buurt komt.

Je kunt daar waarschijnlijk **geen** installatie doen met een `deploy`, omdat die eerst controleert of Django geinstalleerd is. Je zult daarom een deel van de installatiestappen moeten volgen.

Dat heeft overeenkomsten met een major upgrade, waarbij meestal de virtualenv (met Django) verwijderd en opnieuw aangemaakt wo

[2021-02-02 19:34] spiralshapeturtle commented on #1226
Ha @dennissiemensma helaas, die had ik ook al geprobeerd; het draaien van de volledige installatie.

PIP is duidelijk in de war.

[code]

[2021-02-02 19:41] dennissiemensma commented on #1226
Werkt deze ook niet?

[code]

[2021-02-02 19:54] dennissiemensma commented on #1226
Mijn test was overigens met een schone 20.04 installatie, dus wellicht dat een upgrade niet helemaal lekker alles meeneemt.

Als je toch een kloon hebt kun je zoiets proberen, al kan het meer stuk maken:

[code]

Daarna de virtualenv van dsmrreader weer verwijderen en opnieuw aanmaken. Daarin dan kijken of pip dan beter werkt.

[2021-02-03 08:01] spiralshapeturtle commented on #1226
@dennissiemensma helaas geen van allen werkt, het enige wat tot resultaat heeft geleid is het verwijderen van de gehele .virtenv map. En dan de volledige https://dsmr-reader.readthedocs.io/en/v4/installation.html guide door lopen. Data is bewaard gebleven omdat dit in de postgress DB zit, dit ter info voor anderen die tegen het probleem aanlopen.

[2021-02-03 08:45] dennissiemensma commented on #1226
Bedankt voor je aanvulling. Bedoel je dat je het nu wel werkend hebt gekregen?

[2021-02-03 09:32] spiralshapeturtle commented on #1226
yes, .virtenv map in home/dsmr/ verwijderen en dan de installatie commandos uit de link weer runnen. De door jouw genoemde commandos boden geen oplossing, het lijkt op een corrupt bestand in de .virtenv map oid.

[2021-02-04 19:02] DennisVredeveld opened #1273 "Onbruikbare datalogger voor Iskra MT 382"
heb mijn nieuwe pi4 ingericht vanaf scratch volgens https://dsmr-reader.readthedocs.io/en/v4/installation.html#option-b-install-dsmr-reader-manually-explained
Ik ondervind echter twee problemen (die wellicht gerelateerd zijn). Als ik controleer dat alle drie de processen draaien, lijkt de datalogger om de zoveel seconden automatisch te herstarten.
In de logging zie ik het volgende herhaaldelijk vo

[2021-02-04 19:03] skank01 commented on #750
Hoi,

Vraagje.
Bij mij (belgie) zijn ze ook omgedraaid.
In de instelling heb ik belgie-fluvies (gas correctie) ingesteld.
Maar de meter is idd omgedraaid.

Als ik het zo hier lees, moet ik gewoon die naamgeving veranderen?
En wat dan met de MQTT berichten, moet ik ze na de naamgeving ook daar wijzigen of gaat dat mee?

[2021-02-04 19:12] dennissiemensma commented on #750
@skank01 onderwater gaat het over "tarief 1" en "tarief 2", ook in MQTT.

De betekenis van deze tarieven verschilt tussen NL en BE, dus je zult daar inderdaad zelf de juiste naam aan moeten geven als het niet klopt met je eigen situatie. En dus ook in MQTT een andere betekenis moeten hangen aan de ontvangende zijde van de MQTT-berichten.

[2021-02-04 19:17] dennissiemensma commented on #1273
Bedankt voor je melding. De eerste melding zie je omdat DSMR-reader iets van je meter terugkrijgt, maar er geen herkenbaar telegram uit kan halen. Je `cu` output bevestigt dat.

Kan het toevallig zijn dat je in Luxemburg woont en dat P1-poort versleuteld is (https://github.com/dsmrreader/dsmr-reader/issues/928#issuecomment-602245840)? Dat zou in ieder geval kunnen verklaren waarom er geen herkenba

[2021-02-04 19:20] skank01 commented on #750
ok top
dus in het dashboard van dsmr reader aanpassen , en dan in home assistant aanpassen?
in de mqtt settings zelf niet he?

Ff offtopic, daarna zwijg ik
De berekening van kosten, best in dsmrreader? of in home assistant?
Top applicatie trouwens !! Bedankt daarvoor

[2021-02-04 19:20] DennisVredeveld commented on #1273
Bedankt voor de snelle reactie!
Nee, ik woon gewoon in Nederland en mijn meter is 'gewoon' door Enexis geplaatst.

[2021-02-04 19:27] dennissiemensma commented on #750
Ik weet niet hoe het in HA werkt, maar ik kan me voorstellen dat een standaard DSMR MQTT ontvanger/dashboard in HA ook een tariefnaam toont ipv "tarief 1" of "tarief 2". Als dat het geval is, zul je ze daar moeten omdraaien. Als je in HA alleen tarief 1/2 ziet, zul je zelf moeten onthouden welke tariefnummer wat is.
Als alternatief kun je in DSMR-reader ook nog de MQTT-mapping aanpassen en tarief

[2021-02-04 19:34] dennissiemensma commented on #1273
Zolang er geen bruikbare gegevens uit de meter komt kan ik je helaas beperkt helpen en is het voor mij ook [rondzoeken op Tweakers](https://gathering.tweakers.net/forum/list_messages/1578510?data%5Bfilter_keywords%5D=Iskra%20MT%20382). Wat voor kabeltje gebruik je?

[2021-02-04 19:45] DennisVredeveld commented on #1273
Ok bedankt, ik snap dat als er geen bruikbare data uit komt, DSMR er ook niet veel aan kan doen :)
Zal eens kijken of ik m.b.v. tweakers wijzer kan worden.
Ik gebruik deze kabel: https://www.amazon.nl/Domoticz-Raspberry-Universele-P1-kabel-Kamstrup/dp/B089YLC5DT/ref=asc_df_B089YLC5DT/?tag=nlshogostdsp-21&linkCode=df0&hvadid=470481573771&hvpos=&hvnetw=g&hvrand=10569592807056449750&hvpone=&hvptwo=&h

[2021-02-04 19:54] dennissiemensma commented on #1273
Ik neem aan dat je deze ook al geprobeerd had bij je eerdere pogingen?
[code]

[2021-02-04 19:59] DennisVredeveld commented on #1273
Yep, zelfde resultaat:

dsmr@raspberrypi:~/dsmr-reader $ cu -l /dev/ttyUSB0 -s 9600 --parity=none
Connected.
(
 eԓ?E?dR????Vg???V???l?Z2???]?92rrvvVVV,v????֒V?֒??%g/Rm6,2mdZr-R??6-r?%!š?ίR??,2mdZr-VlVl-6?%!E!%N/Rm6l2mdZ?mvvvv6mV22%!E!?N/Rm6l2mdZrmvv??6m6r6%!E!%NoVm6,lYZr2mvmvv6R%g/R???2-2??????6m66%!E%N/Rm6l2-2m?mvvv6mv6!%NoVm6,2m6mvmV,,lZ??%!E???V???l?Z??'v-R%goVm6,lYZ6-r-%NoVm6,lYZ6mv-%NoV-2lr2-

[2021-02-04 20:08] dennissiemensma commented on #1273
Je zou daarnaast nog een berichtje kunnen proberen naar je netbeheerder om te vragen waar het aan ligt, al weet ik niet of ze je hiermee kunnen/willen helpen.

[2021-02-05 09:15] rbeniers opened #1274 "How to change the web port?"
Hello,

I tried to change the standard web port (80) to another port number.

I opened the dsmr-webinterface file to change the port number using the command :
[code]

I changed the port number to another one in the following line:
[code]
And try to save the new file. However I am not able to change the file. I get the next message:
[code]

I tried to edit the file with the root and the DSMR user,

[2021-02-05 11:16] dennissiemensma commented on #1274
Je zult het bestand waarschijnlijk moeten openen als sudo-gebruiker.

Als je ingelogd bent als `pi` gebruiker zou `sudo nano /etc/nginx/sites-enabled/dsmr-webinterface` afdoende moeten zijn.

[2021-02-05 11:18] dennissiemensma commented on #1274
Als root-gebruiker zou je trouwens nooit issues moeten hebben met permissies. Ook daar kun je proberen er `sudo` voor te zetten.

[2021-02-05 11:35] dennissiemensma commented on #1273
Vergeet trouwens niet om in de DSMR-reader dataloggerconfiguratie (de admininterface) de datalogger op DSMR v2/v3 te zetten. Mocht je dat nog niet gedaan hebben. Dit verandert niet de output van `cu`, maar is wel nodig voor DSMR-reader zelf. [Dat is onderwater `9600 7E1`](https://github.com/dsmrreader/dsmr-reader/blob/v4/dsmr_datalogger/services/datalogger.py#L41-L44).

 Ik zie nu dat ik ook al ee

[2021-02-05 11:59] rbeniers commented on #1274
Dat helpt: 'sudo' ervoor zetten. Thanks!

[2021-02-05 13:33] DennisVredeveld commented on #1273
Dat is een goede, dat had ik inderdaad nog niet ingesteld!
9600 7E1 is ook in mijn post op tweakers bevestigd (zie https://gathering.tweakers.net/forum/view_message/66016646), dus dat betekent toch dat ik met cu moet testen met `-s 9600 parity=even` of moet ik de 7 databits ook nog expliciet opgeven?
In dat antwoord wordt ook over inverteren m.b.v. FT_Prog gesproken, dus ik ga dat eerst maar even

[2021-02-05 16:02] #1274 closed, assigned to rbeniers

[2021-02-05 16:05] dennissiemensma commented on #1273
Ik zou eerst proberen of het nu misschien direct werkt in DSMR-reader. Je zult het datalogger-proces (of alle DSMR-reader processen) wel even moeten herstarten voor de zekerheid.

Ik weet niet welke argumenten nog nodig zijn voor `cu` om 7E1 te bereiken.

[2021-02-06 10:25] DennisVredeveld commented on #1273
Finally solved! Het probleem zat het inderdaad in het feit dat bij mijn meter het RX-signaal kennelijk geinverteerd is en de kabel daardoor verkeerd uitleest. Door m.b.v. FT_Prog de kabel correct in te stellen (RX inverteren), komt er nu wel leesbare data uit en werkt DSMR reader ook meteen!
Wellicht handig mochten mensen na mij ooit hetzelfde probleem ervaren.
@dennissiemensma  in ieder geval bed

[2021-02-06 11:08] dennissiemensma commented on #1273
Bedankt voor je update en toelichting. Fijn om te horen dat het nu werkt!

[2021-02-06 11:08] #1273 closed, assigned to nobody

[2021-02-06 17:26] dennissiemensma commented on #1273
@DennisVredeveld nog 1 vraag, met welke `cu` parameters kun je nu de meter uitlezen?

In de DSMR-reader docs staat nu deze voor DSMR2-meters:
[code]

Maar als die niet klopt dan pas ik hem aan voor een volgende lezer.

[2021-02-07 09:34] FutureCow opened #1275 "Som gasverbruik"
Om een beetje inzicht te kunnen krijgen in het gasverbruik, zou het mooi zijn als je bijvoorbeeld kunt zien hoeveel gas er wordt verbruikt om het huis op temperatuur te krijgen. Het makkelijkste is als je bij de Live Grafieken de som zou zien van wat er op dat moment in beeld is. Als je dus van 6:00 tot 8:00 selecteert in de balk eronder, dat er ergens het getal staat wat alle staven bij elkaar op

[2021-02-07 14:13] mvklingeren opened #1276 "Installatiescript werkt niet naar behoren met huidige repo v4"
Ik probeer op een raspberry-pi (raspberry os), schone installatie DSMR te installeren. Echter ontbreekt het postgresql.txt bestand in de repo clone.
Volgende regel wordt daardoor niet goed uitgevoerd (de base.txt deps worden niet geinstalleerd) > wat de installatie een drama maakt, mocht je dat niet door hebben ;-)

pip3 install -r dsmrreader/provisioning/requirements/base.txt -r dsmrreader/provis

[2021-02-07 14:21] dennissiemensma commented on #1276
Bedankt voor je melding. Kan het zijn dat je een oudere versie van de docs gebruikt?

Voor DSMR-reader v4 zul je ook de `v4` docs (of nu nog `latest`) moeten gebruiken:
- https://dsmr-reader.readthedocs.io/en/v2/installation.html
- https://dsmr-reader.readthedocs.io/en/v3/installation.html
- https://dsmr-reader.readthedocs.io/en/v4/installation.html
- https://dsmr-reader.readthedocs.io/en/latest/i

[2021-02-07 14:23] mvklingeren commented on #1276
Ja, dat was het probleem. Thanks Dennis, kom er verder wel uit :))))

[2021-02-07 14:23] #1276 closed, assigned to nobody

[2021-02-07 14:26] dennissiemensma commented on #1275
Bedankt voor je suggestie. Ik zal in een toekomstige versie kijken wat er mogelijk is qua grafieken, dat hangt namelijk erg af van de grafiekentool die ik gebruik.

[2021-02-07 14:29] dennissiemensma commented on #1275
Wat betreft je tweede vraag is het denk ik handiger om de oorzaak van falende updates te achterhalen, zodat het uberhaupt niet meer voor komt. Heb je enige indicatie wat dat falen binnen DSMR-reader veroorzaakt?

[2021-02-07 14:30] dennissiemensma commented on #1276
Dank voor je snelle reactie. Ik denk dat ik uiteindelijk de oudere documentatie versies maar wat sneller ga uitfaseren. Je bent namelijk niet de eerste die hier tegenaan liep ;-)

[2021-02-07 14:32] dennissiemensma opened #1277 "Redirect v2/v3 docs"
Vooral omdat ze vaak nog gelinkt worden vanuit zoekmachines of forums, maar ook nog in oude installaties. De v2 > v3 > v4 upgrade instructies blijven sowieso langere tijd beschikbaar.

[2021-02-08 09:24] RoboMagus opened #1278 "Incorrect graph display when missing measurements"
I've had a short circuit last night causing my Raspberry PI with DSMR-reader to go offline for a few hours.
When looking at the graphs around the outage time it simply continues unbroken, even though there's a gap of multiple hours (See image below. Outage occurred around 0.30, and I've powered back on at 6.00-ish) .
I would assume the graphs to correctly reflect missing data and have a time-conti

[2021-02-08 10:24] GieltjE opened #1279 "Temperatuur API gaat fout"
Zoals we allemaal weten is het momenteel koud, echter denkt DSMR reader van niet:

![image](https://user-images.githubusercontent.com/2291132/107206895-ef760c00-69ff-11eb-9fd5-76e8f2cb37c3.png)
![image](https://user-images.githubusercontent.com/2291132/107206928-f735b080-69ff-11eb-99d0-ffb4844e12b0.png)
![image](https://user-images.githubusercontent.com/2291132/107206951-ff8deb80-69ff-11eb-9c84-fd

[2021-02-08 10:31] DennisVredeveld commented on #1273
Klopt helemaal!

[2021-02-08 10:32] jeroenpeters1986 commented on #1279
Hoi @GieltjE,

DSMR Reader kijkt naar https://data.buienradar.nl/2.0/feed/json (te vinden in https://github.com/dsmrreader/dsmr-reader/blob/v4/dsmrreader/config/defaults.py#L84)
Daar wordt de grondtemperatuur van gebruikt (zie ook: https://github.com/dsmrreader/dsmr-reader/blob/v4/dsmr_weather/services.py#L50)

Als ik de feed bekijk voor de Bilt dan zie ik dit:
![image](https://user-images.githubu

[2021-02-08 10:34] GieltjE commented on #1279
Inderdaad, is het misschien een optie om dan alle twee de temperaturen te gaan opslaan?
Ze lijken mij alle twee relevant namelijk.

[2021-02-08 10:38] jeroenpeters1986 commented on #1279
Ik denk niet dat dat gaat gebeuren, in andere threads heb ik gelezen dat Dennis (die DSMR Reader ontwikkelt) dit eigenlijk al buiten de scope van het project vond gaan. Ik snap dat je vindt dat ook de andere temperatuur relevant is, maar dan zou je ook nóg meer op kunnen slaan om je verbruik te duiden aan de hand van het weer en voor je het weet synchroniseer je Buienradar volledig.

Maar laat ik

[2021-02-08 18:00] dennissiemensma commented on #1278
Bedankt voor je melding! Ik zal hier in de toekomst een keer naar kijken.

Ik kan me vaag herinneren dat ik eerder een poging gedaan heb. Het probleem was dat alle datapunten geen vast interval hebben en het daarom gebaseerd wordt op de datapunten. Dat maakt het tevens wat minder makkelijk om om gaten in gegevens af te vangen.

Wellicht dat het toch mogelijk is via de grafiekentool die ik gebruik,

[2021-02-08 18:26] dennissiemensma commented on #1279
Bedankt voor jullie toelichting! Ik sluit me aan bij Jeroen qua opslag van temperaturen en houd dat zo simpel mogelijk. Het is, net zoals bijvoorbeeld alle prijsberekeningen in DSMR-reader, meer bedoeld als een indicatie om een gevoel te geven van wat er op een dag heeft gespeeld.
Dit omdat voor het verbruik veel meer factoren in meespelen, wat niet allemaal in DSMR-reader kan. Het beste voorbeeld

[2021-02-08 21:11] RoboMagus commented on #1278
Thanks voor de snelle update.

Ik heb zitten kijken naar de implementatie. Echarts heeft inderdaad wat eigenaardigheden als het aankomt op de correcte weergaven van dit soort charts op een 'time' axis.

Ik heb het voor mijzelf (enigszins) werkend gekregen door de 'read_at' in live_graphs.py niet te formatten zodat Echarts een js Date object kan parsen. Daarnaast heb ik het xAxis type veranderd van

[2021-02-09 08:19] GieltjE commented on #1279
Denk dat ze beiden relevant zijn, de ene is (om en nabij waarschijnlijk) de buitensteen temperatuur van je huis, de ander is de lucht die je naar binnen circuleerd.
Weet niet of het beter word van het middelen tussen deze twee.

Snap heel goed dat je alles simpel wilt houden, aan de andere kant is het voor de eind gebruiker weer frustrerend als ze voor het totaal plaatje (denk ook aan b.v. de wate

[2021-02-09 08:23] jeroenpeters1986 commented on #1279
Ik snap wat je zegt, maar dan moet je als software ontwikkelaar dat ook allemaal (in je vrije tijd) bijhouden. Dat is wel een nadeel aan veel externe services, en die kunnen ook weer onderhevig aan veranderingen zijn.

Watermeters laten zich op dit moment sowieso nog slecht uitlezen. Er zijn wel mensen die dat met camera’s en tekstgerkenning proberen maar daar is volgens mij sowieso nog geen betro

[2021-02-09 13:35] mrwolf78 opened #1280 "Alert versturen op basis van bijv. dagresultaat"
Ik gebruik DSMR o.a. om de opbrengst van mijn zonnepanelen te monitoren. Nu is afgelopen week na een stroomstoring de omvormer defect geraakt, waardoor er dus geen energie meer wordt teruggeleverd.

Is het mogelijk om op basis van bepaalde dagwaarden (bijv. 0 watt teruggeleverd over de afgelopen dag) een alert te sturen via mail/Telegram etc.?

Ik krijg nu al wel dagelijks een Telegram-bericht met

[2021-02-09 17:33] dennissiemensma commented on #1278
Bedankt voor je aanvulling. Ik was daar al bang voor. Dat zeggende hebben zal ik je bevindingen tzt meenemen, want het klinkt sowieso al beter om gebruik te maken van de native datetime in JS ipv wat ik nu heb gedaan.
Wellicht had ik er destijds een goede reden voor, maar dat kan ik me niet meer heugen. Mogelijk iets met vertalingen of toch die zoom waar je nu ook tegenaan loopt.

[2021-02-09 18:17] dennissiemensma commented on #1279
@GieltjE ik begrijp dat het superhandig zou zijn voor gebruikers, alleen is DSMR-reader niet gemaakt (of bedoeld) om dat soort problemen op te lossen. Ik denk namelijk dat het een utopie is om 1 systeem te hebben wat alles kan.

Helemaal met alle software en tools die er tegenwoordig zijn, en wat er allemaal nog aan komt, lijkt het me onmogelijk om alles met alles te integeren binnen een systeem w

[2021-02-09 18:23] dennissiemensma commented on #1280
Bedankt voor je verzoek. Ik kan me goed voorstellen dat je zo'n feature voor je eigen situatie wil, maar ik denk dat het simpelweg niet in DSMR-reader past als standaardfunctionaliteit.

Waarschijnlijk ben je het meeste geholpen door een script of plugin te maken wat dagelijks, via de API van DSMR-reader, kijkt naar de teruglevering van de vorige dag. En bij nul-waardes dat telegram-bericht stuurt

[2021-02-10 10:21] RezzZ opened #1281 "Solaredge API support"
Sinds kort zonnepanelen op m'n dak en net als de meerderheid heb ik een solaredge invertor.
Hoewel niet perse relevant voor een slimme meter, en dus dsmr reader, geeft een overzicht van de totaal opgewekte energie een completere plaat bij dagstatistieken ipv dat opgewekte energie die meteen verbruikt wordt niet afgeleid kan worden uit de dsmr statistieken. Nu zien we alleen het surplus aan terugge

[2021-02-10 11:24] jeroenpeters1986 commented on #1281
Hallo @RezzZ deze vraag is al heel vaak voorbij gekomen hier (zie ook o.a. #1068, #621, #594). Het antwoord van Dennis (de ontwikkelaar) is altijd dezelfde geweest dus ik neem de vrijheid dit te herhalen.

DSMR reader is alleen bedoeld om de slimme meter uit te lezen, dat is de scope. Er zijn een paar export mogelijkheden naar andere services en meerdere manieren om zelf de data eruit te halen om

[2021-02-10 11:24] #1281 closed, assigned to nobody

[2021-02-10 11:59] RezzZ commented on #1281
Ai, en ik had nog wel gezocht op solaredge in de issues (open en closed) er waren er vier gesloten maar geen die zover ik zag over deze vraag gingen.
Edit: denk dat mijn vorige zoektocht een typo had. Zie nu idd oudere issues.
Blijft een mooie integratie mi voor dsmr reader aangezien het veel verband houdt met de slimme meter en de interne verrekening.

Het weer heeft in principe ook niets met een

[2021-02-10 12:22] jeroenpeters1986 commented on #1281
Nee dat klopt, maar dat is natuurlijk geen reden om er andere dingen in te zetten ;-)

Ik dacht zelfs dat Dennis in een ander ticket al eens had gezegd dat hij dat achteraf ook niet had willen/moeten doen. Nu dat erin zit (als sinds zo’n beetje de initiële release) en mensen het gebruiken (om voor henzelf het verbruik een beetje te duiden) wordt het er niet uitgehaald, maar ook niet uitgebreid (da

[2021-02-10 18:18] dennissiemensma commented on #1281
@RezzZ ik denk dat je het meeste geholpen bent met PVOutput. DSMR-reader is vooral gericht op het uitlezen en visualiseren van de slimme meter.
Zie vooral #9 en de referenties daar qua PVOutput. Ik denk namelijk dat PVOutput zich daar in specialiseert en een meer te bieden heeft op dat gebied dan DSMR-reader. Inhoudelijk kan ik je daar niet mee helpen, maar er zijn meerdere gebruikers die het (bli

[2021-02-10 18:20] dennissiemensma commented on #1280
Mocht het niet lukken met PVOutput, laat het vooral weten. Via een script of plugin aan DSMR-reader kun je wellicht hetzelfde bereiken, al is dat dan dus puur gemaakt voor je eigen situatie.

[2021-02-10 18:20] #1280 closed, assigned to nobody

[2021-02-10 18:21] dennissiemensma commented on #1279
@GieltjE zijn de temperaturen vandaag wat beter voor je? Mocht middelen van beide velden toch nog een verbetering zijn, laat het weten. En anders laat ik het huidig gebruikte veld voor wat het is.

[2021-02-10 18:22] dennissiemensma commented on #1264
@Jasper-GIT is het inmiddels gelukt en is je data verkleind?

[2021-02-10 18:29] mrwolf78 commented on #1280
Ik was direct na jouw opmerking aan de slag gegaan met pvoutput, dank voor de tip! Echter, ik krijg geen alert voor elkaar.
<img width="375" alt="pvoutput" src="https://user-images.githubusercontent.com/643348/107554341-1b4aea80-6bd6-11eb-92f9-77ff3f46a5b7.png">

De omvormer is nog steeds stuk, er wordt 0 watt teruggeleverd. Maar er wordt geen alert getriggerd. Maar dit is misschien meer iets voor

[2021-02-10 18:35] dennissiemensma commented on #1280
Dank voor je terugkoppeling. Je kunt het idd daar even vragen.

Ik weet wel dat sommige features overigens alleen beschikbaar zijn daar via een donatie ($15 per jaar). Mogelijk valt dit daar ook onder, al zou ik daar dan een waarschuwing of melding van verwachten. In een andere sectie staat het wel impliciet namelijk als dono-feature: https://pvoutput.org/help.html#donations-feature-bonus

[code]

[2021-02-10 22:20] 8uurg opened #1282 "⚠️ Docker only - Reading timestamp differences (1 or 2 hours off)"
# Oplossing
Verwijder deze mount:
[code]

### Alternatief

https://github.com/dsmrreader/dsmr-reader/issues/1282#issuecomment-778618994

----

## Oorspronkelijk issue:

**Omgeving**
Ik draai DSMR reader in Docker, met een remote datalogger.
[code]
(voor unprocessed readings heb ik de reportagesnelheid al op 5s gezet, ipv de standaardwaarde van 0.5s.)

**Probleemomschrijving**
Na terugzetten van ee

[2021-02-11 07:18] dennissiemensma commented on #1282
Bedankt voor je melding. Toevallig had iemand soortgelijke issues in xirixiz/dsmr-reader-docker/issues/171, dus mogelijk helpt dat in het vinden van de oorzaak met die null-meldingen.

Wat betreft je andere issue over de foutmelding tussen 23:00 en 0:00, dat klinkt erg als een tijdzone issue en klinkt als een bug in DSMR-reader bij het bepalen van de datum aan de hand van de huidige tijd.

- Welke

[2021-02-11 07:57] Jasper-GIT commented on #1264
Hoi Dennis,

De Pi is weer snel inmiddels en ik heb geen melding meer van grote
hoeveelheden data..
Wel zie ik nog 1 melding en dat is deze: *Database groeit gestaag: 8402 MB,
overweeg dataopschoning (indien nog niet ingeschakeld)*   (*nu*)

  Groeten Jasper

[2021-02-11 08:29] 8uurg commented on #1282
Yep. Ik had precies hetzelfde probleem als de persoon waarnaar je refereert, database was corrupt omdat de datum en tijd van de alpine docker image niet meer werkte op de Raspberry Pi 4 na een update van de containers. Dus ook hier was sprake van een update.

Een korte serie van de stappen die ik heb gezet:
* Heb de image op `postgres:12` zet
* Losse `docker-compose.yml` gemaakt die alleen de data

[2021-02-11 08:51] #1279 closed, assigned to GieltjE

[2021-02-11 13:10] skank01 opened #1283 "Foutmelding na invullen foutieve datum in energiecontract"
Na volgende gegevens in energie contract in te vullen: (kan ik trouwens zonder einddatum werken, want die is er eigenlijk niet?)
Alsook prijzen zijn toch voor elec per khw en voor gas ook per m³ he?

https://i.ibb.co/2FXRM4g/energie.jpg

Krijg ik volgende foutmelding:
[code]

[2021-02-11 13:25] skank01 commented on #989
per maand en per jaar ook eigenlijk

[2021-02-11 15:13] TheCrow-zz opened #1285 "Live verbruik blijft 0W in dashboard en verspringt soms"
Als ik inlog in het DSMR Dashboard staat er bij Live consumed 0W en bij returned vespringt hij wel af en toe.
Voorheen kon ik wel live mijn verbruik zien, het updaten van 4.8 naar 4.11 heeft ook niet geholpen.
Met sudo supervisorctl status staat alles op Running.

sudo supervisorctl restart all heeft helaas het probleem niet doen verhelpen, en volledige reboot van de Raspberry pi 4 ook niet.

Soms

[2021-02-11 16:30] wtreur opened #1286 "Stadswarmte via (tweede) P1-poort"
Sinds enkele tijd levert onder andere vattenfall een slimme meter met p1-poort bij de stadswarmteset. Het lukte me vrij eenvoudig om deze data uit te lezen en is conform DSMR-spec (in ieder geval voor de meter die ik heb). Bijvoorbeeld:
[code]
Het zou denk ik een mooie aanvulling zijn om hier ondersteuning voor in te bouwen. Zeker gezien er steeds meer wijken op stadswarmte worden aangesloten.

Wa

[2021-02-11 16:51] skank01 commented on #1255
+1 voor update mqtt

[2021-02-11 16:54] skank01 commented on #685
+1
Per jaar zou ook welkom zijn !!
Beetje gelijkgaand ook met https://github.com/dsmrreader/dsmr-reader/issues/989

[2021-02-11 17:07] dennissiemensma commented on #1282
@8uurg dank voor de uitgebreide toelichting. @Tralapo wellicht wil je dezelfde stappen volgen als onderin bovenstaande comment: https://github.com/dsmrreader/dsmr-reader/issues/1282#issue-805921399 voor het oplossen van de null-waardes.

Ondertussen zal ik even kijken of ik wat kan vinden mbt de andere datumfout.

[2021-02-11 17:14] Tralapo commented on #1282
Ik ben zowel met Docker als SQL geen enorme pro, dus eigenlijk twee losse vragen aan @8uurg:

- Wat doen die comments nou eigenlijk precies? Constraints zegt mij zo niets
- Hoe voer ik ze precies uit in de Docker?

[2021-02-11 17:15] dennissiemensma commented on #1282
Het lijkt erop dat de specifieke fout komt doordat DSMR-reader de datum gebruikt van het meest recente telegram. Dat kan wellicht botsen met een paar seconden als de meter voorloopt, maar ik ga er vanuit dat jullie meter niet heel toevallig een uur voor loopt.

Helaas zie ik niet zo 1-2-3 waarom dit op deze manier gedaan is. Het is een wijziging van november 2017, dus lang geleden, voor [v1.11](ht

[2021-02-11 17:20] Tralapo commented on #1282
@dennissiemensma Ik weet niet of het relevant is, maar wat me wel opvalt wat tijden betreft:

Als ik in de Admin naar geplande processen ga en er een aanpas, kun je naast het vakje tijd op 'Nu' klikken. Dan vult hij de correcte, huidige, tijd in, maar zodra ik op opslaan druk springt hij een uur vooruit en staat er 'over 59 minuten'.

[2021-02-11 17:30] dennissiemensma commented on #1282
@Tralapo dank voor de aanvulling, des te meer vermoedens ik heb dat het iets met de tijdzone is, want ik krijg dat zelf niet voor elkaar. Wat krijg je te zien als je inlogt op de docker container en `date` typt?

[2021-02-11 17:35] dennissiemensma commented on #1264
@Jasper-GIT fijn!

Je kunt dit nog proberen. Hoef je maar eenmalig uit te voeren nu je dataopschoning weer 'bij' is:

[code]

Vermoedelijk gaat de laatste melding dan ook weg.

[2021-02-11 17:35] #1264 closed, assigned to Jasper-GIT

[2021-02-11 17:36] 8uurg commented on #1282
@dennissiemensma Ik heb zelf ook de vermoedens dat het iets met tijdzones te maken heeft gegeven het precieze uur verschil.
Aangezien mijn remote datalogger de tijdzone Europe/London had toen ik hem voor het eerst weer aanzette. Als je deze tijdzone plakt achter nederlandse tijd heb je 1 uur verschil met de huidige tijd.
Ik weet echter niet hoe DSMR Reader intern omgaat met tijdzones, dus is een h

[2021-02-11 17:38] Tralapo commented on #1282
Heb dit gecheckt met `docker exec -t [container-id] date` en DSMR loopt gelijk met de Pi zelf (18:34 CET) en Postgress zegt 06:34PM CET. Ook goed dus, maar andere vorm.

[2021-02-11 17:45] dennissiemensma commented on #1282
@8uurg wat krijg je te zien op de commandline in de docker container als je `date` typt?

De (standaard) remote datalogger stuurt verder gewoon het telegram door, met de datumtijd van de meter, dus daar verwacht ik ook geen afwijkingen.

[2021-02-11 17:47] dennissiemensma commented on #1282
DSMR-reader kan overweg met tijdzones, waarbij **alle datetimes** in de applicatie een tijdzone hebben. Dat zeggende hebben moet DSMR-reader op sommige momenten of (zoals hier) bij het bepalen van datums wel het omzetten naar de lokale tijdzone. De lokale tijdzone **zou** degene moeten zijn die ingesteld is als `DJANGO_TIMEZONE`, die ook default naar onze NL-tijdzone.

Maar het lijkt erop dat dit

[2021-02-11 17:50] dennissiemensma commented on #1282
Wat krijgen jullie te zien als jullie in de database container dit doen? Ik weet overigens niet of het eerst command nodig is in Docker.

[code]

Bij mij is het:
[code]

Wat klopt, in de zin dat het 1 uur achterloopt, maar dat dat gecompenseerd wordt met `+00` (UTC). In jullie geval zou ik een afwijking _kunnen_ verwachten.

[2021-02-11 17:55] Tralapo commented on #1282
Hier nog even in afbeeldingen wat er gebeurt als ik een gepland proces met de hand invul op nu + 2 minuten.

![image](https://user-images.githubusercontent.com/11296429/107677283-5f9fbe80-6c9a-11eb-8ad0-07121d043da4.png)

Zodra ik op opslaan heb gedrukt, schiet hij een uur vooruit:

![image](https://user-images.githubusercontent.com/11296429/107677113-3121e380-6c9a-11eb-92c8-1feb3e3e1832.png)

@de

[2021-02-11 17:58] 8uurg commented on #1282
@dennissiemensma
Date:
![afbeelding](https://user-images.githubusercontent.com/3746853/107677444-8f4ec680-6c9a-11eb-9e25-bdb3bf923bc2.png)

In de container bestaat bij mij de postgres user niet, deze stap sla ik dus over.
SQL:
![afbeelding](https://user-images.githubusercontent.com/3746853/107677734-e0f75100-6c9a-11eb-99f8-2efa6d6ef0b4.png)

[2021-02-11 18:00] Tralapo commented on #1282
@8uurg Het loopt hier allemaal wat (snel) door elkaar heen nu, maar zou jij mij nog even kunnen toelichten hoe je die acties toepast om de null fouten weg te krijgen? Ik zit nog steeds voornamelijk met dat probleem namelijk, maar begrijp niet helemaal waar/hoe ik de fix toepas.

[2021-02-11 18:09] 8uurg commented on #1282
@Tralapo De NULL fouten komen -- mijn inziens -- door telegrams die om een onbekende reden na verwerking overal null voor hebben (behalve de timestamp). De database faalt ze te verwerken (ze voldoen niet aan de eisen voor een valide waarde in de database), maar de verwerkingsprocedure probeert het dan opnieuw: het bericht is nog niet verwerkt.
Als je SQL kan invoeren (eg. via psql) zorgt
[code]
er

[2021-02-11 18:13] Tralapo commented on #1282
@8uurg Maar hoe kom ik 'in' docker om deze SQL acties in te voeren? Simpelweg `sudo docker exec -i dsmrdb psql -U dsmrreader` en dan daarachter één voor één al die regels? Ben zoals gezegd nog een redelijke beginner op zowel docker als sql vlak.

Wat bedoel je precies met het hebben van een backup? Ben ik na deze actie alle gegevens uit dsmr kwijt?
Want dit probleem ontstond juist bij het terugzet

[2021-02-11 18:13] dennissiemensma commented on #1283
Bedankt voor je melding! Ik zal het fixen in de volgende release.

[2021-02-11 18:13] dennissiemensma commented on #1283
De contracten moeten datums hebbenzodat het bepalen van de prijzen voor een dag enigzins werkbaar is, al snap ik dat het wat praktischer voor je zou zijn als ze leeg zouden kunnen blijven.

[2021-02-11 18:14] vdbrink opened #1287 "How to enable Weather update?"
I see in the config : Backend (dsmr_backend) > Weather update which is not active.
How can I activate this?

I can't find anything about it in the documentation.

I see on github in the code an endpoint DSMRREADER_BUIENRADAR_API_URL Is this something which must be defined?

[2021-02-11 18:17] skank01 commented on #1283
Als ik het zo lees, is de foutmelding door invullen foutieve datum?
Maar ik heb een datum ingevuld (niet leeggelaten) dus wat moet ik dan wel invullen?

[2021-02-11 18:17] 8uurg commented on #1282
Klopt!

Want dit probleem ontstond juist bij het terugzetten van zo'n backup, dus ben ik dan niet terug bij af?

Je raakt niet alle data kwijt, maar als je in een live database data gaat verwijderen word ik altijd nerveus. Ik zorg er altijd voor en raad aan dat er een backup is: een typefout kan wel alles verwijderen...

[2021-02-11 18:20] dennissiemensma commented on #1283
Zie bovenin je screenshot. Ik dacht dat je dit wilde melden als fout. Je vult 'Eneco' in als startdatum.

![Selection_003](https://user-images.githubusercontent.com/16581744/107680395-17829b00-6c9e-11eb-96b4-676ac13cf40d.png)

[2021-02-11 18:21] dennissiemensma commented on #1283
In de volgende release zal ik zorgen voor een fatsoenlijke fout. Zoiets als dit:

![Selection_004](https://user-images.githubusercontent.com/16581744/107680531-426cef00-6c9e-11eb-8e6f-63bc9caa61e7.png)

[2021-02-11 18:23] dennissiemensma commented on #1287
Je kunt dit aanvinken in de configuratie, onderaan de tussenpagina van de screenshot hier:
https://dsmr-reader.readthedocs.io/en/latest/configuration.html

Die linkt direct door naar de admin-pagina waar je moet zijn. Daar kun je het aanvinken en een station kiezen.

[2021-02-11 18:25] Tralapo commented on #1282
Volgens mij doe ik het niet goed:

[code]

[2021-02-11 18:28] skank01 commented on #1283
Das toeval ;) Nu lukt het idd, ik had het niet eens gezien dat ik de naam op de plaats van de datum gezet had :)
Toevallig dus de bug gemeld :)

[2021-02-11 18:35] 8uurg commented on #1282
Uh. Hij heeft de aanpassingen in een keer succesvol doorgevoerd. De bedoeling was meer om
[code]
te gebruiken om een command line te krijgen en ze daarin uit te voeren.

Het commando is correct uitgevoerd, dus je hoeft het niet opnieuw te doen...

[2021-02-11 18:35] skank01 commented on #1283
Ik krijg volgende kosten nadat ik bovenstaande aan gegevens in gevuld heb
[url=https://ibb.co/8bFFpZP][img]https://i.ibb.co/qCbbfQm/kosten.jpg[/img][/url]
Dat kan toch niet kloppen?
Ik zou dan vandaag 66 euro verbruikt hebben dag... 34 nacht (en die is nog niet om) en dan nog es 115 gas

dure dag. lol

Waar mis ik iets?

[2021-02-11 18:39] Tralapo commented on #1282
Ah, bedankt. Heb voor de zekerheid de eerste reeks ALTER TABLE commando's nog een keer gedaan via die interface.

De DELETE actie lijkt alleen niet echt iets te doen daarna, klopt dat?

[code]

[2021-02-11 18:40] 8uurg commented on #1282
Als het goed zou zijn, zou hij alle NULLs verwijderd moeten zijn, of zijn ze nog niet toegevoegd.
Je moet even wachten na het aanpassen van de tabel om het de tijd te geven.

[2021-02-11 18:43] vdbrink commented on #1287
Bedankt, gevonden! onder het kopje 'Weergegevens-integratie' op de url /admin/dsmr_weather/weathersettings/1/change/

[2021-02-11 18:43] #1287 closed, assigned to nobody

[2021-02-11 18:45] dennissiemensma commented on #1283
De prijzen zijn in Euro's en niet in centen. Ik denk dat dat de oorzaak is. Probeer het eens met formaat `0,1903` ipv `19,03`.

[2021-02-11 18:48] Tralapo commented on #1282
Ik had natuurlijk weer veel te veel haast. Heb de boel even opnieuw opgestart en de eerste reeks `ALTER TABLE` nogmaals gedaan.

Inmiddels, een paar minuutjes later, zie ik voor het eerst de hoeveelheid onverwerkte telegrammen omlaag gaan in plaats van omhoog! Van ruim 26000 stuks naar ruim 22000 stuks nu. Nog even geduld dus, maar er lijkt iets te gebeuren.

_Update:_
De `DELETE` leverde nu ook 5

[2021-02-11 18:50] pcdiks opened #1288 "Docker: (IntegrityError) null value in column "delivered_1" violates not-null constraint"
Ik draai DSMR reader in docker.

Door een of andere reden is mijn database corrupt geraakt en ben ik daar pas na een paar dagen achter gekomen.
Uiteindelijk heb ik gewoon een nieuwe database container gemaakt en daarna een backup van de database terug gezet. Hiervoor het ik gebruik gemaakt van de documentatie over hoe een backup terug te zetten. Dit lijkt allemaal zonder problemen maar nu het ik d

[2021-02-11 19:03] dennissiemensma commented on #1288
Bedankt voor je melding! Je hebt geluk, in de zin dat er twee anderen zijn met exact hetzelfde probleem. Ik vraag me af waarom dit opeens massaal een issue is voor zoveel gebruikers.

Anyway, de oplossing staat hier, je zult zelf wat queries moeten uitvoeren: https://github.com/dsmrreader/dsmr-reader/issues/1282#issuecomment-777686345

[2021-02-11 19:05] dennissiemensma commented on #1282
Dank voor jullie input, ik heb dan **geen** verdere ideeen meer waar het aan kan liggen qua 23:00-0:00.

Er is nu overigens een derde Docker-gebruiker die hetzelfde probleem heeft qua null-velden in #1288, dus ik ben heel benieuwd wat er in Docker of PostgreSQL gebeurd is met jullie dat dit plotseling speelt. Ik houdhet huidige issue wel voor "23:00-0:00" en zal de oplossing voor de null-velden in

[2021-02-11 19:07] dennissiemensma commented on #1288
Voor nu sluit ik deze en pin ik deze. Dank voor jullie meldingen en de oplossingen. Ik kijk het even aan, want ik snap dus niet zo goed waarom de DB bij jullie opeens issues geeft.

[2021-02-11 19:07] #1288 closed, assigned to nobody

[2021-02-11 19:26] pcdiks commented on #1288
Ok, die oplossing heeft geholpen maar ik heb nu nog de volgende melding in de logs:
[code]
Is daar ook een oplossing voor?

[2021-02-11 19:29] skank01 commented on #1283
oh hoe stom van me, excuses thx !

[2021-02-11 19:39] skank01 opened #1289 "Vaste dagkosten via MQTT naar HA"
Ik kijk er vermoedelijk over, maar het zou handig zijn mochten de vaste kosten per dag/maand/jaar ook via mqtt doorgaan naar HA

[2021-02-11 19:47] dennissiemensma commented on #1288
Staat er toevallig nog een stacktrace bij met een bestand of regelnummer?

[2021-02-11 19:53] pcdiks commented on #1288
Ja, nu je het zegt staat er een stacktrace voor:
[code]

[2021-02-11 20:01] dennissiemensma commented on #1288
Ik denk dat dit zichzelf oplost na middernacht straks. Het systeem kan geen gasmeting vinden van gisteravond voor upload naar MinderGas.

[2021-02-11 20:04] 8uurg commented on #1282
Nog een aanvulling: bij mij loopt hij nu ~600 readings achter, wat ongeveer overeen komt met 1 uur. Dit aantal loopt ook niet meer verder terug... `/admin/dsmr_datalogger/meterstatistics/` en `/admin/dsmr_datalogger/dsmrreading/` geven (in tegenstelling tot de database) ook de verkeerde tijd aan.

[2021-02-11 20:06] Tralapo commented on #1282
Direct even ingelogd en verhip:

`Te veel onverwerkte telegrammen: 1844 (50 minuten geleden)`

_Update_
Had hem weer even opnieuw opgestart een tijdje terug en bovenstaande teller loopt nog op nu. Waarschijnlijk inderdaad tot '1 uur geleden'

Meterstatistiek staat bij mij inderdaad ook een uur vooruit.

[2021-02-11 20:16] dennissiemensma commented on #1282
Oke helder. Alles wijst erop dat er iets niet goed gaat met de lokale tijd bij jullie, maar ik heb geen ideeen meer waar dat in kan zitten. Gezien zowel de systeemtijd als tijdzone als DB-records correct lijken.

[2021-02-11 20:26] dennissiemensma commented on #1283
Top!

[2021-02-11 20:27] dennissiemensma commented on #1283
Ik heb de foutafhandeling aangepast voor de volgende versie, nogmaals dank voor je melding.

[2021-02-11 20:27] #1283 closed, assigned to nobody

[2021-02-11 20:38] dennissiemensma commented on #1285
Bedankt voor je melding. Zou je een `dsmr_debuginfo` kunnen delen? Deze vind je op de About-pagina in je DSMR-reader-installatie.

En gebruik je Docker?

[2021-02-11 20:43] dennissiemensma commented on #1286
Bedankt voor je verzoek! Je bent eigenlijk de eerste die zich hiervoor meld en ik denk dat dit zeker een goede toevoeging is, omdat het idd onderdeel is van het DSMR-protocol.

Dat zeggende hebben is het inderdaad nog een uitdaging om meerdere P1-poorten te ondersteunen. Helaas heb ik dat niet meegenomen in de architectuur van DSMR-reader.
Ik denk dat je dan eigenlijk niet ontkomt aan twee remote

[2021-02-11 20:44] dennissiemensma commented on #1286
Zou je nog kunnen aangeven wat de interval van de telegrammen is? Toevallig ook ongeveer elke seconde eentje?

[2021-02-11 20:54] dennissiemensma commented on #1289
Bedankt voor je melding. Dit is denk ik nog niet gedocumenteerd. Je kunt dit gebruiken in de MQTT-mapping van de dagtotalen:

[code]

[code]

Ik zal dit in de volgende release opnemen in de admin-pagina.

[2021-02-11 20:55] dennissiemensma commented on #1289
Voor maand/jaar totalen neem ik dat mee in #989

[2021-02-11 21:11] #1289 closed, assigned to nobody

[2021-02-11 21:21] dennissiemensma commented on #1282
Wat staat er bij jullie in het laatst ontvangen telegram qua tijd electra/gas, op `/admin/dsmr_datalogger/meterstatistics/`?

[code]

[2021-02-11 21:24] Tralapo commented on #1282
`0-0:1.0.0(210211222253W)`
Gas heb ik niet.

De onverwerkte telegrammen zijn inmiddels trouwens weer opgelopen naar `Te veel onverwerkte telegrammen: 3395   (2 uur geleden)`. Schiet mij maar lek.

[2021-02-11 21:25] 8uurg commented on #1282
Op deze regels?
[code]

[2021-02-11 21:28] dennissiemensma commented on #1282
Oke dank, dan weet ik genoeg! De tijd in de telegrammen klopt namelijk ook:

[code]

Ik zie vast iets heel simpels over het hoofd dan.

[2021-02-11 21:29] Tralapo commented on #1282
Klopt, die tijd klopt, maar de timestamp die onder de telegram staat is dan een uur later. Heel vreemd allemaal.

[2021-02-11 21:35] 8uurg commented on #1282
Het lijkt mis te gaan in Django, als ik via ./manage shell het volgende doe krijg ik dit:
[code]
Tijd is dus anders dan in de database?

[2021-02-11 21:40] dennissiemensma commented on #1282
@8uurg welke tijdzone-vars heb je ingesteld voor de docker containers?

Die van Trapalo is bijvoorbeeld:
[code]

[2021-02-11 21:43] 8uurg commented on #1282
Voor dsmr:
[code]
Voor db:
[code]

[2021-02-11 21:44] dennissiemensma commented on #1282
En wat zie je in de DB-container als je dit doet?

[code]

[2021-02-11 21:48] dennissiemensma commented on #1282
En wat doet dit in de DSMR-container?

[code]

Bijvoorbeeld:
[code]

[2021-02-11 21:50] 8uurg commented on #1282
Dat bestand bestaat blijkbaar niet... Maar als ik de database vraag om de huidige tijd krijg ik de juiste waarde terug:

![afbeelding](https://user-images.githubusercontent.com/3746853/107702793-0b590680-6cbb-11eb-9241-fcaeb3f5e2ef.png)

Container:

[code]

[2021-02-11 21:52] Tralapo commented on #1282
Voor mij precies hetzelfde

[code]

[2021-02-11 22:00] 8uurg commented on #1282
Als ik de tabel opvraag via dsmrreader krijg ik het volgende:
[code]
Komt dit overeen met het schema aan jouw kant @dennissiemensma ?

[2021-02-11 22:02] Tralapo commented on #1282
Logisch gezien het brede probleem, maar zie het nu pas: op `admin/dsmr_datalogger/dsmrreading/` zijn alle tijden dus ook een uur uit de pas:

![image](https://user-images.githubusercontent.com/11296429/107704241-36dcf080-6cbd-11eb-957f-7063f09becfc.png)

En inmiddels is inderdaad ook bij mij de interface onbereikbaar geworden na 23:00, omdat hij naar 12-02 wil, maar dat is het nog niet:

![image](

[2021-02-11 22:05] dennissiemensma commented on #1282
Oke dank. Voor alle info. Die tijden op de Django shell en de DB-velden lijken goed.

@8uurg kun je deze eens proberen? Andere locatie nu:
[code]

[2021-02-11 22:10] 8uurg commented on #1282
Niet bijzonders in ieder geval:
[code]

[2021-02-11 22:10] Tralapo commented on #1282
Ik heb de DSMR container nu ingesteld op `- DJANGO_TIME_ZONE=Europe/London` en dan wordt 'ie weer bereikbaar en kloppen alle tijden in de interface wel.

Een timestamp op `admin/dsmr_datalogger/meterstatistics/` komt dan ook weer overeen met de tijd in de telegram zelf.

[2021-02-11 22:11] 8uurg commented on #1282
@Tralapo Enige probleem is dat de processing bij mij nog wel achter bleef lopen met 1h, dus er gaat nog iets niet goed...
Wellicht een goede tijdelijke fix...

[2021-02-11 22:11] dennissiemensma commented on #1282
Je zou het ook nog eens andersom kunnen proberen, door de database op `UTC` te zetten en te kijken of dat het ook oplost. Hoe dan ook wel vreemd.

[2021-02-11 22:12] dennissiemensma commented on #1282
Want op mijn Pi staat het wel op UTC (= London) en dat is het enige verschil met jullie. Los van dat ik zelf geen Docker gebruik dan.

[code]

[2021-02-11 22:13] Tralapo commented on #1282
Processing blijft bij mij telkens rond de 1200 onverwerkte telegrammen hangen.
Een uurtje geleden zat hij weer op 3000+ en heb ik de SQL reeks weer toegepast en heeft hij 14 null's verwijderd.

@dennissiemensma heb nu zowel de DSMR als DSMR-database container op London gezet, maar zie geen verschil. Hij blijft rond die 1200 onverwerkte telegrammen hangen.

[2021-02-11 22:18] dennissiemensma commented on #1282
Je moet ze niet beiden op London zetten. Alleen de DB. DSMR-reader hoort in onze tijdzone te staan. Kun je dat eens proberen?

[2021-02-11 22:18] Tralapo commented on #1282
Was ik net aan het doen. Met DSMR op Amsterdam en de DB op London wordt de interface weer onbereikbaar omdat hij 12-02-2021 wil pakken.

[2021-02-11 22:19] 8uurg commented on #1282
Zelfde hier, aanpassen van de timezone van de DB helpt niet... Behalve dat ik weer nulls binnenkrijg...

[2021-02-11 22:19] dennissiemensma commented on #1282
En wat is de output van:
[code]

[2021-02-11 22:20] dennissiemensma commented on #1282
Verandert de output van `/var/lib/postgresql/data/postgresql.conf` ook als jullie de tijdzone vars aanpassen van de DB?

[2021-02-11 22:21] 8uurg commented on #1282
Nee, hij gebruikt de envvars alleen bij initiele setup. Moest conf handmatig bewerken:
[code]

[2021-02-11 22:22] dennissiemensma commented on #1282
Oke. Misschien wel goed om ook `log_timezone` op `Europe/London` te zetten voor de zekerheid. En dan ben ik benieuwd wat die dan doet na een herstart.

[2021-02-11 22:23] Tralapo commented on #1282
Met timezone op Amsterdam:

[code]

Met timezone op London, geeft 'ie ook Amsterdam?

[code]

Date klopt wel met London:

[code]

[2021-02-11 22:25] dennissiemensma commented on #1282
@Tralapo ik begrijp net dat die alleen bij installatie eenmalig gebruikt wordt. Vandaar en dat verklaart ook mogelijk waarom jullie geen verschil zien als je het aanpast naar een andere tijdzone op de DB.

Dus ik ben benieuwd of het uiteindelijk wel werkt als DSMR-reader `Europe/Amsterdam` heeft en de twee tijdzones in `/var/lib/postgresql/data/postgresql.conf` op `Europe/London`. (Na een herstart

[2021-02-11 22:27] 8uurg commented on #1282
[code]

Helaas verandert ook dit niets (behalve dat de tijd nu in GMT is)... Ik vraag me af wat voor vreemd iets er tussen PostgreSQL en Django afspeelt, want het model geeft een andere waarde dan wat er in de database staat.

[2021-02-11 22:32] Tralapo commented on #1282
Ik dacht dat een docker-container altijd gold als een nieuwe installatie als je hem down had gehaald, maar blijkbaar niet dan?

~~Het lukt mij niet om dat bestand te wijzigen binnen de container, weet jij hoe dat eventueel kan @8uurg? `sudo docker exec -it dsmrdb bash` en daarna met `nano` of `vi` kan niet.~~

Lol, het is letterlijk `apt-get install nano`. Enfin. Gewijzigd in Europe/London en opni

[2021-02-11 22:38] dennissiemensma commented on #1282
Jullie zouden nog de Django shell kunnen proberen en kijken wat dit teruggeeft:

[code]

En:

[code]

----

**Update**: Als voorbeeld, wordt het bij mij zoiets en dat lijkt te kloppen:
[code]

[code]

[2021-02-11 22:40] dennissiemensma commented on #1282
Ik hoor het wel. Morgen weer een nieuwe dag, maar veel opties blijven niet over zo.

[2021-02-11 22:47] Tralapo commented on #1282
Dat geeft:

[code]

En

[code]

[2021-02-12 06:42] xirixiz commented on #1282
De output voor mij is identiek vanuit Docker:
[code]

Verder zet ik alleen ```TZ=Europe/Amsterdam``` op zowel de PG als DSMR container. That's it.
Ik gebruik geen ```PG_TZ``` en/of ```DJANGO_TIMEZONE```.

Belangrijke toevoeging is nog dat ik ```/etc/localtime:ro``` mount in de zowel de PG als DSMR container.

Wel vreemd dat dit probleem ineens ontstaat. Vanuit Alpine Docker vwb Postgres weet ik da

[2021-02-12 06:45] Jasper-GIT commented on #1264
Bedankt, Met je suggestie ook de laatste melding verdwenen!

Groeten,

Jasper

Op do 11 feb. 2021 om 18:36 schreef Dennis Siemensma <
notifications@github.com>:

[2021-02-12 07:05] Tralapo commented on #1282
Raspberry:

[code]

Raspbian:

[code]

Docker:

[code]

Docker-compose:

[code]

Docker-compose file:

[code]

@xirixiz die `DJANGO_TIME_ZONE` en `PG_TZ` zitten erin omdat je die in je eigen repo ook opgenomen hebt in de `docker-compose.example`

[2021-02-12 07:11] pcdiks commented on #1288
Goeiemorgen, het probleem is er nog steeds. Op de 'Over & ondersteuning' pagina zie ik nog steeds twee problemen:
* Te veel onverwerkte telegrammen: 361   (11 seconden geleden)
* Dagstatistieken lopen achter   (4 dagen, 8 uur geleden)

[code]

[2021-02-12 07:37] xirixiz commented on #1282
Het Docker deel ziet er goed uit, niets bijzonders. Nu ben ik benieuwd hoe de setup er van @8uurg eruit ziet.
Wanneer dat identiek is, zit wellicht daar ergens de oorzaak.

De vars komen hier vandaan vwb DJANGO: https://dsmr-reader.readthedocs.io/en/v4/env_settings.html

[2021-02-12 08:36] 8uurg commented on #1282
@dennissiemensma Hierbij de uitvoer van de commandos, de tijd klopt niet: het is op dit moment namelijk 9:28, Nederlandse tijd, niet UTC.
[code]

Edit: Ter aanvulling, via psql (om 9:42, Nederlandse tijd)
[code]

Zelfde gebeurt voor `SELECT NOW();`:
[code]
Via psql:
[code]
Als ik met psycopg2 werk vanuit de dsmr container gaat het (in tegenstelling tot via django.db) wel goed:
[code]
Verder, als i

[2021-02-12 10:20] wtreur commented on #1286
Ik heb hem met `cu` even laten lopen. Dit was het resultaat:
[code]

Met deze meter krijg ik dus om de 11 seconden een bericht. Overigens wordt de meetwaarde in GJ volgens de DSMR-5 spec maar om de 5 minuten geupdate. (bij mij lijkt dat wat onregelmatiger, maar dat zal wel door mijn verbruik komen) Daarnaast zie ik in de spec ook staan dat het bericht om de seconde gestuurd mag(moet?) worden.

Ik

[2021-02-12 12:33] HansG130 opened #1290 "Digitale Meter België, verkeerd inlezen"
Ik het een Belgische digitale meter aangesloten op de p1 poort.
Ik merk op dat hij de tarieven omgewisseld heeft. Overdag neemt hij Laag en 's nachts Hoog tarief.

[2021-02-12 14:31] Tralapo commented on #1282
Naast DSMR draai ik op dezelfde Pi ook Home Assistant in een container. Daarmee las ik ook altijd de meterstanden en huidige verbruik/oplevering uit via MQTT. Dat werkt ook niet meer sinds de boel in de soep liep.

Geen idee of, dan wel hoe het raakvlakken heeft met de tijd-bug, maar het is wel op hetzelfde moment ontstaan. Met logging op DEBUG zegt dsmr_backend.log er dit over:

[code]

En even l

[2021-02-12 16:14] 8uurg commented on #1282
Het lijkt erop dat Django in zijn wrapper rond psycopg2 niet goed tijdzones converteert?
[code]

[2021-02-12 19:10] dennissiemensma commented on #1286
Bedankt voor je aanvulling. Dat lijkt dat erg op DSMR-v5-meters met gas. Die updaten ook elke 5 minuten dacht ik. De inhoudelijk interval maakt dan wat minder uit en dat scheelt weer later.

[2021-02-12 19:14] dennissiemensma commented on #1290
Bedankt voor je vraag. Dit kun je zelf in DSMR-reader oplossen door de tarieven in de frontend-configuratie te hernoemen (om te draaien).

Voor meer achtergrond zie:
- #750
- #858
- #856

[2021-02-12 19:14] #1290 closed, assigned to nobody

[2021-02-12 19:20] dennissiemensma commented on #1288
Bedankt voor je aanvulling. De meldingen uit de logs zijn nog van gisteravond, drie minuten voordat je aangaf iets opgelost te hebben.

Het kan zijn dat je last hebt van een tijdsverschil. Er is nog onderzoek gaande in #1282. Je kunt iig eerst controleren of je van hetzelfde last hebt:
- Telegram datumtijden: https://github.com/dsmrreader/dsmr-reader/issues/1282#issuecomment-777799999
- Getoonde t

[2021-02-12 19:31] pcdiks commented on #1288
Je hebt gelijk, niet gezien. Ik dacht, ik kijk even of ik een trackback zie en post die even. Ik heb het andere issue gelezen en mijn setup is gelijk aan wat daar besproken wordt en ook bij mij staat de tijd niet goed. Ik hou het andere issue in de gaten. Th aks

[2021-02-12 19:31] dennissiemensma commented on #1282
@xirixiz wat krijg je terug als je in de dsmr-container dit doet:

[code]

----

Voorbeeld bij mij:
[code]

[2021-02-12 19:39] dennissiemensma commented on #1282
@8uurg welke versie draai je van `psycopg2`?

[code]

[2021-02-12 19:41] 8uurg commented on #1282
@dennissiemensma
[code]

[2021-02-12 19:50] dennissiemensma commented on #1282
@8uurg oke jammer, die komt overeen. Wat geeft dit op de shell terug? Usernames en wachtwoorden hoef ik uiteraard niet te zien:

[code]

----

[code]

[2021-02-12 19:53] 8uurg commented on #1282
@dennissiemensma Ziet er hetzelfde uit...
[code]

[2021-02-12 19:58] dennissiemensma commented on #1282
En deze?

[code]

---

[code]

[2021-02-12 20:00] 8uurg commented on #1282
Timezone heb ik zowel op `Europe/Amsterdam` als nu op `UTC` gehad.
[code]

[2021-02-12 20:02] dennissiemensma commented on #1282
Zaten jullie trouwens hiervoor op een oudere versie van PostgreSQL? Bijvoorbeeld 10 of 11?

[2021-02-12 20:04] 8uurg commented on #1282
Nope, versie 12, maar eerst op de alpine variant.

En sinds eind januari werkt op die variant datum en tijd niet meer (en crasht daardoor, gok ik, de database):
[code]
Met die update kwam ook wat de database voor mij corrupt heeft gemaakt, en waardoor ik een backup moest terugzetten.
Zoals in de docker thread: gebruik maken van de niet alpine versie de oplossing hiervoor geweest.

[2021-02-12 20:05] Tralapo commented on #1282
Nee, 12 Alpine

Heb trouwens vandaag gemerkt dat als ik mijn Pi reboot, de null errors weer terugkomen en ik eerst jouw fixes weer moet toepassen, @8uurg

[2021-02-12 20:11] 8uurg commented on #1282
Ik heb de errors ook terug zien komen, voornamelijk nadat ik de tijdzone van Django heb gewijzigd...

[2021-02-12 20:11] dennissiemensma commented on #1282
Jullie zouden nog kunnen proberen of jullie dezelfde issues hebben met een **nieuwe, lege** DB-container op dezelfde versie. Er vanuitgaande dat jullie je huidige container even kunnen stoppen en bewaren (geen idee of dat kan).

Het doel is om te kijken wat er gebeurt met een schone DSMR-reader installatie. Die hoeft dan ook maar een minuut ofzo aan metingen te ontvangen, om te zien of die van het

[2021-02-12 20:22] 8uurg commented on #1282
Helaas lijkt een lege database geen soelaas te bieden, net zoals met een al gevulde database verwerkt hij geen datapunten van het afgelopen uur:
![afbeelding](https://user-images.githubusercontent.com/3746853/107818770-61d84a80-6d78-11eb-84ab-1ae07b0cdfc2.png)
Ook weer met de verkeerde timestamp: het is 21:22, Tijdzone heb ik teruggezet op Europe/Amsterdam.

[2021-02-12 20:28] dennissiemensma commented on #1282
Oke, dan ligt het in ieder geval niet aan de backup van destijds.

Ben je wellicht in de gelegenheid om hetzelfde te proberen met een andere versie, zoals Postgres 10, 11 of 13?

[2021-02-12 20:34] 8uurg commented on #1282
Postgres 13 werkt ook niet:
![afbeelding](https://user-images.githubusercontent.com/3746853/107819872-263e8000-6d7a-11eb-8f21-c60050ca8fed.png)

[2021-02-12 20:36] 8uurg commented on #1282
Ik kan kijken of een oudere versie van DSMR wel werkt, het heeft immers eerder gewerkt...

[2021-02-12 20:39] Tralapo commented on #1282
Ik ben nog steeds met deze opdracht bezig want mijn Pi is altijd extreem traag bij het bouwen van containers, maar verwacht dat het resultaat dan wel hetzelfde zal zijn als @8uurg

[2021-02-12 20:40] dennissiemensma commented on #1282
Zaten jullie eerder op een oudere versie van DSMR-reader en zijn jullie tegelijkertijd, met de wisseling van 12 Alpine naar 12, overgegaan naar DSMR-reader v4.11? Of waren jullie al eerder op DSMR-reader v4.11?

[2021-02-12 20:43] 8uurg commented on #1282
Ik zat op een versie van rond begin januari, en voerde een update uit, wat zowel voor DMSR als de DB een update uitvoerde.

[2021-02-12 20:43] Tralapo commented on #1282
Ik heb zaterdag al mijn containers (en dus ook DSMR) geüpdate, dat doe ik eens per maand.

Daarna begonnen de problemen. Toen heb ik op aanraden van @xirixiz de postgres-versie gewijzigd naar niet-alpine en een backup teruggezet (want alles was kapot).

Daarna bleef dit probleem over.

[2021-02-12 20:47] Tralapo commented on #1282
Ik heb zaterdag al mijn containers (en dus ook DSMR) geüpdate, dat doe ik eens per maand.

Daarna liep alles vast en deden DSMR én de DB niets anders dan constant rebooten tot de Pi crashte. Toen heb ik op aanraden van @xirixiz de postgres-versie gewijzigd naar niet-alpine en een backup teruggezet (want alles was kapot).

Daarna bleef dit probleem over.

De backup die ik heb teruggezet is één van

[2021-02-12 20:48] dennissiemensma commented on #1282
Oke helder. Laat maar weten of bijvoorbeeld v4.10 het beter doet.

De wijzigingen inhoudelijk zijn vrij gering: https://github.com/dsmrreader/dsmr-reader/compare/v4.10.0...v4.11.0
Ook qua dependencies: [v4.10.0...v4.11.0 deps](https://github.com/dsmrreader/dsmr-reader/compare/v4.10.0...v4.11.0#diff-619cf240ea6ccb8686ce778b3063fe9e9c6995c571a0c27c7c0845bbcd898872)

[2021-02-12 20:52] 8uurg commented on #1282
4.11 ❌
4.10 ❌
4.9 ❌ -- maar processing staat niet in het adminpaneel...
4.8 ❌ , en dit is de oudste versie die ik zelf mogelijk heb gebruikt...
![afbeelding](https://user-images.githubusercontent.com/3746853/107821613-0fe5f380-6d7d-11eb-8a9a-ca8d3deb6bfb.png)

Dus wellicht is het probleem er al een tijdje, en heb ik het nooit opgemerkt voordat het fout ging.

[2021-02-12 20:58] Tralapo commented on #1282
Ik heb de DB-container verwijderd, de data weggehaald en een nieuwe DB-container gemaakt, maar het enige wat ik dan zie is een lege DSMR interface met deze melding:

[code]

[2021-02-12 20:59] dennissiemensma commented on #1282
Ik weet dan eerlijk gezegd niet meer waar het aan kan liggen. Het moet iets heel subtiels zijn, want ik heb het idee dat het niet bij iedereen speelt. En alleen bij Docker. Anders had ik hier al wel meer meldingen verwacht. Of indirect via xirixiz.

Plus dat ook nog een derde persoon in #1288 last van exact hetzelfde heeft, ook Docker, ook null-waardes, ook tijdsverschil.

[2021-02-12 21:06] 8uurg commented on #1282
Ik denk dat de null waardes komen van de metingen van een ~1 uur geleden die bij afsluiten verwerkt werden, het aantal dat wordt verwijderd is ongeveer gelijk die hoeveelheid.

Verder:
Er is bij mij in ieder geval een grote lijn te trekken langs alle problemen: het heeft met tijd (en tijdzones) te maken 😕
- Database met alpine corrupt omdat tijd stopt met werken in nieuwe db container
    - Overge

[2021-02-12 21:12] Tralapo commented on #1282
Ik heb de database gewijzigd naar `postgres:12.3-alpine` die volgens de site circa 8 maanden oud is. [Link](https://hub.docker.com/layers/postgres/library/postgres/12.3-alpine/images/sha256-f1d62d21165018cd7251f058802ce82f6cdb3a5a19c62fcb26a0d9661c8226a4?context=explore)

DSMR start goed op, alle tijden op `admin/dsmr_datalogger/dsmrreading/` lijken te kloppen en hij is nu bezig met het verwerken

[2021-02-12 21:17] 8uurg commented on #1282
Als ik dezelfde database image gebruik als @Tralapo, dan is dit ook bij mij opgelost.
Blijkbaar brengt de standaard image (niet alpine) ook problemen met zich mee...

[2021-02-12 21:18] dennissiemensma commented on #1282
Echt? Dat lost het op?

[2021-02-12 21:19] Tralapo commented on #1282
Hij is nu klaar met het verwerken van alle telegrammen en inderdaad, alles lijkt opgelost.
Morgen maar eens per versie postgres ophogen om te checken vanaf welke versie het precies fout gaat, nu geen zin meer in ;)

[2021-02-12 21:20] dennissiemensma commented on #1282
@pcdiks probeer ook `12.3-alpine` eens: https://github.com/dsmrreader/dsmr-reader/issues/1282#issuecomment-778457502

[2021-02-12 21:24] 8uurg commented on #1282
Blijkbaar wel. Zo te zien is @xirixiz zijn container ook op alpine gebouwd: `python:3-alpine`, dus wellicht dat het mengen van de twee voor problemen zorgt. Ik weet namelijk wel dat alpine ietswat apart is met zijn eigen c library en timezones.

Verder ben ik bang dat verdere updates van de container dus zelf weer een datumprobleem meebrengen zoals bij de database...

EDIT: De upstream versie van

[2021-02-13 07:50] pcdiks commented on #1282
Ik heb in mijn docker-compose nu 12.3-alpine staan en ik heb geen last meer van de achterblijvende berichten en het uur tijdsverschil. Dit tijdsverschil werkt helemaal door in het systeem zelfs tot aan de upload naar pvoutput. Daar zat ik toevallig gisteren en vanmorgen naar te kijken en het viel me op dat in de grafieken ik al info had voor een uur vooruit. Dat is nu vast ook opgelost.

Ik heb nu

[2021-02-13 09:51] xirixiz commented on #1282
Ik gebruik zelf voor de db geen Alpine meer, al een tijd niet meer, maar zal de docker-compose daar ook op aanpassen. Wellicht kan ik de base image van dsmr ook aanpassen, al wordt de image dan stukken groter....dat is dan weer het nadeel.

Ik zal het eens overdenken, maar volgens mij is het grootste probleem de Alpine postgres image. Dit weekend zal ik eens een DSMR image maken gebaseerd op debia

[2021-02-13 10:23] skank01 commented on #989
Eigenlijk bij nader inzien, alles van "per maand" he, zowel het verbruik laag/hoog tarief, verbruik gas, maar ook de kosten
Dit van de huidige maand, en de vorige maanden ... (per jaar?)
Wanneer zou dit er in komen?
Top wat jullie doen hoor !

[2021-02-13 10:42] dennissiemensma commented on #1288
Ter info voor anderen die dit issue vinden:

De huidige fix lijkt om (momenteel) niet-werkende PostgreSQL container `12-alpine` te vervangen door `12.3-alpine`.

[2021-02-13 11:03] dennissiemensma commented on #989
Bedankt voor je aanvulling. Ik denk eerlijk gezegd dat MQTT **niet** bedoeld is voor het ophalen of exporteren van historische gegevens zoals vorige maanden.
Het mechanisme doet updates van iets wat verandert, de huidige situatie. Dat kan in de context zijn van de huidige minuut, huidige dag, huidige maand of huidig jaar, maar niet de vorige maand of een paar maanden terug, want die veranderen nie

[2021-02-13 11:04] dennissiemensma commented on #1282
Bedankt voor jullie aanvullingen en onderzoek! Ik zou zeggen kijk het even aan wat voor jullie werkt, maar erg fijn dat de oorzaak gevonden is en een (voorlopige) workaround.

[2021-02-13 11:06] skank01 commented on #989
Mmm je hebt een punt.
Maar hoe krijg ik dan in ha een graph van het verbruik per maand?
Met de utility meter in ha, krijg je een vertekend beeld wanneer je bv
utility_meter:
monthly_energy_offpeak:
source: sensor.energy_consumption_tarif_1
cycle: monthly

doet

[2021-02-13 11:07] dennissiemensma commented on #1282
@pcdiks je kunt daar denk ik het beste even een nieuw los issue voor maken.

[2021-02-13 11:07] #1282 closed, assigned to nobody

[2021-02-13 11:22] dennissiemensma commented on #989
Ik denk dat het goed is om te weten dat DSMR-reader er niet voor kan zorgen dat een andere tool een bepaalde visualisatie kan maken van de gegevens in DSMR-reader.
Dit project biedt MQTT voor het pushen van data-updates en een REST API voor het pullen van alle opgeslagen data. Daarmee zou het gros van alle mogelijke wensen te realiseren moeten zijn. Helemaal als daar straks ook nog een dagelijkse

[2021-02-13 11:42] dennissiemensma opened #1291 "MQTT: Tussenstand huidige maand/jaar"
Uitwerking van #685 en #989. Het dagelijks exporteren van de maandtotalen zoals in het dashboard. En hetzelfde voor het huidige jaar.

~Dit betreft alleen de totalen van alle dagtotalen tot nu toe, dus **exclusief** de huidige dag. Zo werkt het huidige dashboard ook. Voor het berekenen van de huidige maand of jaar, inclusief de huidige dag, zullen clients zelf de totalen van twee topics moeten opt

[2021-02-13 11:43] dennissiemensma commented on #685
Dit issue is nu opgenomen in ##1291.

[2021-02-13 11:43] #685 closed

[2021-02-13 11:43] dennissiemensma commented on #989
Dit issue is nu opgenomen in #1291.

[2021-02-13 11:43] #989 closed, assigned to nobody

[2021-02-13 13:24] Tralapo commented on #1282
Zoals beloofd nog even aan het prutsen geweest met het verhogen van de versie ([via Docker Hub](https://hub.docker.com/_/postgres?tab=tags&page=1&ordering=last_updated&name=12)) tot het probleem weer opspeelt.

`postgres:12.3-alpine` `last pushed 8 months ago` :heavy_check_mark:
`postgres:12.4-alpine` `last pushed 4 months ago` :heavy_check_mark:
`postgres:12.5-alpine` `last pushed 15 days ago` :x

[2021-02-13 15:05] Kruijd opened #1292 "Server error na upgrade: duplicate key value violates unique constraint "django_migrations_pkey" DETAIL: Key (id)=(170) already exists."
Na de upgradepoging naar de laatste versie van DSMRReader V4 krijg ik de volgende foutmelding. Blijkbaar gaat het bij de database migratie mis.
Bij voorbaat dank voor de hulp!
Jan

[code]

[code]
[code]

[2021-02-13 15:19] dennissiemensma commented on #1292
Je zou deze kunnen proberen: https://github.com/dsmrreader/dsmr-reader/issues/866#issuecomment-583565825

En daarna opnieuw proberen `deploy.sh` uit te voeren.

[2021-02-13 16:37] Tralapo commented on #1282
Toch weer een kleine correctie/aanvulling hierop. `12.5` werkt goed als ik bijvoorbeeld de `docker-compose`-file wijzig van `12.4` naar `12.5` en dan `docker-compose pull` en `docker-compose up -d` doe. Dan lijkt alles goed te werken, zo had ik dat ook gecheckt voor de comment hierboven. Maar dat blijkt zo te zijn **tót** ik de Pi een keer reboot.

Dan ontstaat [het andere issue weer](https://gith

[2021-02-13 17:40] Kruijd commented on #1292
Dat heeft het gedaan, bedankt Dennis!
complimenten voor dsmr reader en je voortreffelijke service!

[2021-02-13 17:40] #1292 closed, assigned to nobody

[2021-02-13 20:47] xirixiz commented on #1282
Goede analyse heren, jammer dat ik niet veel bij heb kunnen dragen. Ik ben dit weekend helaas druk met andere zaken.

De DSMR image (latest) is gebaseerd op, dus het issue zit idd zoals eerder gedacht echt in de Alpine PG release.
Ik zal er iig een note van maken in de README voor nu.

[code]

[2021-02-14 00:57] Koal4 opened #1293 "Feature request: Totaal verbruik archive screen & doorlinken naar dag view"
Is het misschien mogelijk om totaal verbruik ook te vermelden onder de 'mouse hoover' in archive screen?

![image](https://user-images.githubusercontent.com/10795027/107865575-17ce9200-6e68-11eb-8c81-9443b4e13d06.png)

Ik begrijp dat je dit ook aflezen vanuit de grafiek maar daar kan ik niet de onderscheid maken of het no 7 of 8 is.,

Tevens kwam ik ook meteen op het idee of het mogelijk is om op

[2021-02-14 10:48] remyderuysscher opened #1294 "DSMR Reader (latest) won't start anymore (PostgreSQL 9.3)"
When upgrading docker container from xirixiz/dsmr-reader-docker:latest-v4.9.0-amd64 to latest
[code]

[2021-02-14 14:55] dennissiemensma commented on #1294
Bedankt voor je vraag. Het lijkt erop dat de DB-migraties niet uitgevoerd zijn. Ik zou verwachten dat deze bij het starten van de container telkens uitgevoerd worden. Je kunt dit handmatig uitvoeren binnen de DSMR container met:
[code]

[2021-02-14 14:57] dennissiemensma commented on #1293
Bedankt voor je verzoek. Ik zal er ooit opnieuw naar kijken, maar ik weet wel dat het niet heel triviaal is om werkend te krijgen. Hier heeft ook iemand eerder naar gekeken.

[2021-02-14 15:10] remyderuysscher commented on #1294
Helaas dit gaat niet goed.

[code]

[2021-02-14 15:14] dennissiemensma commented on #1294
De foutmelding zegt me helaas niets.

Welke DB-image gebruik je? En heb je die ook ge-upgrade?

[2021-02-14 15:16] remyderuysscher commented on #1294
Nee alleen de container. Ik zal anders een db dump/restore proberen nadat er een nieuwe db is aangemaakt.

[2021-02-14 15:20] dennissiemensma commented on #1294
Welke DB-versie gebruik je nu? Houd er rekening mee dat er momenteel issues zijn met recente Alpine-versies: https://github.com/dsmrreader/dsmr-reader/issues/1282#issuecomment-778618994. Je kunt waarschijnlijk niet de laatste gebruiken.

[2021-02-14 15:31] remyderuysscher commented on #1294
Ik gebruik de standaard pg database van Synology DSM 6, dus geen docker postgress.

postgres (PostgreSQL) 9.3.25

[2021-02-14 15:41] corchat opened #1295 "Feature request"
Het lijkt erop dat de buienradar plugin 1 keer per uur update.
De data van buienradar update elke 10 minuten.
Kan er een gebruikerskeuze worden ingebouwd voor de update interval zodat je kan kiezen hoe vaak de data wordt opgehaald.

Groet Cornelis

[2021-02-14 15:51] dennissiemensma commented on #1295
Bedankt voor je verzoek. De huidige weergegevens in DSMR-reader zijn puur bedoeld als indicatie, zodat later terug te zien is of de temperatuur bijvoorbeeld veel hoger of later was dan een voorgaand jaar.

Daarom laat ik de interval voor wat het is, ook omdat het naar verwachting weinig invloed heeft qua daggemiddelde en de hoogste/laagste temperatuur.

[2021-02-14 18:59] #1295 closed, assigned to nobody

[2021-02-14 19:00] remyderuysscher commented on #1294
Als ik een backup maak, database drop en container weggooi en vervolgens lege database en nieuwe container aanmaak dan zou ik verwachten dat er een hele nieuwe database wordt gemaakt zelfs dat gaat fout?

[code]

[2021-02-14 19:10] dennissiemensma commented on #1294
Ik weet niet precies hoe dat in combinatie met een niet-Docker-DB werkt. Krijg je dezelfde foutmelding als eerder, wanneer je de zelf migraties uitvoert?

Ik zie niet zo 1-2-3 een reden waarom je nu foutmeldingen krijgt, wanneer het eerder wel bij je werkte.

[2021-02-14 19:11] dennissiemensma commented on #1294
Je kunt ook nog kijken of er een deel van de migraties is uitgevoerd, of geen enkele, met:
[code]

[2021-02-14 19:14] tomelfring commented on #1294
Als ik het goed zie, wordt WITH ORDINALITY pas ondersteund sinds postgres 9.4. Je geeft eerder aan dat je 9.3 gebruikt.

[2021-02-14 19:16] dennissiemensma commented on #1294
Het zou ook nog wel eens een Django dingetje kunnen zijn inderdaad. Ik dacht dat versie 9 nog ondersteund werd, maar blijkbaar heeft Django al de ondersteuning onder de 9.5 gedropped.

https://docs.djangoproject.com/en/3.1/ref/databases/#postgresql-notes

[code]

Wellicht was dit al langere tijd zo, maar loop je er nu tegenaan. Het zou iig de eerdere foutmelding verklaren en ook waarom de migratie

[2021-02-14 19:18] dennissiemensma commented on #1294
En in de volgende Django 3.2 (nu 3.1) wordt het nog een minor hoger:

[code]

Dus wellicht goed om versie 10 of hoger te gebruiken. Dan kun je weer een tijdje vooruit.

[2021-02-14 21:44] dennissiemensma commented on #1285
@TheCrow-zz ben je hier nog verder mee gekomen?

[2021-02-15 06:02] remyderuysscher commented on #1294
Ok dank, Ik blijf dan voorlopig op xirixiz/dsmr-reader-docker:latest-v4.9.0-amd64 zitten, deze werkt nog wel goed met postgres 9.3
Zodra ik naar een recente postgres container ben overgestapt doe ik een nieuwe poging.

[2021-02-15 06:02] #1294 closed, assigned to remyderuysscher

[2021-02-15 06:03] remyderuysscher commented on #1294
Postgres version < 9.4 not supported anymore.

[2021-02-15 09:08] benoitwatt opened #1296 "Trends analyse over selecteerbare periodes"
Hi Dennis,

Bedankt voor de ontwikkeling van deze applicatie! Werkt vlotjes met een BE meter! :)

Vraagje: is het mogelijk om de trends analyse uit te breiden naar een periode verschillend van de periode van de laatste 4 weken? Mijn doelstelling is om mijn energieverbruik te analyseren over een langere periode en daarop mijn verbruik af te stemmen.

Voornamelijk de grafiek 'AVERAGE ELECTRICITY CON

[2021-02-15 15:14] mvklingeren commented on #1276
Hi Dennis,

Ik heb inderdaad die melding over het hoofd gezien; via google simpelweg
gezocht op: installation dsmr.....
weet niet dat je er veel aan kan doen als mensen niet lezen ; -)

-

Had gisteren na het aansluiten van een lamp het probleem dat hier een
aardlekschakelaar eruit lag. Kan gebeuren...
maar liep tegen een heel vervelend probleem aan waardoor het pid lock
bestand van gunicorn in de

[2021-02-15 17:24] dennissiemensma commented on #1294
Top, laat maar weten als je er alsnog niet uit komt. Voor de volledigheid, het is niet alleen < 9.4, maar ook < 9.6 zodra Django 3.2 uit komt.

En op dit moment wordt ook alleen nog 9.6+ ondersteund door Postgres zelf tot eind dit jaar: https://www.postgresql.org/support/versioning/

Dit is wat minder een issue voor simpele thuis-databases, maar je doet je er goed aan om bij een postgres-container

[2021-02-15 17:30] dennissiemensma commented on #1296
Bedankt voor je verzoek. Ik denk dat dit wel redelijk makkelijk voor je te maken is. Gezien het over gegevens direct uit de slimme meter gaat lijkt het me sowieso een mooie uitbreiding.

Momenteel staat het [hardcoded op 4 weken](https://github.com/dsmrreader/dsmr-reader/blob/v4/dsmr_frontend/views/trends.py#L39), maar daar is wel wat mee te spelen denk ik. Al weet ik niet tot hoever ik kan gaan t

[2021-02-15 17:34] dennissiemensma commented on #1276
Ik kan wel een keertje kijken of ik de PID files kan verplaatsen naar `/tmp/` ipv `/var/tmp/`. De laatstgenoemde wordt nu gebruikt en overleeft een reboot, dat is de oorzaak. Alleen weet ik niet meer of ik het ooit met goede reden juist in `/var/tmp/` had gezet.

[2021-02-15 17:36] dennissiemensma opened #1297 "Supervisor-processen verplaatsen van /var/tmp/ naar /tmp/"
Uitzoeken of de PID-files van de Supervisor-processen in `/tmp/` kunnen, ipv `/var/tmp/`. Dit zodat ze na een (onvoorziene) reboot automatisch verwijderd worden.

Deployscript moet dan ook aangepast worden.

[2021-02-15 21:16] dennissiemensma commented on #1277
Doorgevoerd voor v2: https://dsmr-reader.readthedocs.io/en/v2/installation/explained.html

[2021-02-15 21:28] dennissiemensma commented on #1277
Idem voor v3: https://dsmr-reader.readthedocs.io/en/v3/installation/explained.html

[2021-02-15 21:29] #1277 closed, assigned to nobody

[2021-02-16 10:54] AlbertHakvoort commented on #594
Het lijkt mij inderdaad te veel werk om al die verschillende inverters te gaan ondersteunen, maar als er een (rest) api zou zijn waar je de data vanuit je S0 meter of SolarEdge of welk apparaat kan doorsturen is het toch een "simpele" oplossing.

[2021-02-16 15:21] reboot1983 opened #1298 "Gas en temperatuur statistieken updaten niet live"
In het tabblad live grafieken wordt netjes iedere minuut een update gegeven van de 4 onderdelen van het stroomverbruik. Dit gaat per minuut en functioneert zoals verwacht. Echter, het gasverbruik per 5 minuten wordt niet 'live' (iedere 5 minuten) bijgewerkt. Evenals ieder heel uur ook geen update van de actuele temperatuur wordt getoond.

Als ik deze pagina bijvoorbeeld 5 minuten voor het hele uur

[2021-02-16 20:19] dennissiemensma commented on #594
@AlbertHakvoort bedankt voor je suggestie. Wat er dan gebeurt is dat alle leveranciers hun omvormersoftware compatible moeten maken met zo'n API. Om nog maar te zwijgen over alle dataopslag, logica en aggregaties die daarmee gedaan moeten worden binnen DSMR-reader.
Daardoor wordt het deels een kloon van wat bijvoorbeeld PVOutput al aanbiedt. Het lijkt me dan praktischer om PVOutput zich te laten s

[2021-02-16 20:36] dennissiemensma commented on #1298
Bedankt voor je melding. De pagina [ververst momenteel in z'n geheel na 15 minuten](https://github.com/dsmrreader/dsmr-reader/blob/v4.11.0/dsmr_frontend/templates/dsmr_frontend/live-graphs.html#L264). Ik kan die wel wat lager zetten op bijvoorbeeld 5 minuten, totdat dat iemand in de weg zit.

De refreshes zullen overigens altijd gebaseerd zijn op basis van je schermduur en niet de (systeem)tijd. E

[2021-02-16 20:45] dennissiemensma commented on #1298
Aangepast voor volgende release.

[2021-02-16 20:45] #1298 closed, assigned to nobody

[2021-02-16 20:46] dennissiemensma commented on #1252
Mocht je hier nog ergens tegenaan lopen, laat maar weten.

[2021-02-16 20:46] #1252 closed, assigned to nobody

[2021-02-17 19:25] dennissiemensma commented on #1298
Onderdeel van [v4.12](https://github.com/dsmrreader/dsmr-reader/releases/tag/v4.12.0)

[2021-02-17 19:25] dennissiemensma commented on #1289
Onderdeel van [v4.12](https://github.com/dsmrreader/dsmr-reader/releases/tag/v4.12.0)

[2021-02-17 19:26] dennissiemensma commented on #1283
Onderdeel van [v4.12](https://github.com/dsmrreader/dsmr-reader/releases/tag/v4.12.0)

[2021-02-17 19:26] dennissiemensma commented on #1257
Onderdeel van [v4.12](https://github.com/dsmrreader/dsmr-reader/releases/tag/v4.12.0)

[2021-02-17 19:26] dennissiemensma commented on #1259
Onderdeel van [v4.12](https://github.com/dsmrreader/dsmr-reader/releases/tag/v4.12.0)

[2021-02-17 19:56] reboot1983 commented on #1298
Cool. Dankjewel voor de moeite.

[2021-02-18 11:53] davidvf opened #1299 "4.12 does not work on ARM systems"
When starting the new DSMR container, i got the following output in the logs

[code]

OS is fully up to date, running on a Raspberry PI 3B
[code]

I found a similar issue on this website:
[https://github.com/linuxserver/docker-papermerge/issues/4#issuecomment-735236388](url)

Resolution:
[code]

Retry container startup - all works fine now:
[code]

[2021-02-18 17:02] JeanMiK opened #1300 "Timestamps of readings no longer correctly displayed (offset by 1 or 2 hours)"
I have recently upgraded my two dsmr-reader instances running under docker from 4.8 to 4.12. At the same time, I also updated the PostrgeSql docker to a newer version (now postgres:12.6 as current version of tag postgres:12; upgrade by docker pull of the initial postgres:12-alpine corrupted the db which would no longer start). After quite a lot of trouble linked to the db server upgrade and the is

[2021-02-18 17:13] dataegg commented on #1255
Met deze info kun je hier prima een binary sensor voor maken in HA

[2021-02-18 17:18] dataegg opened #1301 "Meterstanden opnemen in dagstatistieken"
![archive](https://user-images.githubusercontent.com/16045882/108394933-8f5c4280-7215-11eb-983c-2b724ea83074.PNG)

Zie attached screenshots. Is het mogelijk dat bij de weergave van het archief ook de op dat moment bekende meterstanden worden getoond?

[2021-02-18 18:18] dennissiemensma commented on #1299
Thanks for reporting. I think you may want to report this to the docker project instead of it's not code related: https://github.com/xirixiz/dsmr-reader-docker/issues

[2021-02-18 18:21] dennissiemensma commented on #1301
Ik denk dat zoiets wel mogelijk is, maar het wordt dan wel een benadering van de meterstanden. Ook om het met terugwerkende kracht te doen, als die telegrammen nog opgeslagen zijn (vandaar dat retentie ze niet allemaal verwijdert). De huidige statistieken houden namelijk alleen een diff bij en niet de absolute standen.

[2021-02-18 18:24] dennissiemensma commented on #1300
Did you happen to notice #1282? It might be related to your situation due to future times, but I'm not sure.

[2021-02-18 18:27] dennissiemensma commented on #1300
By the way. Note the solution linked in that issue description. You might want to change to 12.4-alpine. Both non-alpine and newer alpine versions did not seem to work.

[2021-02-18 19:58] JeanMiK commented on #1300
It seems indeed to be linked to the same underlying problems. I did not see #1282 myself, as it was already closed by the time I had my issues.

The update of the postgres:12-alpine docker container did also 'kill' my db ( like @Tralapo, I had a segmentation fault on start-up of the db), which triggered me to switch to postrge:12 for the db.

The time shift is similar, and it seems to be caused by

[2021-02-18 20:02] 8uurg commented on #1282
Voor de mensen die afvragen wat er met de Alpine images mis is: ze zijn overgestapt naar 64 bits tijd. (Zie https://wiki.alpinelinux.org/wiki/Release_Notes_for_Alpine_3.13.0#time64_requirements)
Als je naar een nieuwere versie wil updaten, hierbij wat instructies!

Het probleem is echter dat een tussenlaag waar docker gebruik van maakt (`libseccomp2`) dit in de standaardversies voor de Raspberry P

[2021-02-18 20:04] 8uurg commented on #1300
I've posted some instructions (though in Dutch, hopefully not an issue!) on how to get the newer alpine images to work under https://github.com/dsmrreader/dsmr-reader/issues/1282#issuecomment-781601342.

[2021-02-18 20:39] dataegg commented on #1301
Kijk maar eens even. Waar ik het nu voor nodig had heb ik het ook even voor teruggerekend. Ik denk dat meterstanden goed is voor het beeld. Meterstanden zijn 'normaal' als je b.v. excel gebruikt om zaken bij de houden juist de informatie die je hebt en al het andere wordt daar dan van afgeleid. DSMR reader doet dat natuurlijk anders en dat is ook logisch maar voor de beeldvorming en compleetheid z

[2021-02-18 20:50] JeanMiK commented on #1300
I had already updated libseccomp2, but I was under the impression that it was only needed to get python / django to work with the new postgres:12 docker, not for the functionality of the server itself.
Indeed postgres:12 (i.e. postgres:12.6) seemed to have been working fine in stand-alone mode with the recovered db even before I did the libseccomp2 update, it was only the reader itself that showed

[2021-02-18 21:00] 8uurg commented on #1300
After updating `libseccomp2` I can boot `postgres:12-alpine` which crashed with a segmentation fault previously. So I do think that this library was responsible for that as well.

[2021-02-18 21:39] dennissiemensma commented on #1300
## For other users, see #1282

[2021-02-18 21:39] #1300 closed, assigned to nobody

[2021-02-19 19:21] #1299 closed, assigned to nobody

[2021-02-20 10:06] remb0 commented on #908
ik heb het nogmaals geprobeerd en in de postgress db zie ik de records van voor 2019 :)
ook in admin > dsmr-uitlezing (alleen lezen) zie ik de gegevens terug.
alleen in frontend > archief > kan ik niet verder terug dan 2019 (wanneer ik begonnen ben met dsmr).  de uitgelezen data (via het script op https://github.com/dsmrreader/dsmr-reader/issues/908)   lijkt dus wel in dsmr te staan maar wordt nog